<?xml version="1.0"?>
<Enviroments>
	<!-- Global Server Parameters -->
        <server trxSizeLimit="16000" trxAbortSizeLimit="16000" tradingPartner="HpEqualize" name="Web Login Server" port="9003" diagPort="9001" logConfigFile="log4j.xml" __system_out="default"/>

	<!-- List of Environments that this server can talk to -->
	<env name="AMED" >
	  <pool useSoTimeOut="true" id="COBOL" hostname="apl-amed.za.mhgad.com" port="9307" connections="5" autotimeout="120000" poolMaxWaitTime="90000"/>
	</env>
	
	<env name="NEWMED" >
	  <pool useSoTimeOut="true" id="COBOL" hostname="apl-newmed.za.mhgad.com" port="9308" connections="5" autotimeout="120000" poolMaxWaitTime="90000"/>
	</env>
	
	<env name="AMEDEMED" >
	  <pool useSoTimeOut="true" id="COBOL" hostname="apl-amed.za.mhgad.com" port="9117" connections="5" autotimeout="120000" poolMaxWaitTime="30000"/>
	</env>
	
	<env name="IMPERIAL" >
	  <pool useSoTimeOut="true" id="COBOL" hostname="apl-imperial.za.mhgad.com" port="9314" connections="5" autotimeout="120000" poolMaxWaitTime="90000"/>
	</env>
	
	<env name="MEDIPOS" >
	  <pool useSoTimeOut="true" id="COBOL" hostname="apl-medipos.za.mhgad.com" port="9315" connections="5" autotimeout="120000" poolMaxWaitTime="90000"/>
	</env>
	
	<env name="NIMAS" mhgAccount="NIMAS">
	  <pool useSoTimeOut="true" id="COBOL" hostname="apl-nimas.za.mhgad.com" port="9313" connections="5" autotimeout="120000" poolMaxWaitTime="90000"/>
	</env>
	
	
	
	<env name="GEMS" mhgAccount="GEMS">
	  <pool id="COBOL" useSoTimeOut="false" hostname="apl-gems.za.mhgad.com" port="9310" connections="5" autotimeout="120000" poolMaxWaitTime="30000" />
	</env>

	<env name="SAMWU" mhgAccount="SAMWU">
	  <pool id="COBOL" useSoTimeOut="false" hostname="apl-samwu.za.mhgad.com" port="9305" connections="5" autotimeout="120000" poolMaxWaitTime="30000" />
	</env>

	<transaction        class="InterfaceTransactions.HpEqualise.HpEqualiseTransaction" />
	<transaction-header class="InterfaceTransactions.DefaultImplementation.DefaultHeader" />

	<pool-definitions-file name="pool.xml" />

  	<snmp-port mibFile="mibs.xml">9162</snmp-port>

</Enviroments>
