<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- A time/date based rolling appender -->
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
	<param name="Threshold" value="INFO"/>
	<param name="File" value="log/Mededi.log"/>
	<param name="DatePattern" value="'.'yyyyMMdd"/>
	<layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d %-5p %-17c (%13F:%L) %3x - %m\n"/>
        </layout>
    </appender>

    <root>
        <priority value="ERROR" />
        <appender-ref ref="FILE"/>
    </root>
</log4j:configuration>
