<Enviroments>
		
	<server
		__system_out="default"
		cmdPasswd="p34nu7"
		diagPort="27301"
		logConfigFile="log4j.xml"
		name="Medista ACPT"
		port="27300"
		tradingPartner="Medista"
		trxAbortSizeLimit="64000"
		trxSizeLimit="48000"
	/>
	
	<env
		mhgAccount="GEMS"
		name="GEMS"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9110"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>	
	<env
		name="MEDIPOS"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9108"
			startDisabled="false"
			stickyStandin="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	
	<transaction
		class="InterfaceTransactions.Generic.GenTransaction"
	/>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
		27205
	</snmp-port>
	<tailWatchServer
		id="Medista"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="27014"
	/>
	<diagTailWatchServer
		id="Medista"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="27015"
	/>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<transaction-x-ref	>
		
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			mhg="ELCHECK"
			tradingPartner="1"
		/>
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="4"
		/>
		
	</transaction-x-ref>
	<destination-x-ref	>
		
		<x-ref
			description="Medipos: Dentists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7001"
		/>
		<x-ref
			description="Medipos: Pathologists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7002"
		/>
		<x-ref
			description="Medipos: Specialists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7003"
		/>
		<x-ref
			description="Medipos: Optometrists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7004"
		/>
		<x-ref
			description="Medipos: Radiologists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7005"
		/>
		<x-ref
			description="Medipos: Oncologists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7006"
		/>
		<x-ref
			description="Medipos: Physiotherapists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7007"
		/>
		<x-ref
			description="Medipos: Other"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7008"
		/>
		<x-ref
			description="Medipos: Doctors (GP)"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7009"
		/>
		<x-ref
			description="GEMS: Dentists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT001"
		/>
		<x-ref
			description="GEMS: Pathologists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT002"
		/>
		<x-ref
			description="GEMS: Specialists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT003"
		/>
		<x-ref
			description="GEMS: Optometrists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT004"
		/>
		<x-ref
			description="GEMS: Radiologists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT005"
		/>
		<x-ref
			description="GEMS: Oncologists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT006"
		/>
		<x-ref
			description="GEMS: Physiotherapists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT007"
		/>
		<x-ref
			description="GEMS: Other"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT008"
		/>
		<x-ref
			description="GEMS: Doctors (GP)"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT009"
		/>
	</destination-x-ref>
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="IR0b0t"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-acpt:7500/JBAUDIT"
			DbUserName="traffic"
			logTable="Medista"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM,TRGXML01,CHGCLAIM,SOLAUTH"
			/>
		</claimsLogger>
	</logger>
</Enviroments>
