<Enviroments>
	
	
	
	<server
		__system_out_="sweeperTraf.system.out"
		diagPort="10101"
		internalMessages="true"
		logConfigFile="log4j.xml"
		name="Solutio Sweeper Traf"
		port="10100"
		sendTrxDetailsToStatusMonitor="true"
		tradingPartner="SolutioSweeper"
		trxAbortSizeLimit="350000"
	/>
	<env
		name="MHRSTEST"
	>
		
		<pool
			autotimeout="7000"
			connections="1"
			dropClientOnError="false"
			hostname="196.35.1.86"
			id="COBOL"
			poolMaxWaitTime="15000"
			port="20822"
			useSoTimeOut="false"
		/>
	</env>
	
	<env
		name="MHRSTCLM"
	>
		
		<pool
			autotimeout="7000"
			connections="1"
			dropClientOnError="false"
			hostname="196.35.1.86"
			id="COBOL"
			poolMaxWaitTime="15000"
			port="20824"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="MHRSTMED"
	>
		
		<pool
			autotimeout="7000"
			connections="1"
			dropClientOnError="false"
			hostname="196.35.1.86"
			id="COBOL"
			poolMaxWaitTime="15000"
			port="20826"
			useSoTimeOut="false"
		/>
	</env>
	<transaction
		class="InterfaceTransactions.DefaultImplementation.DefaultTransaction"
	/>
	<transaction-header
		class="InterfaceTransactions.DefaultImplementation.DefaultHeader"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
		10102
	</snmp-port>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<tailWatchServer
		id="Sweeper"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="10103"
	/>
	<diagTailWatchServer
		id="Sweeper"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20104"
	/>
	<logger
		classname="InterfaceTransactions.Diagnostics.SolutioLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="IR0b0t"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-acpt:7500/JBAUDIT"
			DbUserName="traffic"
			logTable="Sweeper"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM,TRGXML01,CHGCLAIM,SOLAUTH"
			/>
		</claimsLogger>
	</logger>
</Enviroments>

