<?xml version="1.0"?>
<Enviroments>

	<time-zone_ help="optional" reason="fix jdk1.4 bug on Solaris">GMT-2</time-zone_>

	<!-- Global Server Parameters -->
	<server trxSizeLimit="48000" trxAbortSizeLimit="64000"
		cmdPasswd="p34nu7" tradingPartner="IKat" name="IKat ACPT"
		port="27010" diagPort="27011" logConfigFile="log4j.xml" __system_out="default" />

	<!-- List of Environments that this server can talk to -->

	<env name="AMED">
		<pool useSoTimeOut="false" stickyStandin="false"
			autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true"
			dropClientOnError="false" startDisabled="false"
			waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true"
			id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9106"
			connections="10" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="GEMS" mhgAccount="GEMS">
		<pool useSoTimeOut="false" stickyStandin="false"
			autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true"
			dropClientOnError="false" startDisabled="false"
			waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true"
			id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9110" connections="10"
			autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="NEWMED" mhgAccount="NEWMED">
		<pool useSoTimeOut="false" stickyStandin="false"
			autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true"
			dropClientOnError="false" startDisabled="false"
			waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true"
			id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9107"
			connections="10" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="NIMAS">
		<pool useSoTimeOut="false" stickyStandin="false"
			autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true"
			dropClientOnError="false" startDisabled="false"
			waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true"
			id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9113" connections="10"
			autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="POLMED">
		<pool useSoTimeOut="false" stickyStandin="false"
			autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true"
			dropClientOnError="false" startDisabled="false"
			waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true"
			id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9109" connections="10"
			autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="SAMWU">
		<pool useSoTimeOut="false" stickyStandin="false"
			autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true"
			dropClientOnError="false" startDisabled="false"
			waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true"
			id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9115"
			connections="10" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<!-- Log File Parameters  -->
	<transaction class="InterfaceTransactions.Generic.GenTransaction" />
	<transaction-header class="InterfaceTransactions.Generic.GenHeaders" />

	<pool-definitions-file name="pool.xml" />

	<snmp-port mibFile="mibs.xml">27007</snmp-port>

	<tailWatchServer id="IKat" tcpipPort="27012"
		multicast-host-ip="" multicast-port="-1" />
	<diagTailWatchServer id="IKat" tcpipPort="27013"
		multicast-host-ip="" multicast-port="-1" />

	<synchronous-transactions>true</synchronous-transactions>

	<transaction-x-ref>
		<x-ref tradingPartner="1" mhg="ELCHECK" functionNo="0001"
			description="Elegibility check" />
		<x-ref tradingPartner="2" mhg="REALCLM" functionNo="000A"
			description="Realtime Pharmacy Medicine claims" />
		<x-ref tradingPartner="3" mhg="REALCLM" functionNo="0002"
			description="Realtime doctor Medicine claims" />
		<x-ref tradingPartner="4" mhg="REALCLM" functionNo="0004"
			description="Realtime doctor claims" />
		<x-ref tradingPartner="5" mhg="REALCLM" functionNo="0010"
			description="Realtime doctor" />
		<x-ref tradingPartner="127" mhg="PING" functionNo="0008"
			isPingOrHandshake="true" description="Ping" />
	</transaction-x-ref>

	<destination-x-ref>
		<x-ref tradingPartner="PA001" mhg="AMED" functionMask="FFFF" 
			description="BANKMED: Dentists" />
		<x-ref tradingPartner="PA002" mhg="AMED" functionMask="0000" 
			description="BANKMED: Pathologists" />
		<x-ref tradingPartner="PA003" mhg="AMED" functionMask="FFFF" 
			description="BANKMED: Specialists" />
		<x-ref tradingPartner="PA004" mhg="AMED" functionMask="0000" 
			description="BANKMED:Optometrists" />
		<x-ref tradingPartner="PA005" mhg="AMED" functionMask="0000" 
			description="BANKMED:Radiologists" />
		<x-ref tradingPartner="PA006" mhg="AMED" functionMask="0000" 
			description="BANKMED: Oncologists " />
		<x-ref tradingPartner="PA007" mhg="AMED" functionMask="0000" 
			description="BANKMED: Physiotherapists" />
		<x-ref tradingPartner="PA008" mhg="AMED" functionMask="0000" 
			description="BANKMED: Other" />
		<x-ref tradingPartner="PA009" mhg="AMED" functionMask="FFFF" 
			description="BANKMED: Doctors (GP)" />
		<x-ref tradingPartner="PE001" mhg="AMED" functionMask="FFFF" 
			description="WOOLTRU: Dentists" />
		<x-ref tradingPartner="PE002" mhg="AMED" functionMask="0000" 
			description="WOOLTRU: Pathologists" />
		<x-ref tradingPartner="PE003" mhg="AMED" functionMask="FFFF" 
			description="WOOLTRU: Specialists" />
		<x-ref tradingPartner="PE004" mhg="AMED" functionMask="0000" 
			description="WOOLTRU:Optometrists" />
		<x-ref tradingPartner="PE005" mhg="AMED" functionMask="0000" 
			description="WOOLTRU:Radiologists" />
		<x-ref tradingPartner="PE006" mhg="AMED" functionMask="0000" 
			description="WOOLTRU: Oncologists " />
		<x-ref tradingPartner="PE007" mhg="AMED" functionMask="0000" 
			description="WOOLTRU: Physiotherapists" />
		<x-ref tradingPartner="PE008" mhg="AMED" functionMask="0000" 
			description="WOOLTRU: Other" />
		<x-ref tradingPartner="PE009" mhg="AMED" functionMask="FFFF" 
			description="WOOLTRU: Doctors (GP)" />
		<x-ref tradingPartner="PG001" mhg="AMED" functionMask="FFFF" 
			description="ENGEN: Dentists" />
		<x-ref tradingPartner="PG002" mhg="AMED" functionMask="0000" 
			description="ENGEN: Pathologists" />
		<x-ref tradingPartner="PG003" mhg="AMED" functionMask="FFFF" 
			description="ENGEN: Specialists" />
		<x-ref tradingPartner="PG004" mhg="AMED" functionMask="0000" 
			description="ENGEN:Optometrists" />
		<x-ref tradingPartner="PG005" mhg="AMED" functionMask="0000" 
			description="ENGEN:Radiologists" />
		<x-ref tradingPartner="PG006" mhg="AMED" functionMask="0000" 
			description="ENGEN: Oncologists " />
		<x-ref tradingPartner="PG007" mhg="AMED" functionMask="0000" 
			description="ENGEN: Physiotherapists" />
		<x-ref tradingPartner="PG008" mhg="AMED" functionMask="0000" 
			description="ENGEN: Other" />
		<x-ref tradingPartner="PG009" mhg="AMED" functionMask="FFFF" 
			description="ENGEN: Doctors (GP)" />
		<x-ref tradingPartner="PK001" mhg="AMED" functionMask="FFFF" 
			description="AFROX: Dentists" />
		<x-ref tradingPartner="PK002" mhg="AMED" functionMask="0000" 
			description="AFROX: Pathologists" />
		<x-ref tradingPartner="PK003" mhg="AMED" functionMask="FFFF" 
			description="AFROX: Specialists" />
		<x-ref tradingPartner="PK004" mhg="AMED" functionMask="0000" 
			description="AFROX:Optometrists" />
		<x-ref tradingPartner="PK005" mhg="AMED" functionMask="0000" 
			description="AFROX:Radiologists" />
		<x-ref tradingPartner="PK006" mhg="AMED" functionMask="0000" 
			description="AFROX: Oncologists " />
		<x-ref tradingPartner="PK007" mhg="AMED" functionMask="0000" 
			description="AFROX: Physiotherapists" />
		<x-ref tradingPartner="PK008" mhg="AMED" functionMask="0000" 
			description="AFROX: Other" />
		<x-ref tradingPartner="PK009" mhg="AMED" functionMask="FFFF" 
			description="AFROX: Doctors (GP)" />
		<x-ref tradingPartner="PL001" mhg="AMED" functionMask="FFFF" 
			description="SAPPI: Dentists" />
		<x-ref tradingPartner="PL002" mhg="AMED" functionMask="0000" 
			description="SAPPI: Pathologists" />
		<x-ref tradingPartner="PL003" mhg="AMED" functionMask="FFFF" 
			description="SAPPI: Specialists" />
		<x-ref tradingPartner="PL004" mhg="AMED" functionMask="0000" 
			description="SAPPI:Optometrists" />
		<x-ref tradingPartner="PL005" mhg="AMED" functionMask="0000" 
			description="SAPPI:Radiologists" />
		<x-ref tradingPartner="PL006" mhg="AMED" functionMask="0000" 
			description="SAPPI: Oncologists " />
		<x-ref tradingPartner="PL007" mhg="AMED" functionMask="0000" 
			description="SAPPI: Physiotherapists" />
		<x-ref tradingPartner="PL008" mhg="AMED" functionMask="0000" 
			description="SAPPI: Other" />
		<x-ref tradingPartner="PL009" mhg="AMED" functionMask="FFFF" 
			description="SAPPI: Doctors (GP)" />
		<x-ref tradingPartner="PN001" mhg="AMED" functionMask="FFFF" 
			description="Golden arrow: Dentists" />
		<x-ref tradingPartner="PN002" mhg="AMED" functionMask="0000" 
			description="Golden arrow: Pathologists" />
		<x-ref tradingPartner="PN003" mhg="AMED" functionMask="FFFF" 
			description="Golden arrow: Specialists" />
		<x-ref tradingPartner="PN004" mhg="AMED" functionMask="0000" 
			description="Golden arrow:Optometrists" />
		<x-ref tradingPartner="PN005" mhg="AMED" functionMask="0000" 
			description="Golden arrow:Radiologists" />
		<x-ref tradingPartner="PN006" mhg="AMED" functionMask="0000" 
			description="Golden arrow: Oncologists " />
		<x-ref tradingPartner="PN007" mhg="AMED" functionMask="0000" 
			description="Golden arrow: Physiotherapists" />
		<x-ref tradingPartner="PN008" mhg="AMED" functionMask="0000" 
			description="Golden arrow: Other" />
		<x-ref tradingPartner="PN009" mhg="AMED" functionMask="FFFF" 
			description="Golden arrow: Doctors (GP)" />
		<x-ref tradingPartner="PO001" mhg="AMED" functionMask="FFFF" 
			description="FISHMED: Dentists" />
		<x-ref tradingPartner="PO002" mhg="AMED" functionMask="0000" 
			description="FISHMED: Pathologists" />
		<x-ref tradingPartner="PO003" mhg="AMED" functionMask="FFFF" 
			description="FISHMED: Specialists" />
		<x-ref tradingPartner="PO004" mhg="AMED" functionMask="0000" 
			description="FISHMED:Optometrists" />
		<x-ref tradingPartner="PO005" mhg="AMED" functionMask="0000" 
			description="FISHMED:Radiologists" />
		<x-ref tradingPartner="PO006" mhg="AMED" functionMask="0000" 
			description="FISHMED: Oncologists " />
		<x-ref tradingPartner="PO007" mhg="AMED" functionMask="0000" 
			description="FISHMED: Physiotherapists" />
		<x-ref tradingPartner="PO008" mhg="AMED" functionMask="0000" 
			description="FISHMED: Other" />
		<x-ref tradingPartner="PO009" mhg="AMED" functionMask="FFFF" 
			description="FISHMED: Doctors (GP)" />
		<x-ref tradingPartner="PP001" mhg="AMED" functionMask="FFFF" 
			description="BP: Dentists" />
		<x-ref tradingPartner="PP002" mhg="AMED" functionMask="0000" 
			description="BP: Pathologists" />
		<x-ref tradingPartner="PP003" mhg="AMED" functionMask="FFFF" 
			description="BP: Specialists" />
		<x-ref tradingPartner="PP004" mhg="AMED" functionMask="0000" 
			description="BP:Optometrists" />
		<x-ref tradingPartner="PP005" mhg="AMED" functionMask="0000" 
			description="BP:Radiologists" />
		<x-ref tradingPartner="PP006" mhg="AMED" functionMask="0000" 
			description="BP: Oncologists " />
		<x-ref tradingPartner="PP007" mhg="AMED" functionMask="0000" 
			description="BP: Physiotherapists" />
		<x-ref tradingPartner="PP008" mhg="AMED" functionMask="0000" 
			description="BP: Other" />
		<x-ref tradingPartner="PP009" mhg="AMED" functionMask="FFFF" 
			description="BP: Doctors (GP)" />
		<x-ref tradingPartner="PI001" mhg="AMED" functionMask="FFFF" 
			description="PICKNPAY: Dentists" />
		<x-ref tradingPartner="PI002" mhg="AMED" functionMask="0000" 
			description="PICKNPAY: Pathologists" />
		<x-ref tradingPartner="PI003" mhg="AMED" functionMask="FFFF" 
			description="PICKNPAY: Specialists" />
		<x-ref tradingPartner="PI004" mhg="AMED" functionMask="0000" 
			description="PICKNPAY:Optometrists" />
		<x-ref tradingPartner="PI005" mhg="AMED" functionMask="0000" 
			description="PICKNPAY:Radiologists" />
		<x-ref tradingPartner="PI006" mhg="AMED" functionMask="0000" 
			description="PICKNPAY: Oncologists " />
		<x-ref tradingPartner="PI007" mhg="AMED" functionMask="0000" 
			description="PICKNPAY: Physiotherapists" />
		<x-ref tradingPartner="PI008" mhg="AMED" functionMask="0000" 
			description="PICKNPAY: Other" />
		<x-ref tradingPartner="PI009" mhg="AMED" functionMask="FFFF" 
			description="PICKNPAY: Doctors (GP)" />
		<x-ref tradingPartner="PT001" mhg="GEMS" functionMask="FFFF" 
			description="GEMS: Dentists" />
		<x-ref tradingPartner="PT002" mhg="GEMS" functionMask="0000" 
			description="GEMS: Pathologists" />
		<x-ref tradingPartner="PT003" mhg="GEMS" functionMask="FFFF" 
			description="GEMS: Specialists" />
		<x-ref tradingPartner="PT004" mhg="GEMS" functionMask="0000" 
			description="GEMS:Optometrists" />
		<x-ref tradingPartner="PT005" mhg="GEMS" functionMask="0000" 
			description="GEMS:Radiologists" />
		<x-ref tradingPartner="PT006" mhg="GEMS" functionMask="0000" 
			description="GEMS: Oncologists " />
		<x-ref tradingPartner="PT007" mhg="GEMS" functionMask="0000" 
			description="GEMS: Physiotherapists" />
		<x-ref tradingPartner="PT008" mhg="GEMS" functionMask="0000" 
			description="GEMS: Other" />
		<x-ref tradingPartner="PT009" mhg="GEMS" functionMask="FFFF" 
			description="GEMS: Doctors (GP)" />
		<x-ref tradingPartner="PU001" mhg="IMPERIALMED" functionMask="FFFF" 
			description="IMPERIALMED: Dentists" />
		<x-ref tradingPartner="PU002" mhg="IMPERIALMED" functionMask="0000" 
			description="IMPERIALMED: Pathologists" />
		<x-ref tradingPartner="PU003" mhg="IMPERIALMED" functionMask="FFFF" 
			description="IMPERIALMED: Specialists" />
		<x-ref tradingPartner="PU004" mhg="IMPERIALMED" functionMask="0000" 
			description="IMPERIALMED:Optometrists" />
		<x-ref tradingPartner="PU005" mhg="IMPERIALMED" functionMask="0000" 
			description="IMPERIALMED:Radiologists" />
		<x-ref tradingPartner="PU006" mhg="IMPERIALMED" functionMask="0000" 
			description="IMPERIALMED: Oncologists " />
		<x-ref tradingPartner="PU007" mhg="IMPERIALMED" functionMask="0000" 
			description="IMPERIALMED: Physiotherapists" />
		<x-ref tradingPartner="PU008" mhg="IMPERIALMED" functionMask="0000" 
			description="IMPERIALMED: Other" />
		<x-ref tradingPartner="PU009" mhg="IMPERIALMED" functionMask="FFFF" 
			description="IMPERIALMED: Doctors (GP)" />
		<x-ref tradingPartner="P7001" mhg="MEDIPOS" functionMask="FFFF" 
			description="Medipos: Dentists" />
		<x-ref tradingPartner="P7002" mhg="MEDIPOS" functionMask="0000" 
			description="Medipos: Pathologists" />
		<x-ref tradingPartner="P7003" mhg="MEDIPOS" functionMask="FFFF" 
			description="Medipos: Specialists" />
		<x-ref tradingPartner="P7004" mhg="MEDIPOS" functionMask="0000" 
			description="Medipos:Optometrists" />
		<x-ref tradingPartner="P7005" mhg="MEDIPOS" functionMask="0000" 
			description="Medipos:Radiologists" />
		<x-ref tradingPartner="P7006" mhg="MEDIPOS" functionMask="0000" 
			description="Medipos: Oncologists " />
		<x-ref tradingPartner="P7007" mhg="MEDIPOS" functionMask="0000" 
			description="Medipos: Physiotherapists" />
		<x-ref tradingPartner="P7008" mhg="MEDIPOS" functionMask="0000" 
			description="Medipos: Other" />
		<x-ref tradingPartner="P7009" mhg="MEDIPOS" functionMask="FFFF" 
			description="Medipos: Doctors (GP)" />
		<x-ref tradingPartner="P1001" mhg="Newmed" functionMask="FFFF" 
			description="Metropolitan: Dentists" />
		<x-ref tradingPartner="P1002" mhg="Newmed" functionMask="0000" 
			description="Metropolitan: Pathologists" />
		<x-ref tradingPartner="P1003" mhg="Newmed" functionMask="FFFF" 
			description="Metropolitan: Specialists" />
		<x-ref tradingPartner="P1004" mhg="Newmed" functionMask="0000" 
			description="Metropolitan:Optometrists" />
		<x-ref tradingPartner="P1005" mhg="Newmed" functionMask="0000" 
			description="Metropolitan:Radiologists" />
		<x-ref tradingPartner="P1006" mhg="Newmed" functionMask="0000" 
			description="Metropolitan: Oncologists " />
		<x-ref tradingPartner="P1007" mhg="Newmed" functionMask="0000" 
			description="Metropolitan: Physiotherapists" />
		<x-ref tradingPartner="P1008" mhg="Newmed" functionMask="0000" 
			description="Metropolitan: Other" />
		<x-ref tradingPartner="P1009" mhg="Newmed" functionMask="FFFF" 
			description="Metropolitan: Doctors (GP)" />
		<x-ref tradingPartner="PV001" mhg="Newmed" functionMask="FFFF" 
			description="TRANSMED: Dentists" />
		<x-ref tradingPartner="PV002" mhg="Newmed" functionMask="0000" 
			description="TRANSMED: Pathologists" />
		<x-ref tradingPartner="PV003" mhg="Newmed" functionMask="FFFF" 
			description="TRANSMED: Specialists" />
		<x-ref tradingPartner="PV004" mhg="Newmed" functionMask="0000" 
			description="TRANSMED:Optometrists" />
		<x-ref tradingPartner="PV005" mhg="Newmed" functionMask="0000" 
			description="TRANSMED:Radiologists" />
		<x-ref tradingPartner="PV006" mhg="Newmed" functionMask="0000" 
			description="TRANSMED: Oncologists " />
		<x-ref tradingPartner="PV007" mhg="Newmed" functionMask="0000" 
			description="TRANSMED: Physiotherapists" />
		<x-ref tradingPartner="PV008" mhg="Newmed" functionMask="0000" 
			description="TRANSMED: Other" />
		<x-ref tradingPartner="PV009" mhg="Newmed" functionMask="FFFF" 
			description="TRANSMED: Doctors (GP)" />
		<x-ref tradingPartner="PM001" mhg="Nimas" functionMask="FFFF" 
			description="PG: Dentists" />
		<x-ref tradingPartner="PM002" mhg="Nimas" functionMask="0000" 
			description="PG: Pathologists" />
		<x-ref tradingPartner="PM003" mhg="Nimas" functionMask="FFFF" 
			description="PG: Specialists" />
		<x-ref tradingPartner="PM004" mhg="Nimas" functionMask="0000" 
			description="PG:Optometrists" />
		<x-ref tradingPartner="PM005" mhg="Nimas" functionMask="0000" 
			description="PG:Radiologists" />
		<x-ref tradingPartner="PM006" mhg="Nimas" functionMask="0000" 
			description="PG: Oncologists " />
		<x-ref tradingPartner="PM007" mhg="Nimas" functionMask="0000" 
			description="PG: Physiotherapists" />
		<x-ref tradingPartner="PM008" mhg="Nimas" functionMask="0000" 
			description="PG: Other" />
		<x-ref tradingPartner="PM009" mhg="Nimas" functionMask="FFFF" 
			description="PG: Doctors (GP)" />
		<x-ref tradingPartner="P5001" mhg="POLMED" functionMask="FFFF" 
			description="POLMED: Dentists" />
		<x-ref tradingPartner="P5002" mhg="POLMED" functionMask="0000" 
			description="POLMED: Pathologists" />
		<x-ref tradingPartner="P5003" mhg="POLMED" functionMask="FFFF" 
			description="POLMED: Specialists" />
		<x-ref tradingPartner="P5004" mhg="POLMED" functionMask="0000" 
			description="POLMED:Optometrists" />
		<x-ref tradingPartner="P5005" mhg="POLMED" functionMask="0000" 
			description="POLMED:Radiologists" />
		<x-ref tradingPartner="P5006" mhg="POLMED" functionMask="0000" 
			description="POLMED: Oncologists " />
		<x-ref tradingPartner="P5007" mhg="POLMED" functionMask="0000" 
			description="POLMED: Physiotherapists" />
		<x-ref tradingPartner="P5008" mhg="POLMED" functionMask="0000" 
			description="POLMED: Other" />
		<x-ref tradingPartner="P5009" mhg="POLMED" functionMask="FFFF" 
			description="POLMED: Doctors (GP)" />
		<x-ref tradingPartner="PQ001" mhg="SAMWU" functionMask="FFFF" 
			description="SAMWU: Dentists" />
		<x-ref tradingPartner="PQ002" mhg="SAMWU" functionMask="0000" 
			description="SAMWU: Pathologists" />
		<x-ref tradingPartner="PQ003" mhg="SAMWU" functionMask="FFFF" 
			description="SAMWU: Specialists" />
		<x-ref tradingPartner="PQ004" mhg="SAMWU" functionMask="0000" 
			description="SAMWU:Optometrists" />
		<x-ref tradingPartner="PQ005" mhg="SAMWU" functionMask="0000" 
			description="SAMWU:Radiologists" />
		<x-ref tradingPartner="PQ006" mhg="SAMWU" functionMask="0000" 
			description="SAMWU: Oncologists " />
		<x-ref tradingPartner="PQ007" mhg="SAMWU" functionMask="0000" 
			description="SAMWU: Physiotherapists" />
		<x-ref tradingPartner="PQ008" mhg="SAMWU" functionMask="0000" 
			description="SAMWU: Other" />
		<x-ref tradingPartner="PQ009" mhg="SAMWU" functionMask="FFFF" 
			description="SAMWU: Doctors (GP)" />
	</destination-x-ref>

	<logger classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logFileRefreshInterval="Daily" 
		processSleepTime="1000" 
		logDirectory="log/accesslog-test">
		<claimsLogger 
			poolId="generic" 
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbUrl="jdbc:sybase:Tds:cptlsyb92.za.mhgad.com:7500/JBAUDIT" 
			logTable="IKat" 
			DbUserName="traffic" 
			DbPassword="IR0b0t" 
			minpoolsize="1" 
			maxpoolsize="2" 
			timeout="600000">
			<logTransactions desc="comma seperated list of transactions to log" value="REALCLM,TRGXML01,CHGCLAIM,SOLAUTH" />
		</claimsLogger>
	</logger>
	
</Enviroments>
