<Enviroments>
	
	<server
		active="true"
		autoDisable="false"
		cmdPasswd="1q2w3e"
		diagPort="20836"
		logConfigFile="log4j.xml"
		name="Medipost Test"
		port="20835"
		sendTrxDetailsToStatusMonitor="true"
		tradingPartner="Medipost"
		trxAbortSizeLimit="64000"
		trxSizeLimit="48000"
	/>
	<env
		mhgAccount="AMED"
		name="BP"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="ENGEN"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
		/>
	</env>
	<env
		mhgAccount="GEMS"
		name="GEMS"
	>
		
		<pool
			autotimeout="120000"
			connections="25"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9110"
		/>
	</env>
	<env
		mhgAccount="IMPERIAL"
		name="IMPERIAL"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9105"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="MEDIPOS"
		name="MEDIPOS"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9108"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="NEWMED"
		name="METROPOLITAN"
	>
		
		<pool
			autotimeout="120000"
			connections="25"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9107"
		/>
	</env>
	<env
		mhgAccount="NIMAS"
		name="NIMAS"
	>
		
		<pool
			autotimeout="120000"
			connections="25"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9113"
		/>
	</env>
	
	<env
		mhgAccount="NEWMED"
		name="TRANSMED"
	>
		
		<pool
			autotimeout="120000"
			connections="25"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="40000"
			port="9107"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="WOOLTRU"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
		/>
	</env>
	<env
		name="SAMWU"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9115"
		/>
	</env>
	<transaction
		class="InterfaceTransactions.Generic.GenTransactionPlainTextInput"
	/>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
		20837
	</snmp-port>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<transaction-x-ref	>
		
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			mhg="ELCHECK"
			tradingPartner="1"
		/>
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="2"
		/>
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4"
		/>
		<x-ref
			description="Ping"
			functionNo="0008"
			mhg="PING"
			tradingPartner="127"
		/>
	</transaction-x-ref>
	<tailWatchServer
		id="Attune Primary"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20838"
	/>
	<diagTailWatchServer
		id="Attune Primary"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20839"
	/>
	<destination-x-ref	>
		
		<x-ref
			description="Transmed"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="T02"
		/>
		<x-ref
			description="Woolthru"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="T03"
		/>
		<x-ref
			description="Engen"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="T05"
		/>
		<x-ref
			description="Metropolitan"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="T11"
		/>
		<x-ref
			description="BP"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="T12"
		/>
		<x-ref
			description="Samwu"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="T15"
		/>
		
		<x-ref
			description="Gems"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="T19"
		/>
		<x-ref
			description="Gems"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="P19"
		/>
		<x-ref
			description="Nimas"
			functionMask="FFFF"
			mhg="NIMAS"
			tradingPartner="T20"
		/>
		<x-ref
			description="Imperial"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="T21"
		/>
		<x-ref
			description="Medipos"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="T22"
		/>
	</destination-x-ref>
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="IR0b0t"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-acpt:7500/JBAUDIT"
			DbUserName="traffic"
			logTable="Medipost"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM"
			/>
		</claimsLogger>
	</logger>
</Enviroments>

