<Enviroments>	
	<server
		__system_out="default"
		diagPort="9007"
		logConfigFile="log4j.xml"
		name="HpInterFace Acpt Server"
		port="9004"
		trxAbortSizeLimit="156000"
		trxSizeLimit="128000"
	/>
	<env
		mhgAccount="LDAP"
		name="LDAP"
	>
		
		<pool
			autotimeout="120000"
			connections="2"
			hostname="arctic.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="30000"
			port="9105"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<multicastDiagServer
		multicast-host-ip="225.225.225.225"
		multicast-port="30000"
	/>
	<env
		mhgAccount="PILIR"
		name="PILIR"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9104"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		mhgAccount="IMAGE"
		name="IMAGE"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		mhgAccount="NIMAS"
		name="NIMAS"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9113"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		mhgAccount="GENESIS"
		name="GENESIS"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptux02.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9114"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		name="AMED"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9106"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		name="AMED_DEV"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9206"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		name="NEWMED"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9107"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		name="LAMAF"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptux02.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9105"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		name="REDRIB"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9111"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	
	<env
		name="GEMS"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9110"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		name="SAMWU"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9115"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		mhgAccount="SYSTEM"
		name="SYSTEM"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlagw90.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="40000"
			port="33000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<pool-definitions-file
		defaultCOBOL_ConnectorClass="InterfaceTransactions.TcpPool.Connectors.Cobol.CobolConnector"
		name="pool.xml"
	>
		
		<pool
			class="InterfaceTransactions.TcpPool.Connectors.Cobol.CobolConnector"
			hostName="cptlagw90.za.mhgad.com"
			id="POJAS"
			port="33000"
		/>
	</pool-definitions-file>
	<logger
		classname="InterfaceTransactions.Diagnostics.HpInterFaceLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	/>
	<transaction
		class="InterfaceTransactions.DefaultImplementation.DefaultTransaction"
	/>
	<transaction-header
		class="InterfaceTransactions.DefaultImplementation.DefaultHeader"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		host="cptlagw90.za.mhgad.com"
		mibFile="mibs.xml"
	>
		9163
	</snmp-port>
	<tailWatchServer
		id="Internet"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="9018"
	/>
	<diagTailWatchServer
		id="Internet"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="9019"
	/>
</Enviroments>