<?xml version="1.0"?>
<Enviroments>

	<server sendTrxDetailsToStatusMonitor="true" trxSizeLimit="128000"
		trxAbortSizeLimit="256000" cmdPasswd="1q2w3e" tradingPartner="Mediswitch"
		name="DHS GEMS NON QPBM" port="20900" diagPort="20901"
		logConfigFile="log4j_gems_non_qpbm.xml" __system_out="default" />

	<env name="GEMS_NON_QPBM" mhgAccount="GEMS">
		<pool id="COBOL" hostname="cptlxml01.za.mhgad.com" port="9110"
			connections="10" autotimeout="120000" poolMaxWaitTime="120000" />
	</env>

	<transaction class="InterfaceTransactions.Generic.GenTransaction" />
	<transaction-header class="InterfaceTransactions.Generic.GenHeaders" />

	<pool-definitions-file name="pool.xml" />

	<snmp-port mibFile="mibs.xml">20902</snmp-port>
	<tailWatchServer id="Mediswitch" tcpipPort="20903"
		multicast-host-ip="" multicast-port="-1" />
	<diagTailWatchServer id="Mediswitch" tcpipPort="20904"
		multicast-host-ip="" multicast-port="-1" />
	<inputDataServer id="Mediswitch" tcpipPort="20905" multicast-host-ip="" multicast-port="-1" />

	<synchronous-transactions>true</synchronous-transactions>

	<transaction-x-ref>
		<x-ref tradingPartner="1" mhg="ELCHECK" functionNo="0001"
			isPingOrHandshake="true" description="Elegibility check" />
		<x-ref tradingPartner="2" mhg="REALCLM" functionNo="000A"
			description="Realtime Pharmacy Medicine claims" />
		<x-ref tradingPartner="3" mhg="REALCLM" functionNo="0002"
			description="Realtime doctor Medicine claims" />
		<x-ref tradingPartner="4" mhg="REALCLM" functionNo="0004"
			description="Realtime doctor claims" />
		<x-ref tradingPartner="5" mhg="REALCLM" functionNo="0010" 
			description="Realtime doctor" />
		<x-ref tradingPartner="127" mhg="PING" functionNo="0008"
			isPingOrHandshake="true" description="Ping" />
	</transaction-x-ref>

	<destination-x-ref>

		<x-ref tradingPartner="MGER0006" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS EMERALD REALTIME (MEDICAL)" />
		<x-ref tradingPartner="MGES0001" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS EMERALD SWITCHON (MEDICAL)" />
		<x-ref tradingPartner="MGOR0001" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS ONYX REALTIME (MEDICAL)" />
		<x-ref tradingPartner="MGOS0001" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS ONYX SWITCHON (MEDICAL)" />
		<x-ref tradingPartner="MGRR0001" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS RUBY REALTIME (MEDICAL)" />
		<x-ref tradingPartner="MGRS0001" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS RUBY SWITCHON (MEDICAL)" />
			
		<x-ref tradingPartner="MOPP0003" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS EMERALD PATHOLOGY REALER (MEDICAL)" />
		<x-ref tradingPartner="MOPR0003" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS EMERALD REALER (MEDICAL)" />
		<x-ref tradingPartner="MOPR0004" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS EMERALD REALER RADIO PHYSIO (MEDICAL)" />
		<x-ref tradingPartner="MGOP0001" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS ONYX PATHOLOGY REALER (MEDICAL)" />
		<x-ref tradingPartner="MGOR0003" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS ONYX REALER (MEDICAL)" />
		<x-ref tradingPartner="MGOR0002" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS ONYX REALER RADIO PHYSIO (MEDICAL)" />
		<x-ref tradingPartner="MGRP0002" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS RUBY PATHOLOGY REALER (MEDICAL)" />
		<x-ref tradingPartner="MGRR0002" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS RUBY REALER (MEDICAL)" />
		<x-ref tradingPartner="MGRR0003" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS RUBY REALER RADIO PHYSIO (MEDICAL)" />
		<x-ref tradingPartner="MGEM0001" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS MEDICLINIC Emerald" />
		<x-ref tradingPartner="MGOM0001" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS MEDICLINIC Onyx" />
		<x-ref tradingPartner="MGRM0003" mhg="GEMS_NON_QPBM"
			functionMask="FFFF" description="MHG: GEMS MEDICLINIC Ruby" />	
		
		<x-ref tradingPartner="MGOP0001" mhg="GEMS_NON_QPBM" functionMask="FFFF"
		description="MHG:GEMS Emerald pathology realer (Medical)" />
		<x-ref tradingPartner="MGRP0002" mhg="GEMS_NON_QPBM" functionMask="FFFF"
		description="MHG:GEMS Ruby pathology realer (Medical)" />	
		<x-ref tradingPartner="MOPP0003" mhg="GEMS_NON_QPBM" functionMask="FFFF"
		description="MHG:GEMS Emerald pathology realer (Medical)" />		
			
	</destination-x-ref>

	<logger classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logFileRefreshInterval="Daily" 
		processSleepTime="1000" 
		logDirectory="log/accesslog-gems-nq">
		<claimsLogger 
			poolId="generic" 
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbUrl="jdbc:sybase:Tds:cptlsyb30.za.mhgad.com:5100/JBAUDIT" 
			logTable="DHSGems" 
			DbUserName="traffic" 
			DbPassword="pJ9fXZ3d" 
			minpoolsize="1" 
			maxpoolsize="2" 
			timeout="600000">
			<logTransactions desc="comma seperated list of transactions to log" value="REALCLM" />
		</claimsLogger>
	</logger>
	
</Enviroments>
