<Enviroments>
	
	<server
		__system_out="default"
		cmdPasswd="1q2w3e"
		diagPort="20401"
		distributedCacheEnabled="true"
		distributedCacheEntryTimeout="120"
		distributedCacheIP="cptlagw01.za.mhgad.com"
		distributedCachePort="11211"
		logConfigFile="log4j.xml"
		name="DHS Nimas Server"
		port="20400"
		sendTrxDetailsToStatusMonitor="true"
		tradingPartner="Mediswitch"
		trxAbortSizeLimit="256000"
		trxSizeLimit="128000"
	/>
	<env
		mhgAccount="NIMAS"
		name="NIMAS_NON_QPBM"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="apl-nimas.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9313"
			useSoTimeOut="true"
		/>
	</env>
	<env
		mhgAccount="PROTEKTA"
		name="PROTEKTA"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="apl-protekta.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9316"
			useSoTimeOut="true"
		/>
	</env>
	
	
	
	<transaction
		class="InterfaceTransactions.Generic.GenTransaction"
	/>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
		20402
	</snmp-port>
	<tailWatchServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20403"
	/>
	<diagTailWatchServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20404"
	/>
	<inputDataServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20405"
	/>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<transaction-x-ref	>
		
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			isPingOrHandshake="true"
			mhg="ELCHECK"
			tradingPartner="1"
		/>
		<x-ref
			description="Realtime Pharmacy Medicine claims"
			functionNo="000A"
			mhg="REALCLM"
			tradingPartner="2"
		/>
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3"
		/>
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4"
		/>
		<x-ref
			description="Ping"
			functionNo="0008"
			isPingOrHandshake="true"
			mhg="PING"
			tradingPartner="127"
		/>
		<x-ref
			description="Realtime doctor"
			functionNo="0010"
			mhg="REALCLM"
			tradingPartner="5"
		/>
	</transaction-x-ref>
	<destination-x-ref	>
		
		<x-ref
			description="MHG: NIMAS REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MNRM0001"
		/>
		<x-ref
			description="MHG: NIMAS SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MNSM0002"
		/>
		<x-ref
			description="MHG: NIMAS REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MSRR0002"
		/>
		<x-ref
			description="MHG: NIMAS PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MSPR0006"
		/>
		<x-ref
			description="MHG: NIMAS REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MSRM0007"
		/>
		<x-ref
			description="MHG: NIMAS REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MNMR0002"
		/>
		<x-ref
			description="MHG: NETCARE (HOSPITAL)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MNHO0002"
		/>
		<x-ref
			description="MHG: MHG: NETCARE (MEDICAL)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MNME0006"
		/>
		<x-ref
			description="MHG: NETCARE (MEDICLINIC)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MNME0005"
		/>
		<x-ref
			description="MHG: NETCARE (NETCARE)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MNNE0002"
		/>
		<x-ref
			description="MHG: PG (HOSPITAL)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MPHO0016"
		/>
		<x-ref
			description="MHG: PG (MEDICLINIC)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MPME0007"
		/>
		<x-ref
			description="MHG: PG (NETCARE)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MPNE0004"
		/>
		<x-ref
			description="MHG: PG GROUP (MEDICAL)"
			functionMask="FFFF"
			mhg="NIMAS_NON_QPBM"
			tradingPartner="MPGM0005"
		/>
		<x-ref
			description="MHG: PROTEKTA (REALTIME)"
			functionMask="FFFF"
			mhg="PROTEKTA"
			tradingPartner="MPRE0010"
		/>

		<x-ref
			description="MHG: PROTEKTA SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="PROTEKTA"
			tradingPartner="MPSM0008"
		/>
		<x-ref
			description="MHG: PROTEKTA REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="PROTEKTA"
			tradingPartner="MPRM0008"
		/>
		<x-ref
			description="MHG: PROTEKTA PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="PROTEKTA"
			tradingPartner="MPPR0003"
		/>
		<x-ref
			description="MHG: PROTEKTA REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="PROTEKTA"
			tradingPartner="MPRR0003"
		/>
		<x-ref
			description="MHG: PROTEKTA MEDICLINIC REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="PROTEKTA"
			tradingPartner="MPMR0004"
		/>
		

	</destination-x-ref>
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="pJ9fXZ3d"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-prod:5100/JBAUDIT"
			DbUserName="traffic"
			logTable="DHSNimas"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM"
			/>
		</claimsLogger>
	</logger>
</Enviroments>

