<?xml version="1.0"?>
<!--
startDisabled:				Primary must start is a disabled state
waitForSyncToFinishTimeout:	max time in ms to wait for backup to finish synchronization
autoEnable:					if true then connector will automatically be enabled when the SYNC_STOP event is received
autoDisable:					if true then connector will disable itself as soon as it switches to the backup


-->
<Enviroments>
	
	<!-- <time-zone help="optional" reason="fix jdk1.4 bug on Solaris">GMT-2</time-zone> -->
	<server trxSizeLimit="1024000" trxAbortSizeLimit="1024000" cmdPasswd="1q2w3e" tradingPartner="GuiApps" name="Gui Applications" active="true" autoDisable="false" port="40600" diagPort="40601" logConfigFile="log4j.xml" __system_out__="pojas.system.out" sendTrxDetailsToStatusMonitor="true"/>
	<multicastDiagServer multicast-host-ip="225.225.225.225" multicast-port="40000" />

	<!-- List of Environments that this server can talk to -->

	<env name="AMED" mhgAccount="AMED" >
		<pool id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9121" connections="2" autotimeout="120000" poolMaxWaitTime="30000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="100" autotimeout="120000" poolMaxWaitTime="1000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="100" autotimeout="120000" 
poolMaxWaitTime="120000"/>
	</env>

	<env name="IMPERIAL">
		<pool id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9127" connections="2" autotimeout="120000" poolMaxWaitTime="30000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
	</env>

	<env name="GEMS" mhgAccount="GEMS" >
		<pool id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9126" connections="2" autotimeout="120000" poolMaxWaitTime="30000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000" 
/>
	</env>

	<env name="JBoss" mhgAccount="AMED">
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>
	
	
    <env name="JBossW" mhgAccount="IMAGE">
        <pool id="EJB" hostname="cptlacp01.za.mhgad.com" port="1099"
                  connections="10" autotimeout="120000" poolMaxWaitTime="10000"/>
        </env>
	

	<env name="MEDIPOS">
		<pool id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9130" connections="2" autotimeout="120000" poolMaxWaitTime="30000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>

	<env name="POLMED" mhgAccount="POLMED" >
		<pool id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9122" connections="2" autotimeout="120000" poolMaxWaitTime="30000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000" 
/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>

	<env name="SHARE" mhgAccount="SHARE" >
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>

	<env name="SYSTEM" mhgAccount="SYSTEM" >
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>

	<env name="WORKFLOW" mhgAccount="WORKFLOW" >
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
	</env>

	<env name="GAME_LOCAL" mhgAccount="GAME_LOCAL" >
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000" 
/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>

	<env name="NOTIFY" mhgAccount="NOTIFY" >
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>

	<env name="PRICE" mhgAccount="PRICE" >
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="127.0.0.1" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>

	<env name="SPINE" mhgAccount="SPINE" >
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="127.0.0.1" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
	</env>

	<env name="IMAGE" mhgAccount="IMAGE" >
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="127.0.0.1" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>

	<env name="SPINELOG" mhgAccount="SPINELOG" >
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="127.0.0.1" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>

	<!--PILIR-->
	<env name="PILIR" mhgAccount="PILIR" >
		<pool id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9120" connections="2" autotimeout="120000" poolMaxWaitTime="30000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
	</env>

	<env name="NIMAS" mhgAccount="NIMAS" >
		<pool id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9123" connections="2" autotimeout="120000" poolMaxWaitTime="30000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
	</env>

	<env name="GENESIS" mhgAccount="GENESIS" >
		<pool id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9114" connections="2" autotimeout="120000" poolMaxWaitTime="30000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>

	<env name="REDRIB" mhgAccount="REDRIB" >
		<pool id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9128" connections="2" autotimeout="120000" poolMaxWaitTime="30000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
	</env>

	<env name="VITAL" mhgAccount="VITAL" >
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>

	<env name="UTILITY" mhgAccount="UTILITY" >
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
	</env>

	<env name="SIGMA" mhgAccount="SIGMA" >
		<pool id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9125" connections="2" autotimeout="120000" poolMaxWaitTime="30000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
	</env>

	<env name="SAMWU" mhgAccount="SAMWU" >
		<pool id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9131" connections="2" autotimeout="120000" poolMaxWaitTime="30000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
	</env>

	<!-- This is an entry for NEWMED Pojas -->
	<env name="NEWMED" mhgAccount="NEWMED" >
		<pool id="COBOL" hostname="cptlapp80.za.mhgad.com" port="9124" connections="2" autotimeout="120000" poolMaxWaitTime="30000"/>
		<pool id="EJB" hostname="cptldev01.za.mhgad.com" port="1099" connections="10" autotimeout="120000" poolMaxWaitTime="1000"/>
		<pool id="POJAS" useSoTimeOut="false" autoDisableOnSyncStart="true" autoEnableOnSyncEnd="true" dropClientOnError="false" startDisabled="false" 
waitForSyncToFinishTimeout="40000" autoDisable="true" autoEnable="true" hostname="cptlagw80.za.mhgad.com" port="43000" connections="30" autotimeout="120000" poolMaxWaitTime="120000"/>
	</env>


	<serverConfig 	useBufferedOutputStreamInPool="true" afterConnectorSleepTime="0"/>

	<pool-definitions-file name="pool.xml" defaultCOBOL_ConnectorClass="InterfaceTransactions.TcpPool.Connectors.Cobol.CobolConnector">
		<pool_ id="EJB" class="InterfaceTransactions.TcpPool.Connectors.Ejb.JBossEjbConnector" hostName="cptldev01.za.mhgad.com" port="1099" account="AMED" serviceTqName="ListServicesNames"/>
		<pool_ id="POJAS" class="InterfaceTransactions.TcpPool.Connectors.Cobol.CobolConnector" hostName="cptlagw80.za.mhgad.com" port="43000"/>
	</pool-definitions-file>

	<snmp-port mibFile="mibs.xml">40602</snmp-port>
	<tailWatchServer id="Mediswitch" tcpipPort="40603" multicast-host-ip="" multicast-port="-1" />
	<diagTailWatchServer id="Mediswitch" tcpipPort="40604" multicast-host-ip="" multicast-port="-1" />

	<synchronous-transactions>true</synchronous-transactions>

	<transaction_        class="InterfaceTransactions.DefaultImplementation.DefaultTransaction" />
	<transaction-header_ class="InterfaceTransactions.Vanilla.VanillaHeader" />
	<transaction-header class="InterfaceTransactions.Generic.GenHeaders" />
	<transaction        class="InterfaceTransactions.Generic.GenTransactionNotRemoveXMLChars" useTqFunctionIfNoTpe="true"/>

	<transaction-x-ref>
		<x-ref tradingPartner=  "1" mhg="ELCHECK" functionNo="0001" description="Elegibility check"/>
		<x-ref tradingPartner=  "3" mhg="REALCLM" functionNo="0002" description="Realtime doctor Medicine claims"/>
		<x-ref tradingPartner=  "4" mhg="REALCLM" functionNo="0004" description="Realtime doctor claims"/>
		<x-ref tradingPartner="127" mhg="PING"    functionNo="0008" description="Ping" isPingOrHandshake="true" />
	</transaction-x-ref>

	<destination-x-ref>
		<!--
		Production Env's
		-->
		<x-ref tradingPartner=  "P00" mhg="AMED"   		functionMask="FFFF" description="Bankmed"/>
		<x-ref tradingPartner=  "P01" mhg="NEWMED" 		functionMask="FFFF" description="Openplan"/>
		<x-ref tradingPartner=  "P02" mhg="NEWMED" 		functionMask="FFFF" description="Transmed"/>
		<x-ref tradingPartner=  "P03" mhg="AMED"   		functionMask="FFFF" description="Woolthru"/>
		<x-ref tradingPartner=  "P04" mhg="AMED"   		functionMask="FFFF" description="Sappi"/>
		<x-ref tradingPartner=  "P05" mhg="AMED"   		functionMask="FFFF" description="Engen"/>
		<x-ref tradingPartner=  "P06" mhg="AMED"   		functionMask="FFFF" description="Relyant"/>
		<x-ref tradingPartner=  "P07" mhg="AMED"   		functionMask="FFFF" description="Alpha"/>
		<x-ref tradingPartner=  "P08" mhg="AMED"   		functionMask="FFFF" description="Pick 'n Pay"/>
		<x-ref tradingPartner=  "P09" mhg="AMED"   		functionMask="FFFF" description="Afrox"/>
		<x-ref tradingPartner=  "P10" mhg="AMED"   		functionMask="FFFF" description="Remedi"/>
		<x-ref tradingPartner=  "P11" mhg="NEWMED" 		functionMask="FFFF" description="Metstaff"/>
		<x-ref tradingPartner=  "P12" mhg="AMED"   		functionMask="FFFF" description="BPSA"/>
		<x-ref tradingPartner=  "P13" mhg="AMED"   		functionMask="FFFF" description="Foshini"/>
		<x-ref tradingPartner=  "P14" mhg="LAMAF"  		functionMask="FFFF" description="Lamaf"/>
		<x-ref tradingPartner=  "P15" mhg="SAMWU"  		functionMask="FFFF" description="Samwu"/>
		<x-ref tradingPartner=  "P16" mhg="SIGMA"  		functionMask="FFFF" description="Prosano"/>
		<x-ref tradingPartner=  "P17" mhg="SAMWUB"  		functionMask="FFFF" description="Samwu option B"/>
		<x-ref tradingPartner=  "P18" mhg="POLMED"  		functionMask="FFFF" description="POLMED Dev"/>
		<x-ref tradingPartner=  "P19" mhg="GEMS"  		functionMask="FFFF" description="GEMS Dev"/>
		<x-ref tradingPartner=  "P20" mhg="PILIR"  		functionMask="FFFF" description="PILIR Dev"/>
		<x-ref tradingPartner=  "P21" mhg="NIMAS"  		functionMask="FFFF" description="NIMAS Dev"/>
		<x-ref tradingPartner=  "P22" mhg="GENESIS"  		functionMask="FFFF" description="GENESIS Dev"/>
		<x-ref tradingPartner=  "P23" mhg="REDRIB"  		functionMask="FFFF" description="REDRIB Dev"/>
		<x-ref tradingPartner=  "P24" mhg="IMPERIAL"  		functionMask="FFFF" description="IMPERIAL Dev"/>
		<x-ref tradingPartner=  "P25" mhg="MEDIPOS"  		functionMask="FFFF" description="MEDIPOS Dev"/>
		<x-ref tradingPartner=  "P26" mhg="NIMAS"  		functionMask="FFFF" description="Netcare"/>
		<x-ref tradingPartner=  "P27" mhg="NIMAS"  		functionMask="FFFF" description="PG"/>

		<x-ref tradingPartner=  "P86" mhg="SHARE"  		functionMask="FFFF" description="Workflow Database"/>
		<x-ref tradingPartner=  "P87" mhg="COMMON"  		functionMask="FFFF" description="Common Database"/>
		<x-ref tradingPartner=  "P88" mhg="WORKFLOW"  		functionMask="FFFF" description="Workflow Database"/>
		<x-ref tradingPartner=  "P89" mhg="GAME_LOCAL"  		functionMask="FFFF" description="Local GAME Database"/>
		<x-ref tradingPartner=  "P90" mhg="LDAP"  		functionMask="FFFF" description="LDAP Query"/>
		<x-ref tradingPartner=  "P91" mhg="SYSTEM"  		functionMask="FFFF" description="LDAP Query"/>
		<x-ref tradingPartner=  "P92" mhg="PRICE"  		functionMask="FFFF" description="LDAP Query"/>
		<x-ref tradingPartner=  "P93" mhg="SPINE"  		functionMask="FFFF" description="Spine Query"/>
		<x-ref tradingPartner=  "P94" mhg="NOTIFY"  		functionMask="FFFF" description="Notification Interface"/>
		<x-ref tradingPartner=  "P95" mhg="IMAGE"  		functionMask="FFFF" description="Image Database"/>
		<x-ref tradingPartner=  "P96" mhg="VITAL"  		functionMask="FFFF" description="Vital Call Center Software"/>
		<x-ref tradingPartner=  "P97" mhg="SPINELOG"  		functionMask="FFFF" description="Image Database"/>
		<x-ref tradingPartner=  "P98" mhg="UTILITY"  		functionMask="FFFF" description="Utilities"/>
		<x-ref tradingPartner=  "P99" mhg="AMED"  		functionMask="FFFF" description="Share Connection"/>

		<!--
		Development Env's
		-->
		<x-ref tradingPartner=  "T00" mhg="AMED_TEST"   		functionMask="0000" description="Bankmed"/>
		<x-ref tradingPartner=  "T01" mhg="NEWMED_TEST" 		functionMask="0000" description="Openplan"/>
		<x-ref tradingPartner=  "T02" mhg="TRANSMED_TEST" 	functionMask="0000" description="Transmed"/>
		<x-ref tradingPartner=  "T03" mhg="AMED_TEST"   		functionMask="0000" description="Woolthru"/>
		<x-ref tradingPartner=  "T04" mhg="AMED_TEST"   		functionMask="0000" description="Sappi"/>
		<x-ref tradingPartner=  "T05" mhg="AMED_TEST"   		functionMask="0000" description="Engen"/>
		<x-ref tradingPartner=  "T06" mhg="AMED_TEST"   		functionMask="0000" description="Relyant"/>
		<x-ref tradingPartner=  "T07" mhg="AMED_TEST"   		functionMask="0000" description="Alpha"/>
		<x-ref tradingPartner=  "T08" mhg="AMED_TEST"   		functionMask="0000" description="Pick 'n Pay"/>
		<x-ref tradingPartner=  "T09" mhg="AMED_TEST"   		functionMask="0000" description="Afrox"/>
		<x-ref tradingPartner=  "T10" mhg="AMED_TEST"   		functionMask="0000" description="Remedi"/>
		<x-ref tradingPartner=  "T11" mhg="NEWMED_TEST" 		functionMask="0000" description="Metstaff"/>
		<x-ref tradingPartner=  "T12" mhg="AMED_TEST"   		functionMask="0000" description="BPSA"/>
		<x-ref tradingPartner=  "T13" mhg="AMED_TEST"   		functionMask="0000" description="Foshini"/>
		<x-ref tradingPartner=  "T14" mhg="LAMAF_TEST"  		functionMask="0000" description="Lamaf"/>
		<x-ref tradingPartner=  "T15" mhg="SAMWU_TEST"  		functionMask="0000" description="Samwu"/>
		<x-ref tradingPartner=  "T24" mhg="IMPERIAL_TEST" 	functionMask="0000" description="IMPERIAL Test"/>
		<x-ref tradingPartner=  "T25" mhg="MEDIPOS_TEST" 	functionMask="0000" description="MEDIPOS Test"/>
		<x-ref tradingPartner=  "T90" mhg="LDAP"  		functionMask="0000" description="LDAP Query"/>

		<!--
		Convenience
		-->
		<x-ref tradingPartner=  "A" mhg="AMED"    	functionMask="FFFF" description="Mediclinic Bankmed"/>
		<x-ref tradingPartner=  "S" mhg="AMED"    	functionMask="FFFF" description="Mediclinic Remedi"/>
		<x-ref tradingPartner=  "V" mhg="NEWMED"  	functionMask="FFFF" description="Mediclinic Newmed"/>
		<x-ref tradingPartner=  "K" mhg="AMED"    	functionMask="FFFF" description="Mediclinic Afrox"/>
		<x-ref tradingPartner=  "G" mhg="AMED"    	functionMask="FFFF" description="Mediclinic Engen"/>
		<x-ref tradingPartner=  "O" mhg="AMED"    	functionMask="FFFF" description="Mediclinic Fishmed"/>
		<x-ref tradingPartner=  "N" mhg="AMED"    	functionMask="FFFF" description="Mediclinic Golden Arrow"/>
		<x-ref tradingPartner=  "E" mhg="AMED"    	functionMask="FFFF" description="Mediclinic Wooltru"/>
		<x-ref tradingPartner=  "J" mhg="AMED"    	functionMask="FFFF" description="Mediclinic Holcim"/>
		<x-ref tradingPartner=  "L" mhg="AMED"    	functionMask="FFFF" description="Mediclinic Sappi"/>
		<x-ref tradingPartner=  "5" mhg="POLMED"  	functionMask="FFFF" description="Mediclinic Polmed"/>
		<x-ref tradingPartner=  "P" mhg="AMED"    	functionMask="FFFF" description="Mediclinic BP"/>
		<x-ref tradingPartner=  "2" mhg="NIMAS"   	functionMask="FFFF" description="Mediclinic NIMAS"/>
		<x-ref tradingPartner=  "3" mhg="NEWMED"  	functionMask="FFFF" description="Mediclinic OpenPlan"/>
		<x-ref tradingPartner=  "I" mhg="AMED"    	functionMask="FFFF" description="Mediclinic PicknPay"/>
		<x-ref tradingPartner=  "F" mhg="AMED"    	functionMask="FFFF" description="Mediclinic Foschini"/>
		<x-ref tradingPartner=  "1" mhg="NEWMED"  	functionMask="FFFF" description="Mediclinic Metropolitan"/>
		<x-ref tradingPartner=  "T" mhg="GEMS"    	functionMask="FFFF" description="GEMS"/>
		<x-ref tradingPartner=  "U" mhg="IMPERIAL"  	functionMask="FFFF" description="IMPERIAL"/>
		<x-ref tradingPartner=  "7" mhg="MEDIPOS"  	functionMask="FFFF" description="MEDIPOS"/>
		<x-ref tradingPartner=  "D" mhg="PILIR"   	functionMask="FFFF" description="Pilir"/>
		<x-ref tradingPartner=  "8" mhg="SIGMA"   	functionMask="FFFF" description="Prosano"/>
		<x-ref tradingPartner=  "Q" mhg="SAMWU"   	functionMask="FFFF" description="SAMWU"/>
		<x-ref tradingPartner=  "R" mhg="REDRIB"  	functionMask="FFFF" description="Red Ribbon"/>
		<x-ref tradingPartner=  "M" mhg="NIMAS"  		functionMask="FFFF" description="Netcare"/>
		<x-ref tradingPartner=  "9" mhg="NIMAS"  		functionMask="FFFF" description="PG"/>
		<x-ref tradingPartner=  "X" mhg="JBoss"   	functionMask="FFFF" description="JBoss"/>
		
		<x-ref tradingPartner="AFROX" mhg="AMED" functionMask="FFFF" description="AFROX" />
		<x-ref tradingPartner="BP" mhg="AMED" functionMask="FFFF" description="BPSA" />
        	<x-ref tradingPartner="Bankmed" mhg="AMED" functionMask="FFFF" description="BANKMED" />
        	<x-ref tradingPartner="ENGEN" mhg="AMED" functionMask="FFFF" description="ENGEN" />
        	<x-ref tradingPartner="FOSCHINI" mhg="AMED" functionMask="FFFF" description="Foschini" />
       	<x-ref tradingPartner="METROPOLITAN" mhg="NEWMED" functionMask="FFFF" description="Metropolitan" />
       	<x-ref tradingPartner="POLMED" mhg="POLMED" functionMask="FFFF" description="Polmed" />
        	<x-ref tradingPartner="SAPPI" mhg="AMED" functionMask="FFFF" description="Sappi" />
        	<x-ref tradingPartner="TRANSMED" mhg="NEWMED" functionMask="FFFF" description="Transmed" />
        	<x-ref tradingPartner="W" mhg="JBossW" functionMask="FFFF" description="JBOSS"/>
        	<x-ref tradingPartner="WOOLTRU" mhg="AMED" functionMask="FFFF"  description="Wooltru" />


	</destination-x-ref>

	<!--logger classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logFileRefreshInterval="Daily" 
		processSleepTime="1000" 
		logDirectory="log/accesslog-test">
		<claimsLogger 
			poolId="generic" 
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbUrl="jdbc:sybase:Tds:cptlsyb82.za.mhgad.com:7550/JBAUDIT" 
			logTable="MHG" 
			DbUserName="traffic" 
			DbPassword="IR0b0t" 
			minpoolsize="1" 
			maxpoolsize="2" 
			timeout="600000">
			<logTransactions desc="comma seperated list of transactions to log" value="*" />
		</claimsLogger>
	</logger-->

	<logger classname="InterfaceTransactions.Diagnostics.HpInterFaceLogger"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
		logDirectory="log/accesslog-test">
	</logger>

</Enviroments>
