<Enviroments>
	
	<server
		active="true"
		autoDisable="false"
		cmdPasswd="1q2w3e"
		diagPort="30891"
		logConfigFile="log4j.xml"
		name="MKReal Test Server"
		port="30890"
		sendTrxDetailsToStatusMonitor="true"
		tradingPartner="MKReal"
		trxAbortSizeLimit="84000"
		trxSizeLimit="64000"
	/>	
	<env
		mhgAccount="AMED"
		name="AFROX">
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>

	<env
		mhgAccount="AMED"
		name="BP"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="BANKMED"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="ENGEN"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="FISHING_INDUSTRY"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="FOSCHINI"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="GEMS"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9110"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="GOLDEN_ARROW"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="NEWMED"
		name="METROPOLITAN"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9107"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="NIMAS"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9113"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="PICK_N_PAY"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	
	<env
		mhgAccount="AMED"
		name="REMEDI"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="SAPPI"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="NEWMED"
		name="SAMWU"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9115"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="NEWMED"
		name="TRANSMED"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9107"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="WOOLTRU"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="IMPERIAL"
		name="IMPERIAL"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9105"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="MEDIPOS"
		name="MEDIPOS"
	>
		
		<pool
			autotimeout="1120000"
			connections="5"
			hostname="cptlapp97.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="1120000"
			port="9108"
			useSoTimeOut="false"
		/>
	</env>
	<transaction
		class="InterfaceTransactions.Generic.GenTransactionWellformedXML"
	/>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
		20887
	</snmp-port>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<tailWatchServer
		id="HealthBridge"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20888"
	/>
	<diagTailWatchServer
		id="HealthBridge"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20889"
	/>
	<transaction-x-ref	>
		
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			mhg="ELCHECK"
			tradingPartner="1"
		/>
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3"
		/>
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4"
		/>
		<x-ref
			description="Ping"
			functionNo="0008"
			mhg="PING"
			tradingPartner="127"
		/>
	</transaction-x-ref>
	<destination-x-ref	>
		
		<x-ref
			description="Premier"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="TB1A"
		/>
		<x-ref
			description="Classic"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="TB1B"
		/>
		<x-ref
			description="SUPREME"
			functionMask="FFFF"
			mhg="NIMAS"
			tradingPartner="TB2A"
		/>
		<x-ref
			description="MILLENNIUM"
			functionMask="FFFF"
			mhg="NIMAS"
			tradingPartner="TB2B"
		/>
		<x-ref
			description="CLASSIC"
			functionMask="FFFF"
			mhg="NIMAS"
			tradingPartner="TB2C"
		/>
		<x-ref
			description="PRIMARY"
			functionMask="FFFF"
			mhg="NIMAS"
			tradingPartner="TB2D"
		/>
		
		<x-ref
			description="Prosano ProVision"
			functionMask="FFFF"
			mhg="PROSANO"
			tradingPartner="TB8A"
		/>
		<x-ref
			description="Prosano ProClassic"
			functionMask="FFFF"
			mhg="PROSANO"
			tradingPartner="TB8B"
		/>
		<x-ref
			description="Prosano ProVider"
			functionMask="FFFF"
			mhg="PROSANO"
			tradingPartner="TB8C"
		/>
		<x-ref
			description="Prosano ProCedure"
			functionMask="FFFF"
			mhg="PROSANO"
			tradingPartner="TB8D"
		/>
		<x-ref
			description="ProSano ProElite"
			functionMask="FFFF"
			mhg="PROSANO"
			tradingPartner="TB8E"
		/>
		<x-ref
			description="Prosano ProVision"
			functionMask="FFFF"
			mhg="PROSANO"
			tradingPartner="TB8Z"
		/>
		<x-ref
			description="Bankmed Basic"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBA1"
		/>
		<x-ref
			description="Bankmed Comprehensive"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBA2"
		/>
		<x-ref
			description="Bankmed Plus"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBA3"
		/>
		<x-ref
			description="Bankmed Core Saver"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBA4"
		/>
		<x-ref
			description="Bankmed Traditional"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBA5"
		/>
		<x-ref
			description="Equilibrium Plus"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBAA"
		/>
		<x-ref
			description="Prime Health Plan"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBAP"
		/>
		<x-ref
			description="CORE OPTION"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="TBEA"
		/>
		<x-ref
			description="PLUS OPTION"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="TBEB"
		/>
		<x-ref
			description="PLUS NETWORK"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="TBEN"
		/>
		<x-ref
			description="EXTENDED OPTION"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="TBEC"
		/>
		<x-ref
			description="Engen"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="TBG"
		/>
		<x-ref
			description="Foschini Plan A"
			functionMask="FFFF"
			mhg="FOSCHINI"
			tradingPartner="TBFA"
		/>
		<x-ref
			description="Foschini Plan B"
			functionMask="FFFF"
			mhg="FOSCHINI"
			tradingPartner="TBFB"
		/>
		<x-ref
			description="Pick n Pay Medical Scheme"
			functionMask="FFFF"
			mhg="PICK_N_PAY"
			tradingPartner="TBIA"
		/>
		<x-ref
			description="Afrox"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="TBK"
		/>
		<x-ref
			description="Diamond Plan"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="TBKA"
		/>
		<x-ref
			description="BASE PLAN"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="TBKB"
		/>
		<x-ref
			description="SAPPI MEDICAL AID SCHEME"
			functionMask="FFFF"
			mhg="SAPPI"
			tradingPartner="TBLA"
		/>
		<x-ref
			description="BP Medical Aid Society"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="TBP"
		/>
		<x-ref
			description="Primary Option"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="TBNA"
		/>
		<x-ref
			description="Standard Option"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="TBNB"
		/>
		<x-ref
			description="Advanced Option"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="TBNC"
		/>
		<x-ref
			description="Primary Option"
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="TBOA"
		/>
		<x-ref
			description="Standard Option"
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="TBOB"
		/>
		<x-ref
			description="Remedi"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="TBS"
		/>
		<x-ref
			description="Comprehensive Option"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="TBSB"
		/>
		<x-ref
			description="Standard Option"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="TBSA"
		/>
		<x-ref
			description="SAPPHIRE"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="TBTA"
		/>
		<x-ref
			description="Classic Option"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="TBSC"
		/>
		<x-ref
			description="BERYL"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="TBTB"
		/>
		<x-ref
			description="RUBY"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="TBTC"
		/>
		<x-ref
			description="EMERALD"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="TBTD"
		/>
		<x-ref
			description="ONYX"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="TBTE"
		/>
		<x-ref
			description="GUARDIAN"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="TBV5"
		/>
		<x-ref
			description="State Plus Network"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="TBVL"
		/>
		<x-ref
			description="State Plus Own Choice"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="TBVN"
		/>
		<x-ref
			description="ABSENTEE MEMBER STATUS (ACTIVE)"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="TBVS"
		/>
		<x-ref
			description="Private Cover Plus Savings Account"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="TBVT"
		/>
		<x-ref
			description="IMPERIAL"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="TBU"
		/>
		<x-ref
			description="MEDIPOS"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="TB7"
		/>
		<x-ref
			description="SAMWU"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="TBQ"
		/>
				
		<!-- New destination codes -->
		
		<x-ref
			description="BANKMED: Dentists"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="PA001"
		/>
		<x-ref
			description="BANKMED: Pathologists"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="PA002"
		/>
		<x-ref
			description="BANKMED: Specialists"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="PA003"
		/>
		<x-ref
			description="BANKMED:Optometrists"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="PA004"
		/>
		<x-ref
			description="BANKMED:Radiologists"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="PA005"
		/>
		<x-ref
			description="BANKMED: Oncologists "
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="PA006"
		/>
		<x-ref
			description="BANKMED: Physiotherapists"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="PA007"
		/>
		<x-ref
			description="BANKMED: Doctors (GP)"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="PA009"
		/>
		<x-ref
			description="BANKMED: Other"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="PA008"
		/>
		<x-ref
			description="WOOLTRU: Dentists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE001"
		/>
		<x-ref
			description="WOOLTRU: Pathologists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE002"
		/>
		<x-ref
			description="WOOLTRU: Specialists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE003"
		/>
		<x-ref
			description="WOOLTRU:Optometrists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE004"
		/>
		<x-ref
			description="WOOLTRU:Radiologists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE005"
		/>
		<x-ref
			description="WOOLTRU: Oncologists "
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE006"
		/>
		<x-ref
			description="WOOLTRU: Physiotherapists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE007"
		/>
		<x-ref
			description="WOOLTRU: Doctors (GP)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE009"
		/>
		<x-ref
			description="WOOLTRU: Other"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE008"
		/>
			<x-ref
			description="WOOLTRU: Doctors (GP)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE009"
		/>
			<x-ref
			description="ENGEN: Pathologists"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="PG002"
		/>
		<x-ref
			description="ENGEN: Dentists"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="PG001"
		/>
		<x-ref
			description="ENGEN: Specialists"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="PG003"
		/>
		<x-ref
			description="ENGEN:Optometrists"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="PG004"
		/>
		<x-ref
			description="ENGEN:Radiologists"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="PG005"
		/>
		<x-ref
			description="ENGEN: Oncologists "
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="PG006"
		/>
		<x-ref
			description="ENGEN: Physiotherapists"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="PG007"
		/>
		<x-ref
			description="ENGEN: Other"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="PG008"
		/>
		<x-ref
			description="ENGEN: Doctors (GP)"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="PG009"
		/>
		<x-ref
			description="AFROX: Pathologists"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="PK002"
		/>
		<x-ref
			description="AFROX: Dentists"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="PK001"
		/>
		<x-ref
			description="AFROX: Specialists"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="PK003"
		/>
		<x-ref
			description="AFROX:Optometrists"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="PK004"
		/>
		<x-ref
			description="AFROX:Radiologists"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="PK005"
		/>
		<x-ref
			description="AFROX: Oncologists "
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="PK006"
		/>
		<x-ref
			description="AFROX: Physiotherapists"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="PK007"
		/>
		<x-ref
			description="AFROX: Other"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="PK008"
		/>
		<x-ref
			description="AFROX: Doctors (GP)"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="PK009"
		/>
			<x-ref
			description="Golden arrow: Dentists"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="PN001"
		/>
		<x-ref
			description="Golden arrow: Pathologists"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="PN002"
		/>
		<x-ref
			description="Golden arrow: Specialists"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="PN003"
		/>
		<x-ref
			description="Golden arrow:Optometrists"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="PN004"
		/>
		<x-ref
			description="Golden arrow:Radiologists"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="PN005"
		/>
		<x-ref
			description="Golden arrow: Oncologists "
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="PN006"
		/>
		<x-ref
			description="Golden arrow: Physiotherapists"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="PN007"
		/>
		<x-ref
			description="Golden arrow: Other"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="PN008"
		/>
		<x-ref
			description="Golden arrow: Doctors (GP)"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="PN009"
		/>
		<x-ref
			description="FISHMED: Dentists"
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="PO001"
		/>
		<x-ref
			description="FISHMED: Pathologists"
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="PO002"
		/>
		<x-ref
			description="FISHMED: Specialists"
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="PO003"
		/>
		<x-ref
			description="FISHMED:Optometrists"
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="PO004"
		/>
		<x-ref
			description="FISHMED:Radiologists"
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="PO005"
		/>
		<x-ref
			description="FISHMED: Oncologists "
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="PO006"
		/>
		<x-ref
			description="FISHMED: Physiotherapists"
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="PO007"
		/>
		<x-ref
			description="FISHMED: Doctors (GP)"
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="PO009"
		/>
			<x-ref
			description="FISHMED: Other"
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="PO008"
		/>
			<x-ref
			description="BP: Dentists"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="PP001"
		/>
		<x-ref
			description="BP: Pathologists"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="PP002"
		/>
		<x-ref
			description="BP: Oncologists "
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="PP006"
		/>
		<x-ref
			description="BP: Specialists"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="PP003"
		/>
		<x-ref
			description="BP:Optometrists"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="PP004"
		/>
		<x-ref
			description="BP:Radiologists"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="PP005"
		/>
		<x-ref
			description="BP: Physiotherapists"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="PP007"
		/>
		<x-ref
			description="BP: Other"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="PP008"
		/>
		<x-ref
			description="BP: Doctors (GP)"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="PP009"
		/>
		<x-ref
			description="PICKNPAY: Dentists"
			functionMask="FFFF"
			mhg="PICK_N_PAY"
			tradingPartner="PI001"
		/>
		<x-ref
			description="PICKNPAY: Pathologists"
			functionMask="FFFF"
			mhg="PICK_N_PAY"
			tradingPartner="PI002"
		/>
		<x-ref
			description="PICKNPAY: Specialists"
			functionMask="FFFF"
			mhg="PICK_N_PAY"
			tradingPartner="PI003"
		/>
		<x-ref
			description="PICKNPAY:Optometrists"
			functionMask="FFFF"
			mhg="PICK_N_PAY"
			tradingPartner="PI004"
		/>
		<x-ref
			description="PICKNPAY:Radiologists"
			functionMask="FFFF"
			mhg="PICK_N_PAY"
			tradingPartner="PI005"
		/>
		<x-ref
			description="PICKNPAY: Oncologists "
			functionMask="FFFF"
			mhg="PICK_N_PAY"
			tradingPartner="PI006"
		/>
		<x-ref
			description="PICKNPAY: Physiotherapists"
			functionMask="FFFF"
			mhg="PICK_N_PAY"
			tradingPartner="PI007"
		/>
		<x-ref
			description="PICKNPAY: Doctors (GP)"
			functionMask="FFFF"
			mhg="PICK_N_PAY"
			tradingPartner="PI009"
		/>
		<x-ref
			description="PICKNPAY: Other"
			functionMask="FFFF"
			mhg="PICK_N_PAY"
			tradingPartner="PI008"
		/>
			<x-ref
			description="GEMS: Pathologists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT002"
		/>
		<x-ref
			description="GEMS: Dentists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT001"
		/>
		<x-ref
			description="GEMS: Specialists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT003"
		/>
		<x-ref
			description="GEMS:Optometrists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT004"
		/>
		<x-ref
			description="GEMS:Radiologists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT005"
		/>
		<x-ref
			description="GEMS: Oncologists "
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT006"
		/>
		<x-ref
			description="GEMS: Physiotherapists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT007"
		/>
		<x-ref
			description="GEMS: Other"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT008"
		/>
		<x-ref
			description="GEMS: Doctors (GP)"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT009"
		/>
		<x-ref
			description="IMPERIALMED: Dentists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU001"
		/>
		<x-ref
			description="IMPERIALMED: Pathologists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU002"
		/>
		<x-ref
			description="IMPERIALMED: Specialists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU003"
		/>
		<x-ref
			description="IMPERIALMED:Optometrists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU004"
		/>
		<x-ref
			description="IMPERIALMED:Radiologists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU005"
		/>
		<x-ref
			description="IMPERIALMED: Oncologists "
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU006"
		/>
		<x-ref
			description="IMPERIALMED: Physiotherapists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU007"
		/>
		<x-ref
			description="IMPERIALMED: Other"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU008"
		/>
		<x-ref
			description="IMPERIALMED: Doctors (GP)"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU009"
		/>
		<x-ref
			description="Medipos: Dentists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7001"
		/>
		<x-ref
			description="Medipos: Pathologists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7002"
		/>
		<x-ref
			description="Medipos: Specialists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7003"
		/>
		<x-ref
			description="Medipos:Optometrists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7004"
		/>
		<x-ref
			description="Medipos:Radiologists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7005"
		/>
		<x-ref
			description="Medipos: Oncologists "
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7006"
		/>
		<x-ref
			description="Medipos: Physiotherapists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7007"
		/>
		<x-ref
			description="Medipos: Doctors (GP)"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7009"
		/>
		<x-ref
			description="Medipos: Other"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7008"
		/>
		<x-ref
			description="Metropolitan: Dentists"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="P1001"
		/>
		<x-ref
			description="Metropolitan: Pathologists"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="P1002"
		/>
		<x-ref
			description="Metropolitan: Specialists"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="P1003"
		/>
		<x-ref
			description="Metropolitan:Optometrists"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="P1004"
		/>
		<x-ref
			description="Metropolitan:Radiologists"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="P1005"
		/>
		<x-ref
			description="Metropolitan: Oncologists "
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="P1006"
		/>
		<x-ref
			description="Metropolitan: Physiotherapists"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="P1007"
		/>
		<x-ref
			description="Metropolitan: Other"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="P1008"
		/>
		<x-ref
			description="Metropolitan: Doctors (GP)"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="P1009"
		/>
		<x-ref
			description="TRANSMED: Dentists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV001"
		/>
		<x-ref
			description="TRANSMED: Pathologists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV002"
		/>
		<x-ref
			description="TRANSMED: Specialists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV003"
		/>
		<x-ref
			description="TRANSMED:Optometrists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV004"
		/>
		<x-ref
			description="TRANSMED:Radiologists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV005"
		/>
		<x-ref
			description="TRANSMED: Oncologists "
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV006"
		/>
		<x-ref
			description="TRANSMED: Physiotherapists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV007"
		/>
		<x-ref
			description="TRANSMED: Doctors (GP)"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV009"
		/>
		<x-ref
			description="TRANSMED: Other"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV008"
		/>
		<x-ref
			description="PG: Dentists"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM001"
		/>
		<x-ref
			description="PG: Pathologists"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM002"
		/>
		<x-ref
			description="PG: Oncologists "
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM006"
		/>
		<x-ref
			description="PG: Specialists"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM003"
		/>
		<x-ref
			description="PG:Optometrists"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM004"
		/>
		<x-ref
			description="PG:Radiologists"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM005"
		/>
		<x-ref
			description="PG: Physiotherapists"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM007"
		/>
		<x-ref
			description="PG: Other"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM008"
		/>
		<x-ref
			description="PG: Doctors (GP)"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM009"
		/>
		
		<x-ref
			description="SAMWU: Dentists"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ001"
		/>
		<x-ref
			description="SAMWU: Pathologists"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ002"
		/>
		<x-ref
			description="SAMWU: Specialists"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ003"
		/>
		<x-ref
			description="SAMWU:Optometrists"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ004"
		/>
		<x-ref
			description="SAMWU:Radiologists"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ005"
		/>
		<x-ref
			description="SAMWU: Oncologists "
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ006"
		/>
		<x-ref
			description="SAMWU: Physiotherapists"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ007"
		/>
		<x-ref
			description="SAMWU: Other"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ008"
		/>
		<x-ref
			description="SAMWU: Doctors (GP)"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ009"
		/>


	</destination-x-ref>
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="IR0b0t"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-acpt:7500/JBAUDIT"
			DbUserName="traffic"
			logTable="MKReal"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="*"
			/>
		</claimsLogger>
	</logger>
</Enviroments>

