<?xml version="1.0"?>
<!-- startDisabled: Primary must start is a disabled state waitForSyncToFinishTimeout: 
	max time in ms to wait for backup to finish synchronization autoEnable: if 
	true then connector will automatically be enabled when the SYNC_STOP event 
	is received autoDisable: if true then connector will disable itself as soon 
	as it switches to the backup -->
<Enviroments>

	<!-- Global Server Parameters -->
	<server
		sendTrxDetailsToStatusMonitor="true"
		trxSizeLimit="128000"
		trxAbortSizeLimit="256000"
		cmdPasswd="1q2w3e"
		tradingPartner="HealthBridge"
		name="HealthBridge Server CPT01"
		active="true"
		autoDisable="false"
		port="20880"
		diagPort="20881"
		logConfigFile="log4j.xml" />

	<!-- List of Environments that this server can talk to -->
	
	<env
		name="GEMS">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-gems.za.mhgad.com"
			port="9210"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>

	
	
	<env
		name="TRANSMED"
		mhgAccount="NEWMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-newmed.za.mhgad.com"
			port="9208"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>

	
	<env
		name="IMPERIAL"
		mhgAccount="IMPERIAL">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-imperial.za.mhgad.com"
			port="9214"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>

	<env
		name="MEDIPOS"
		mhgAccount="MEDIPOS">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-medipos.za.mhgad.com"
			port="9315"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>
	<env
		mhgAccount="PILIR"
		name="PILIR"
	>		
		<pool
			autotimeout="120000"
			connections="2"
			hostname="apl-pilir.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="30000"
			port="9104"
		/>		
	</env>

		
	<!-- Log File Parameters -->

	<transaction
		class="InterfaceTransactions.Generic.GenTransactionWellformedXML" />
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders" />

	<pool-definitions-file
		name="pool.xml" />

	<snmp-port
		mibFile="mibs.xml">20882</snmp-port>

	<synchronous-transactions>true</synchronous-transactions>

	<tailWatchServer
		id="HealthBridge"
		tcpipPort="20883"
		multicast-host-ip=""
		multicast-port="-1" />
	<diagTailWatchServer
		id="HealthBridge"
		tcpipPort="20884"
		multicast-host-ip=""
		multicast-port="-1" />
	<inputDataServer
		id="HealthBridge"
		tcpipPort="20885"
		multicast-host-ip=""
		multicast-port="-1" />

	<transaction-x-ref>
		<x-ref
			tradingPartner="1"
			mhg="ELCHECK"
			functionNo="0001"
			description="Elegibility check" />
		<x-ref
			tradingPartner="3"
			mhg="REALCLM"
			functionNo="0002"
			description="Realtime doctor Medicine claims" />
		<x-ref
			tradingPartner="4"
			mhg="REALCLM"
			functionNo="0004"
			description="Realtime doctor claims" />
		<x-ref
			tradingPartner="127"
			mhg="PING"
			functionNo="0008"
			description="Ping" />
	</transaction-x-ref>

	<destination-x-ref>
			
		<x-ref
			tradingPartner="HB8A"
			mhg="PROSANO"
			functionMask="FFFF"
			description="Prosano ProVision" />
		<x-ref
			tradingPartner="HB8B"
			mhg="PROSANO"
			functionMask="FFFF"
			description="Prosano ProClassic" />
		<x-ref
			tradingPartner="HB8C"
			mhg="PROSANO"
			functionMask="FFFF"
			description="Prosano ProVider" />
		<x-ref
			tradingPartner="HB8D"
			mhg="PROSANO"
			functionMask="FFFF"
			description="Prosano ProCedure" />
		<x-ref
			tradingPartner="HB8E"
			mhg="PROSANO"
			functionMask="FFFF"
			description="ProSano ProElite" />
		<x-ref
			tradingPartner="HB8Z"
			mhg="PROSANO"
			functionMask="FFFF"
			description="Prosano ProVision" />
		
		<x-ref
			tradingPartner="HBEA"
			mhg="WOOLTRU"
			functionMask="FFFF"
			description="CORE OPTION" />
		<x-ref
			tradingPartner="HBEB"
			mhg="WOOLTRU"
			functionMask="FFFF"
			description="PLUS OPTION" />
		<x-ref
			tradingPartner="HBEC"
			mhg="WOOLTRU"
			functionMask="FFFF"
			description="EXTENDED OPTION" />
		<x-ref
			tradingPartner="HBEN"
			mhg="WOOLTRU"
			functionMask="FFFF"
			description="PLUS NETWORK" />
			
		<x-ref
			tradingPartner="HBTA"
			mhg="GEMS"
			functionMask="FFFF"
			description="SAPPHIRE" />
		<x-ref
			tradingPartner="HBTB"
			mhg="GEMS"
			functionMask="FFFF"
			description="BERYL" />
		<x-ref
			tradingPartner="HBTC"
			mhg="GEMS"
			functionMask="FFFF"
			description="RUBY" />
		<x-ref
			tradingPartner="HBTD"
			mhg="GEMS"
			functionMask="FFFF"
			description="EMERALD" />
		<x-ref
			tradingPartner="HBTE"
			mhg="GEMS"
			functionMask="FFFF"
			description="ONYX" />
		<x-ref
			tradingPartner="HBV5"
			mhg="TRANSMED"
			functionMask="FFFF"
			description="GUARDIAN" />
		<x-ref
			tradingPartner="HBVL"
			mhg="TRANSMED"
			functionMask="FFFF"
			description="State Plus Network" />
		<x-ref
			tradingPartner="HBVN"
			mhg="TRANSMED"
			functionMask="FFFF"
			description="State Plus Own Choice" />
		<x-ref
			tradingPartner="HBVS"
			mhg="TRANSMED"
			functionMask="FFFF"
			description="MEMBER STATUS (ACTIVE)" />
		<x-ref
			tradingPartner="HBVT"
			mhg="TRANSMED"
			functionMask="FFFF"
			description="Private Cover Plus Savings Account" />
		<x-ref
			tradingPartner="HBU"
			mhg="IMPERIAL"
			functionMask="FFFF"
			description="IMPERIAL" />
		<x-ref
			tradingPartner="HB7"
			mhg="MEDIPOS"
			functionMask="FFFF"
			description="MEDIPOS" />
		
		<x-ref
			description="WOOLTRU: Dentists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE001"
		/>
		<x-ref
			description="WOOLTRU: Pathologists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE002"
		/>
		<x-ref
			description="WOOLTRU: Specialists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE003"
		/>
		<x-ref
			description="WOOLTRU:Optometrists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE004"
		/>
		<x-ref
			description="WOOLTRU:Radiologists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE005"
		/>
		<x-ref
			description="WOOLTRU: Oncologists "
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE006"
		/>
		<x-ref
			description="WOOLTRU: Physiotherapists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE007"
		/>
		<x-ref
			description="WOOLTRU: Doctors (GP)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE009"
		/>
		<x-ref
			description="WOOLTRU: Other"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE008"
		/>
			<x-ref
			description="WOOLTRU: Doctors (GP)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE009"
		/>
			
			<x-ref
			description="GEMS: Pathologists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT002"
		/>
		<x-ref
			description="GEMS: Dentists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT001"
		/>
		<x-ref
			description="GEMS: Specialists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT003"
		/>
		<x-ref
			description="GEMS:Optometrists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT004"
		/>
		<x-ref
			description="GEMS:Radiologists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT005"
		/>
		<x-ref
			description="GEMS: Oncologists "
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT006"
		/>
		<x-ref
			description="GEMS: Physiotherapists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT007"
		/>
		<x-ref
			description="GEMS: Other"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT008"
		/>
		<x-ref
			description="GEMS: Doctors (GP)"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT009"
		/>
		<x-ref
			description="IMPERIALMED: Dentists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU001"
		/>
		<x-ref
			description="IMPERIALMED: Pathologists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU002"
		/>
		<x-ref
			description="IMPERIALMED: Specialists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU003"
		/>
		<x-ref
			description="IMPERIALMED:Optometrists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU004"
		/>
		<x-ref
			description="IMPERIALMED:Radiologists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU005"
		/>
		<x-ref
			description="IMPERIALMED: Oncologists "
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU006"
		/>
		<x-ref
			description="IMPERIALMED: Physiotherapists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU007"
		/>
		<x-ref
			description="IMPERIALMED: Other"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU008"
		/>
		<x-ref
			description="IMPERIALMED: Doctors (GP)"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU009"
		/>
		<x-ref
			description="Medipos: Dentists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7001"
		/>
		<x-ref
			description="Medipos: Pathologists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7002"
		/>
		<x-ref
			description="Medipos: Specialists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7003"
		/>
		<x-ref
			description="Medipos:Optometrists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7004"
		/>
		<x-ref
			description="Medipos:Radiologists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7005"
		/>
		<x-ref
			description="Medipos: Oncologists "
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7006"
		/>
		<x-ref
			description="Medipos: Physiotherapists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7007"
		/>
		<x-ref
			description="Medipos: Doctors (GP)"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7009"
		/>
		<x-ref
			description="Medipos: Other"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7008"
		/>
		
		<x-ref
			description="TRANSMED: Dentists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV001"
		/>
		<x-ref
			description="TRANSMED: Pathologists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV002"
		/>
		<x-ref
			description="TRANSMED: Specialists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV003"
		/>
		<x-ref
			description="TRANSMED:Optometrists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV004"
		/>
		<x-ref
			description="TRANSMED:Radiologists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV005"
		/>
		<x-ref
			description="TRANSMED: Oncologists "
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV006"
		/>
		<x-ref
			description="TRANSMED: Physiotherapists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV007"
		/>
		<x-ref
			description="TRANSMED: Doctors (GP)"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV009"
		/>
		<x-ref
			description="TRANSMED: Other"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV008"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Eastern Cape"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVEC"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Free State"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVFS"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Gauteng"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVGP"
		/>
		<x-ref
			description="PILIR: DoH COVID19 KwaZulu-Natal"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVKZ"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Limpopo"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVLP"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Mpumalanga "
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVMP"
		/>
		<x-ref
			description="PILIR: DoH COVID19 North West"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVNW"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Northern Cape"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVNC"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Western Cape"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVWC"
		/>
				
	</destination-x-ref>

	<!-- Log File Parameters -->
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
		logDirectory="log/accesslog">
		<claimsLogger
			poolId="generic"
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-prod:5100/JBAUDIT"
			logTable="Healthbridge"
			DbUserName="traffic"
			DbPassword="pJ9fXZ3d"
			minpoolsize="1"
			maxpoolsize="2"
			timeout="600000">
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM" />
		</claimsLogger>
	</logger>

</Enviroments>
