<Enviroments>
	
	<time-zone_
		help="optional"
		reason="fix jdk1.4 bug on Solaris"
	>
		GMT-2
	</time-zone_>
	<server
		__system_out="default"
		cmdPasswd="p34nu7"
		diagPort="27011"
		logConfigFile="log4j.xml"
		name="IKat ACPT"
		port="27010"
		tradingPartner="IKat"
		trxAbortSizeLimit="64000"
		trxSizeLimit="48000"
	/>
	<env
		name="AMED"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>	
	<env
		mhgAccount="GEMS"
		name="GEMS"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9110"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		name="IMPERIAL"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9105"
			startDisabled="false"
			stickyStandin="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	
	<env
		mhgAccount="NEWMED"
		name="NEWMED"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9107"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		name="NIMAS"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9113"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	
	<env
		name="SAMWU"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9115"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<transaction
		class="InterfaceTransactions.Generic.GenTransaction"
	/>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
		27007
	</snmp-port>
	<tailWatchServer
		id="IKat"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="27012"
	/>
	<diagTailWatchServer
		id="IKat"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="27013"
	/>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<transaction-x-ref	>
		
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			mhg="ELCHECK"
			tradingPartner="1"
		/>
		<x-ref
			description="Realtime Pharmacy Medicine claims"
			functionNo="000A"
			mhg="REALCLM"
			tradingPartner="2"
		/>
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3"
		/>
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4"
		/>
		<x-ref
			description="Ping"
			functionNo="0008"
			isPingOrHandshake="true"
			mhg="PING"
			tradingPartner="127"
		/>
		<x-ref
			description="Realtime doctor"
			functionNo="0010"
			mhg="REALCLM"
			tradingPartner="5"
		/>
	</transaction-x-ref>
	<destination-x-ref	>
		
		<x-ref
			description="GEMS: Pathologists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT002"
		/>
		<x-ref
			description="GEMS: Dentists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT001"
		/>
		<x-ref
			description="GEMS: Specialists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT003"
		/>
		<x-ref
			description="GEMS:Optometrists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT004"
		/>
		<x-ref
			description="GEMS:Radiologists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT005"
		/>
		<x-ref
			description="GEMS: Oncologists "
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT006"
		/>
		<x-ref
			description="GEMS: Physiotherapists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT007"
		/>
		<x-ref
			description="GEMS: Other"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT008"
		/>
		<x-ref
			description="GEMS: Doctors (GP)"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT009"
		/>
		<x-ref
			description="IMPERIALMED: Dentists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU001"
		/>
		<x-ref
			description="IMPERIALMED: Pathologists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU002"
		/>
		<x-ref
			description="IMPERIALMED: Specialists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU003"
		/>
		<x-ref
			description="IMPERIALMED:Optometrists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU004"
		/>
		<x-ref
			description="IMPERIALMED:Radiologists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU005"
		/>
		<x-ref
			description="IMPERIALMED: Oncologists "
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU006"
		/>
		<x-ref
			description="IMPERIALMED: Physiotherapists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU007"
		/>
		<x-ref
			description="IMPERIALMED: Other"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU008"
		/>
		<x-ref
			description="IMPERIALMED: Doctors (GP)"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU009"
		/>
		
		<x-ref
			description="Metropolitan: Dentists"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="P1001"
		/>
		<x-ref
			description="Metropolitan: Pathologists"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="P1002"
		/>
		<x-ref
			description="Metropolitan: Specialists"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="P1003"
		/>
		<x-ref
			description="Metropolitan:Optometrists"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="P1004"
		/>
		<x-ref
			description="Metropolitan:Radiologists"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="P1005"
		/>
		<x-ref
			description="Metropolitan: Oncologists "
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="P1006"
		/>
		<x-ref
			description="Metropolitan: Physiotherapists"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="P1007"
		/>
		<x-ref
			description="Metropolitan: Other"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="P1008"
		/>
		<x-ref
			description="Metropolitan: Doctors (GP)"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="P1009"
		/>
		<x-ref
			description="TRANSMED: Dentists"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="PV001"
		/>
		<x-ref
			description="TRANSMED: Pathologists"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="PV002"
		/>
		<x-ref
			description="TRANSMED: Specialists"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="PV003"
		/>
		<x-ref
			description="TRANSMED:Optometrists"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="PV004"
		/>
		<x-ref
			description="TRANSMED:Radiologists"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="PV005"
		/>
		<x-ref
			description="TRANSMED: Oncologists "
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="PV006"
		/>
		<x-ref
			description="TRANSMED: Physiotherapists"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="PV007"
		/>
		<x-ref
			description="TRANSMED: Doctors (GP)"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="PV009"
		/>
		<x-ref
			description="TRANSMED: Other"
			functionMask="FFFF"
			mhg="Newmed"
			tradingPartner="PV008"
		/>
		<x-ref
			description="PG: Dentists"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM001"
		/>
		<x-ref
			description="PG: Pathologists"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM002"
		/>
		<x-ref
			description="PG: Oncologists "
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM006"
		/>
		<x-ref
			description="PG: Specialists"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM003"
		/>
		<x-ref
			description="PG:Optometrists"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM004"
		/>
		<x-ref
			description="PG:Radiologists"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM005"
		/>
		<x-ref
			description="PG: Physiotherapists"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM007"
		/>
		<x-ref
			description="PG: Other"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM008"
		/>
		<x-ref
			description="PG: Doctors (GP)"
			functionMask="FFFF"
			mhg="Nimas"
			tradingPartner="PM009"
		/>
		
		<x-ref
			description="SAMWU: Pathologists"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ002"
		/>
		<x-ref
			description="SAMWU: Dentists"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ001"
		/>
		<x-ref
			description="SAMWU: Specialists"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ003"
		/>
		<x-ref
			description="SAMWU:Optometrists"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ004"
		/>
		<x-ref
			description="SAMWU:Radiologists"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ005"
		/>
		<x-ref
			description="SAMWU: Oncologists "
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ006"
		/>
		<x-ref
			description="SAMWU: Physiotherapists"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ007"
		/>
		<x-ref
			description="SAMWU: Other"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ008"
		/>
		<x-ref
			description="SAMWU: Doctors (GP)"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="PQ009"
		/>			
		
	</destination-x-ref>
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="IR0b0t"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-acpt:7500/JBAUDIT"
			DbUserName="traffic"
			logTable="IKat"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM,TRGXML01,CHGCLAIM,SOLAUTH"
			/>
		</claimsLogger>
	</logger>
</Enviroments>

