<Enviroments>
	<server
		__system_out_="sweeperTraf.system.out"
		diagPort="30911"
		internalMessages="true"
		logConfigFile="log4j.xml"
		name="MyCare Sent Claims Sweeper Traf"
		port="30910"
		sendTrxDetailsToStatusMonitor="true"
		tradingPartner="MyCareSentClaims" />
	<env
		name="MYCARE">

		<pool
			autotimeout="120000"
			connections="1"
			dropClientOnError="false"
			hostname="196.35.123.84"
		    port="5281"
			id="COBOL"
			poolMaxWaitTime="30000"
			useSoTimeOut="false" />
		
	</env>


	<transaction
		class="InterfaceTransactions.DefaultImplementation.DefaultTransaction" />
	<transaction-header
		class="InterfaceTransactions.DefaultImplementation.DefaultHeader" />
	<pool-definitions-file
		name="pool.xml" />
	<snmp-port
		mibFile="mibs.xml">
		10102
	</snmp-port>
	<synchronous-transactions>
		true
	</synchronous-transactions>
	<tailWatchServer
		id="Sweeper"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="30912" />
	<diagTailWatchServer
		id="Sweeper"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="30913" />
	
	
	<logger
		classname="InterfaceTransactions.Diagnostics.HpInterFaceLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="pJ9fXZ3d"
			DbUrl="jdbc:sybase:Tds:cptlsyb30.za.mhgad.com:5100/JBAUDIT"
			DbUserName="traffic"
			logTable="Sweeper"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM"
			/>
		</claimsLogger>
	</logger>
	
	
</Enviroments>

