<Enviroments>
	
	<server
		__system_out="pojas.system.out"
		active="true"
		autoDisable="false"
		cmdPasswd="1q2w3e"
		diagPort="20801"
		logConfigFile="log4j.xml"
		maxClientsAllowed="2000"
		maxQueueLengthAllowed="100"
		name="Gui Applications"
		port="20800"
		tradingPartner="GuiApps"
		trxAbortSizeLimit="10240000"
		trxSizeLimit="10240000"
	/>
	<env
		mhgAccount="SAMWU"
		name="JBoss"
	>
		
		<pool
			autotimeout="120000"
			connections="10"
			hostname="cptleap01.za.mhgad.com"
			id="JEE"
			poolMaxWaitTime="10000"
			port="1099"
		/>
	</env>
	<multicastDiagServer
		multicast-host-ip="225.225.225.225"
		multicast-port="20000"
	/>
	<env
		mhgAccount="IMAGE"
		name="JBossW"
	>
		
		<pool
			autotimeout="120000"
			connections="10"
			hostname="localhost"
			id="JEE"
			poolMaxWaitTime="10000"
			port="1099"
		/>
	</env>
	<env
		mhgAccount="LDAP"
		name="LDAP"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="localhost"
			id="POJAS"
			poolMaxWaitTime="120000"
			port="23000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		mhgAccount="SHARE"
		name="SHARE"
	>
		
		<pool
			autotimeout="120000"
			connections="100"
			hostname="localhost"
			id="JEE"
			poolMaxWaitTime="10000"
			port="1099"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="localhost"
			id="POJAS"
			poolMaxWaitTime="120000"
			port="23000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
		</pool>
	</env>
	<env
		mhgAccount="PRICE"
		name="PRICE"
	>
		
		<pool
			autotimeout="120000"
			connections="100"
			hostname="localhost"
			id="JEE"
			poolMaxWaitTime="10000"
			port="1099"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="localhost"
			id="POJAS"
			poolMaxWaitTime="120000"
			port="23000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		mhgAccount="IMAGE"
		name="IMAGE"
	>
		
		<pool
			autotimeout="120000"
			connections="100"
			hostname="localhost"
			id="JEE"
			poolMaxWaitTime="10000"
			port="1099"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="localhost"
			id="POJAS"
			poolMaxWaitTime="120000"
			port="23000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		mhgAccount="SAMWU"
		name="SAMWU"
	>
		
		<pool
			autotimeout="120000"
			connections="100"
			hostname="cptleap01.za.mhgad.com"
			id="JEE"
			poolMaxWaitTime="10000"
			port="1099"
		/>
		<pool
			autotimeout="120000"
			connections="5"
			hostname="apl-samwu.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9206"
			useSoTimeOut="true"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlsee01.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="120000"
			port="23000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
		</pool>
	</env>
	<env
		mhgAccount="WORKFLOW"
		name="WORKFLOW"
	>
		
		<pool
			autotimeout="120000"
			connections="100"
			hostname="cptleap01.za.mhgad.com "
			id="JEE"
			poolMaxWaitTime="10000"
			port="1099"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlsee01.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="120000"
			port="23000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
		</pool>
	</env>
	<env
		mhgAccount="SPINE"
		name="SPINE"
	>
		
		<pool
			autotimeout="120000"
			connections="100"
			hostname="localhost"
			id="JEE"
			poolMaxWaitTime="10000"
			port="1099"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlsee01.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="120000"
			port="23000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
		</pool>
	</env>
	<env
		mhgAccount="SPINELOG"
		name="SPINELOG"
	>
		
		<pool
			autotimeout="120000"
			connections="100"
			hostname="cptleap01.za.mhgad.com"
			id="JEE"
			poolMaxWaitTime="10000"
			port="1099"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="4"
			dropClientOnError="false"
			hostname="cptlsee01.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="120000"
			port="23000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
		</pool>
	</env>
	<env
		mhgAccount="SHARE"
		name="COMMON"
	>
		
		<pool
			autotimeout="120000"
			connections="100"
			hostname="cptleap01.za.mhgad.com"
			id="JEE"
			poolMaxWaitTime="10000"
			port="1099"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlsee01.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="120000"
			port="23000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
		</pool>
	</env>
	<env
		mhgAccount="GAME_LOCAL"
		name="GAME_LOCAL"
	>
		
		<pool
			autotimeout="120000"
			connections="100"
			hostname="cptleap01.za.mhgad.com "
			id="JEE"
			poolMaxWaitTime="10000"
			port="1099"
		/>
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlsee01.za.mhgad.com"
			id="POJAS"
			poolMaxWaitTime="120000"
			port="23000"
			startDisabled="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
		</pool>
	</env>
	<serverConfig
		afterConnectorSleepTime="0"
		useBufferedOutputStreamInPool="true"
	/>
	<pool-definitions-file
		defaultCOBOL_ConnectorClass="InterfaceTransactions.TcpPool.Connectors.Cobol.CobolConnector"
		name="pool.xml"
	>
		
		<pool_
			account="SYSTEM"
			class="InterfaceTransactions.TcpPool.Connectors.Ejb.JBossEjbConnector"
			hostName="cptleap01.za.mhgad.com"
			id="JEE"
			port="1099"
			serviceTqName="ListServicesNames"
		/>
		<pool_
			class="InterfaceTransactions.TcpPool.Connectors.Cobol.CobolConnector"
			hostName="cptlsee01.za.mhgad.com"
			id="POJAS"
			port="23000"
		/>
	</pool-definitions-file>
	<snmp-port
		mibFile="mibs.xml"
	>
		20802
	</snmp-port>
	<tailWatchServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20803"
	/>
	<diagTailWatchServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20804"
	/>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<transaction
		class="InterfaceTransactions.Generic.GenTransactionNotRemoveXMLChars"
		useTqFunctionIfNoTpe="true"
	/>
	<transaction-x-ref	>
		
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			mhg="ELCHECK"
			tradingPartner="1"
		/>
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3"
		/>
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4"
		/>
		<x-ref
			description="Ping"
			functionNo="0008"
			mhg="PING"
			tradingPartner="127"
		/>
	</transaction-x-ref>
	<destination-x-ref	>
		
		<x-ref
			description="Samwu"
			functionMask="0000"
			mhg="SAMWU"
			tradingPartner="P15"
		/>
		<x-ref
			description="LDAP Query"
			functionMask="FFFF"
			mhg="LDAP"
			tradingPartner="P90"
		/>
		<x-ref
			description="Share Database"
			functionMask="FFFF"
			mhg="SHARE"
			tradingPartner="P86"
		/>
		<x-ref
			description="Common Database"
			functionMask="FFFF"
			mhg="COMMON"
			tradingPartner="P87"
		/>
		<x-ref
			description="LDAP Query"
			functionMask="FFFF"
			mhg="PRICE"
			tradingPartner="P92"
		/>
		<x-ref
			description="Share Connection"
			functionMask="FFFF"
			mhg="SHARE"
			tradingPartner="P99"
		/>
		<x-ref
			description="Image Database"
			functionMask="FFFF"
			mhg="IMAGE"
			tradingPartner="P95"
		/>
		<x-ref
			description="Workflow Database"
			functionMask="FFFF"
			mhg="WORKFLOW"
			tradingPartner="P88"
		/>
		<x-ref
			description="Samwu option B"
			functionMask="0000"
			mhg="SAMWUB"
			tradingPartner="P17"
		/>
		<x-ref
			description="Common Database"
			functionMask="FFFF"
			mhg="COMMON"
			tradingPartner="P87"
		/>
		<x-ref
			description="LDAP Query"
			functionMask="FFFF"
			mhg="GAME_LOCAL"
			tradingPartner="P89"
		/>
		<x-ref
			description="LDAP Query"
			functionMask="FFFF"
			mhg="SYSTEM"
			tradingPartner="P91"
		/>
		<x-ref
			description="Samwu"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="Q"
		/>
		<x-ref
			description="JBOSS"
			functionMask="FFFF"
			mhg="JBoss"
			tradingPartner="X"
		/>
		<x-ref
			description="JBOSS"
			functionMask="FFFF"
			mhg="JBossW"
			tradingPartner="W"
		/>
		<x-ref
			description="Samwu"
			functionMask="0000"
			mhg="SAMWU_TEST"
			tradingPartner="T15"
		/>
		<x-ref
			description="LDAP Query"
			functionMask="FFFF"
			mhg="LDAP"
			tradingPartner="T90"
		/>
	</destination-x-ref>
	<logger
		classname="InterfaceTransactions.Diagnostics.HpInterFaceLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
	</logger>
</Enviroments>

