<?xml version="1.0"?>
<Enviroments>

	<!-- Global Server Parameters -->
	<server
		trxSizeLimit="80000"
		trxAbortSizeLimit="120000"
		cmdPasswd="1q2w3e"
		tradingPartner="Medicharge"
		name="Medicharge - Production"
		port="27100"
		diagPort="27101"
		logConfigFile="log4j.xml"
		__system_out="default" />

	<!-- List of Environments that this server can talk to -->

	<env
		name="METROPOLITAN"
		mhgAccount="NEWMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-newmed.za.mhgad.com"
			port="9308"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<!-- PGG NIMAS -->
	<env
		name="PGG"
		mhgAccount="NIMAS">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-nimas.za.mhgad.com"
			port="9313"
			connections="2"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<!-- Netcare NIMAS -->
	<env
		name="NETCARE"
		mhgAccount="NIMAS">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-nimas.za.mhgad.com"
			port="9313"
			connections="2"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<!-- NIMAS NIMAS -->
	<env
		name="NIMAS"
		mhgAccount="NIMAS">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-nimas.za.mhgad.com"
			port="9313"
			connections="2"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<env
		name="POLMED"
		mhgAccount="POLMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-polmed.za.mhgad.com"
			port="9309"
			connections="2"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<!-- AMED -->
	<env
		name="BANKMED"
		mhgAccount="AMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-amed.za.mhgad.com"
			port="9307"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<env
		name="WOOLTRU"
		mhgAccount="AMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-amed.za.mhgad.com"
			port="9307"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<env
		name="ENGEN"
		mhgAccount="AMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-amed.za.mhgad.com"
			port="9307"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<!-- AFROX -->
	<env
		name="AFROX"
		mhgAccount="AMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-amed.za.mhgad.com"
			port="9307"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<env
		name="SAPPI"
		mhgAccount="AMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-amed.za.mhgad.com"
			port="9307"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<env
		name="GOLDEN_ARROW"
		mhgAccount="AMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-amed.za.mhgad.com"
			port="9307"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<!-- FISHMED -->
	<env
		name="FISHMED"
		mhgAccount="AMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-amed.za.mhgad.com"
			port="9307"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<env
		name="BP"
		mhgAccount="AMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-amed.za.mhgad.com"
			port="9307"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<env
		name="GEMS"
		mhgAccount="GEMS">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-gems.za.mhgad.com"
			port="9310"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<env
		name="SAMWU"
		mhgAccount="SAMWU">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-samwu.za.mhgad.com"
			port="9305"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<env
		name="TRANSMED"
		mhgAccount="NEWMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-newmed.za.mhgad.com"
			port="9308"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<env
		name="PROTEKTA"
		mhgAccount="PROTEKTA">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-protekta.za.mhgad.com"
			port="9316"
			connections="5"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<!-- Log File Parameters -->
	<loggerOLD
		classname="InterfaceTransactions.Diagnostics.HpInterFaceLogger"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
		logDirectory="Logs" />

	<transaction
		class="InterfaceTransactions.Generic.GenTransaction" />
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders" />

	<pool-definitions-file
		name="pool.xml" />

	<snmp-port
		mibFile="mibs.xml">27102</snmp-port>

	<tailWatchServer
		id="Medicharge"
		tcpipPort="27103"
		multicast-host-ip=""
		multicast-port="-1" />
	<diagTailWatchServer
		id="Medicharge"
		tcpipPort="27104"
		multicast-host-ip=""
		multicast-port="-1" />
	<inputDataServer
		id="Medicharge"
		tcpipPort="27105"
		multicast-host-ip=""
		multicast-port="-1" />

	<synchronous-transactions>true</synchronous-transactions>

	<transaction-x-ref>
		<x-ref
			tradingPartner="1"
			mhg="ELCHECK"
			functionNo="0001"
			description="Elegibility check" />
		<x-ref
			tradingPartner="3"
			mhg="REALCLM"
			functionNo="0002"
			description="Realtime doctor Medicine claims" />
		<x-ref
			tradingPartner="4"
			mhg="REALCLM"
			functionNo="0004"
			description="Realtime doctor claims" />
		<x-ref
			tradingPartner="5"
			mhg="REALCLM"
			functionNo="0010"
			description="Realtime doctor" />
		<x-ref
			tradingPartner="127"
			mhg="PING"
			functionNo="0008"
			isPingOrHandshake="true"
			description="Ping" />
	</transaction-x-ref>

	<destination-x-ref>
		<x-ref
			tradingPartner="MCH1"
			mhg="METROPOLITAN"
			functionMask="FFFF"
			description="MCH1 - Metropolitan" />
		<x-ref
			tradingPartner="MC2"
			mhg="NIMAS"
			functionMask="FFFF"
			description="MC2 - Nimas" />
		<x-ref
			tradingPartner="MCPG"
			mhg="PGG"
			functionMask="FFFF"
			description="MCPG - PGG" />
		<x-ref
			tradingPartner="MCNET"
			mhg="NETCARE"
			functionMask="FFFF"
			description="MCNET - NETCARE" />
		<x-ref
			tradingPartner="MC5"
			mhg="POLMED"
			functionMask="FFFF"
			description="MC5 - Polmed" />
		<x-ref
			tradingPartner="MCA"
			mhg="BANKMED"
			functionMask="FFFF"
			description="MCA - Bankmed" />
		<x-ref
			tradingPartner="MCE"
			mhg="WOOLTRU"
			functionMask="FFFF"
			description="MCE - Wooltru" />
		<x-ref
			tradingPartner="MCG"
			mhg="ENGEN"
			functionMask="FFFF"
			description="MCG - Engen" />
		<x-ref
			tradingPartner="MCK"
			mhg="AFROX"
			functionMask="FFFF"
			description="MCK - Afrox" />
		<x-ref
			tradingPartner="MCL"
			mhg="SAPPI"
			functionMask="FFFF"
			description="MCL - Sappi" />
		<x-ref
			tradingPartner="MCN"
			mhg="GOLDEN_ARROW"
			functionMask="FFFF"
			description="MCN - GoldenArrow" />
		<x-ref
			tradingPartner="MCO"
			mhg="FISHMED"
			functionMask="FFFF"
			description="MCO - Fishmed" />
		<x-ref
			tradingPartner="MCP"
			mhg="BP"
			functionMask="FFFF"
			description="MCP - BPSA " />
		<x-ref
			tradingPartner="MCQ"
			mhg="SAMWU"
			functionMask="FFFF"
			description="MCQ - SAMWU " />
		<x-ref
			tradingPartner="MCT"
			mhg="GEMS"
			functionMask="FFFF"
			description="MCT - GEMS" />
		<x-ref
			tradingPartner="MCV"
			mhg="TRANSMED"
			functionMask="FFFF"
			description="MCV - Transmed" />

		<x-ref
			tradingPartner="PJ001"
			mhg="PROTEKTA"
			functionMask="FFFF"
			description="Metropolitan: Dentists" />
		<x-ref
			tradingPartner="PJ002"
			mhg="PROTEKTA"
			functionMask="FFFF"
			description="Metropolitan: Pathologists" />
		<x-ref
			tradingPartner="PJ003"
			mhg="PROTEKTA"
			functionMask="FFFF"
			description="Metropolitan: Specialists" />
		<x-ref
			tradingPartner="PJ004"
			mhg="PROTEKTA"
			functionMask="FFFF"
			description="Metropolitan:Optometrists" />
		<x-ref
			tradingPartner="PJ005"
			mhg="PROTEKTA"
			functionMask="FFFF"
			description="Metropolitan:Radiologists" />
		<x-ref
			tradingPartner="PJ006"
			mhg="PROTEKTA"
			functionMask="FFFF"
			description="Metropolitan: Oncologists " />
		<x-ref
			tradingPartner="PJ007"
			mhg="PROTEKTA"
			functionMask="FFFF"
			description="Metropolitan: Physiotherapists" />
		<x-ref
			tradingPartner="PJ008"
			mhg="PROTEKTA"
			functionMask="FFFF"
			description="Metropolitan: Other" />
		<x-ref
			tradingPartner="PJ009"
			mhg="PROTEKTA"
			functionMask="FFFF"
			description="Metropolitan: Doctors (GP)" />

	</destination-x-ref>

	<!-- Log File Parameters -->
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
		logDirectory="log/accesslog">
		<claimsLogger
			poolId="generic"
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbUrl="jdbc:sybase:Tds:cptlsyb30.za.mhgad.com:5100/JBAUDIT"
			logTable="Healthbridge"
			DbUserName="traffic"
			DbPassword="pJ9fXZ3d"
			minpoolsize="1"
			maxpoolsize="2"
			timeout="600000">
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM" />
		</claimsLogger>
	</logger>


</Enviroments>
