<Enviroments>
	
	<server
		__system_out="default"
		cmdPasswd="1q2w3e"
		diagPort="23106"
		logConfigFile="log4j.xml"
		name="DataMax TEST Server"
		port="23105"
		tradingPartner="DataMax"
		trxAbortSizeLimit="64000"
		trxSizeLimit="48000"
	/>	
	<env
		name="AMED"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		name="AFROX"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
		/>
	</env>
	<env
		name="BANKMED"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
		/>
	</env>
	<env
		name="BP"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
		/>
	</env>
	<env
		name="ENGEN"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
		/>
	</env>
	<env
		name="FISHMED"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
		/>
	</env>
	<env
		name="GEMS"
	>
		
		<pool
			autoDisable="false"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="25"
			dropClientOnError="false"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9110"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<env
		name="GOLDEN"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
		/>
	</env>
	<env
		name="IMPERIAL"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9105"
		/>
	</env>
	<env
		name="MEDIPOS"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9108"
		/>
	</env>
	<env
		name="METROPOLITAN"
	>
		
		<pool
			autotimeout="120000"
			connections="25"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9107"
		/>
	</env>
	<env
		name="NETCARE"
	>
		
		<pool
			autotimeout="120000"
			connections="25"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9113"
		/>
	</env>
	<env
		name="PGG"
	>
		
		<pool
			autotimeout="120000"
			connections="25"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9113"
		/>
	</env>
	
	<env
		name="SAMWU"
	>
		
		<pool
			autotimeout="120000"
			connections="25"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9115"
		/>
	</env>
	<env
		name="SAPPI"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
		/>
	</env>
	<env
		name="TRANSMED"
	>
		
		<pool
			autotimeout="120000"
			connections="25"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9107"
		/>
	</env>
	<env
		name="WOOLTRU"
	>
		
		<pool
			autotimeout="120000"
			connections="20"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
		/>
	</env>
	<env
		mhgAccount="PILIR"
		name="PILIR"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9110"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	<transaction
		class="InterfaceTransactions.Generic.GenTransaction"
	/>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
		23107
	</snmp-port>
	<tailWatchServer
		id="DataMax"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="23108"
	/>
	<diagTailWatchServer
		id="DataMax"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="23109"
	/>
	<inputDataServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="23110"
	/>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<transaction-x-ref	>
		
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			mhg="ELCHECK"
			tradingPartner="1"
		/>
		<x-ref
			description="Realtime Pharmacy Medicine claims"
			functionNo="000A"
			mhg="REALCLM"
			tradingPartner="2"
		/>
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3"
		/>
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4"
		/>
		<x-ref
			description="Ping"
			functionNo="0008"
			isPingOrHandshake="true"
			mhg="PING"
			tradingPartner="127"
		/>
		<x-ref
			description="Realtime doctor"
			functionNo="0010"
			mhg="REALCLM"
			tradingPartner="5"
		/>
	</transaction-x-ref>
	<destination-x-ref	>
		
		<x-ref
			description="IMPERIALMED: Dentists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU001"
		/>
		<x-ref
			description="IMPERIALMED: Pathologists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU002"
		/>
		<x-ref
			description="IMPERIALMED: Specialists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU003"
		/>
		<x-ref
			description="IMPERIALMED:Optometrists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU004"
		/>
		<x-ref
			description="IMPERIALMED:Radiologists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU005"
		/>
		<x-ref
			description="IMPERIALMED: Oncologists "
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU006"
		/>
		<x-ref
			description="IMPERIALMED: Physiotherapists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU007"
		/>
		<x-ref
			description="IMPERIALMED: Other"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU008"
		/>
		<x-ref
			description="IMPERIALMED: Doctors (GP)"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU009"
		/>
		<x-ref
			description="PICKNPAY: Dentists"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="PI001"
		/>
		<x-ref
			description="PICKNPAY: Pathologists"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="PI002"
		/>
		<x-ref
			description="PICKNPAY: Specialists"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="PI003"
		/>
		<x-ref
			description="PICKNPAY:Optometrists"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="PI004"
		/>
		<x-ref
			description="PICKNPAY:Radiologists"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="PI005"
		/>
		<x-ref
			description="PICKNPAY: Oncologists "
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="PI006"
		/>
		<x-ref
			description="PICKNPAY: Physiotherapists"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="PI007"
		/>
		<x-ref
			description="PICKNPAY: Doctors (GP)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="PI009"
		/>
		<x-ref
			description="PICKNPAY: Other"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="PI008"
		/>
		<x-ref
			description="DMK - Afrox"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="DMK"
		/>
		<x-ref
			description="DMA - Bankmed"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="DMA"
		/>
		<x-ref
			description="DMP - BP"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="DMP"
		/>
		<x-ref
			description="DMG - Engen"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="DMG"
		/>
		<x-ref
			description="DMO - Fishmed"
			functionMask="FFFF"
			mhg="FISHMED"
			tradingPartner="DMO"
		/>
		<x-ref
			description="DMT - Gems"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="DMT"
		/>
		<x-ref
			description="DMN - Golden"
			functionMask="FFFF"
			mhg="GOLDEN"
			tradingPartner="DMN"
		/>
		<x-ref
			description="DM7 - Medipos"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="DM7"
		/>
		<x-ref
			description="DMH1 - MEtropolitan"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="DMH1"
		/>
		<x-ref
			description="DM9 - Netcare"
			functionMask="FFFF"
			mhg="NETCARE"
			tradingPartner="DM9"
		/>
		<x-ref
			description="DMM - PGG"
			functionMask="FFFF"
			mhg="PGG"
			tradingPartner="DMM"
		/>
		
		<x-ref
			description="DMQ - SAMWU "
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="DMQ"
		/>
		<x-ref
			description="DML - Sappi"
			functionMask="FFFF"
			mhg="SAPPI"
			tradingPartner="DML"
		/>
		<x-ref
			description="DME - Wooltru"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="DME"
		/>
		<x-ref
			description="DMV - Transmed"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="DMV"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Eastern Cape"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVEC"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Free State"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVFS"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Gauteng"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVGP"
		/>
		<x-ref
			description="PILIR:DoH COVID19 KwaZulu-Natal"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVKZ"
		/>
		<x-ref
			description="PILIR:DoH COVID19 Limpopo"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVLP"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Mpumalanga "
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVMP"
		/>
		<x-ref
			description="PILIR: DoH COVID19 North West"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVNW"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Northern Cape"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVNC"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Western Cape"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVWC"
		/>
					
		
	</destination-x-ref>
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="IR0b0t"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-acpt:7500/JBAUDIT"
			DbUserName="traffic"
			logTable="DataMax"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM,TRGXML01,CHGCLAIM,SOLAUTH"
			/>
		</claimsLogger>
	</logger>
</Enviroments>

