<?xml version="1.0"?>
<Enviroments>

	<time-zone_
		help="optional"
		reason="fix jdk1.4 bug on Solaris">GMT-2</time-zone_>

	<!-- Global Server Parameters -->
	<server
		trxSizeLimit="80000"
		trxAbortSizeLimit="120000"
		cmdPasswd="1q2w3e"
		tradingPartner="EMD"
		name="EMD Main Server"
		port="20870"
		diagPort="20871"
		logConfigFile="log4j.xml"
		__system_out="default" />

	<!-- List of Environments that this server can talk to -->

	<env
		name="AMED">
		<pool
			useSoTimeOut="false"
			stickyStandin="false"
			autoDisableOnSyncStart="true"
			autoEnableOnSyncEnd="true"
			dropClientOnError="false"
			startDisabled="false"
			waitForSyncToFinishTimeout="40000"
			autoDisable="true"
			autoEnable="true"
			id="COBOL"
			hostname="apl-amed.za.mhgad.com"
			port="9307"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>

	<env
		name="NIMAS">
		<pool
			useSoTimeOut="false"
			stickyStandin="false"
			autoDisableOnSyncStart="true"
			autoEnableOnSyncEnd="true"
			dropClientOnError="false"
			startDisabled="false"
			waitForSyncToFinishTimeout="40000"
			autoDisable="true"
			autoEnable="true"
			id="COBOL"
			hostname="apl-nimas.za.mhgad.com"
			port="9313"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>

	<env
		name="GEMS"
		mhgAccount="GEMS">
		<pool
			useSoTimeOut="false"
			stickyStandin="false"
			autoDisableOnSyncStart="true"
			autoEnableOnSyncEnd="true"
			dropClientOnError="false"
			startDisabled="false"
			waitForSyncToFinishTimeout="40000"
			autoDisable="true"
			autoEnable="true"
			id="COBOL"
			hostname="apl-gems.za.mhgad.com"
			port="9310"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	<env
		name="IMPERIAL"
		mhgAccount="IMPERIAL">
		<pool
			useSoTimeOut="false"
			stickyStandin="false"
			autoDisableOnSyncStart="true"
			autoEnableOnSyncEnd="true"
			dropClientOnError="false"
			startDisabled="false"
			waitForSyncToFinishTimeout="40000"
			autoDisable="true"
			autoEnable="true"
			id="COBOL"
			hostname="apl-imperial.za.mhgad.com"
			port="9314"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>

	<env
		name="MEDIPOS"
		mhgAccount="MEDIPOS">
		<pool
			useSoTimeOut="false"
			stickyStandin="false"
			autoDisableOnSyncStart="true"
			autoEnableOnSyncEnd="true"
			dropClientOnError="false"
			startDisabled="false"
			waitForSyncToFinishTimeout="40000"
			autoDisable="true"
			autoEnable="true"
			id="COBOL"
			hostname="apl-medipos.za.mhgad.com"
			port="9315"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>

	<env
		name="NEWMED"
		mhgAccount="NEWMED">
		<pool
			useSoTimeOut="false"
			stickyStandin="false"
			autoDisableOnSyncStart="true"
			autoEnableOnSyncEnd="true"
			dropClientOnError="false"
			startDisabled="false"
			waitForSyncToFinishTimeout="40000"
			autoDisable="true"
			autoEnable="true"
			id="COBOL"
			hostname="apl-newmed.za.mhgad.com"
			port="9308"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>

	

	<env
		name="SAMWU">
		<pool
			useSoTimeOut="false"
			stickyStandin="false"
			autoDisableOnSyncStart="true"
			autoEnableOnSyncEnd="true"
			dropClientOnError="false"
			startDisabled="false"
			waitForSyncToFinishTimeout="40000"
			autoDisable="true"
			autoEnable="true"
			id="COBOL"
			hostname="apl-samwu.za.mhgad.com"
			port="9305"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>
	
	<!-- Log File Parameters -->
	<loggerOLD
		classname="InterfaceTransactions.Diagnostics.HpInterFaceLogger"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
		logDirectory="Logs" />

	<transaction
		class="InterfaceTransactions.Generic.GenTransaction" />
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders" />

	<pool-definitions-file
		name="pool.xml" />

	<snmp-port
		mibFile="mibs.xml">20872</snmp-port>

	<tailWatchServer
		id="EMD"
		tcpipPort="20873"
		multicast-host-ip=""
		multicast-port="-1" />
	<diagTailWatchServer
		id="EMD"
		tcpipPort="20874"
		multicast-host-ip=""
		multicast-port="-1" />

	<synchronous-transactions>true</synchronous-transactions>

	<transaction-x-ref>
		<x-ref
			tradingPartner="1"
			mhg="ELCHECK"
			functionNo="0001"
			description="Elegibility check" />
		<x-ref
			tradingPartner="3"
			mhg="REALCLM"
			functionNo="0002"
			description="Realtime doctor Medicine claims" />
		<x-ref
			tradingPartner="4"
			mhg="REALCLM"
			functionNo="0004"
			description="Realtime doctor claims" />
		<x-ref
			tradingPartner="5"
			mhg="REALCLM"
			functionNo="0010"
			description="Realtime doctor" />
		<x-ref
			tradingPartner="127"
			mhg="PING"
			functionNo="0008"
			isPingOrHandshake="true"
			description="Ping" />
	</transaction-x-ref>

	<destination-x-ref>
		<x-ref
			tradingPartner="MHG1"
			mhg="NEWMED"
			functionMask="FFFF"
			description="MHG1 - Metropolitan" />
		<x-ref
			tradingPartner="MHG2"
			mhg="NIMAS"
			functionMask="FFFF"
			description="MHG2 - Nimas" />
	
		
		<x-ref
			tradingPartner="MHGA"
			mhg="AMED"
			functionMask="FFFF"
			description="MHGA - Bankmed" />
		<x-ref
			tradingPartner="MHGE"
			mhg="AMED"
			functionMask="FFFF"
			description="MHGE - Wooltru" />
		<x-ref
			tradingPartner="MHGF"
			mhg="AMED"
			functionMask="FFFF"
			description="MHGF - Foschini" />
		<x-ref
			tradingPartner="MHGG"
			mhg="AMED"
			functionMask="FFFF"
			description="MHGG - Engen" />
		<x-ref
			tradingPartner="MHGK"
			mhg="AMED"
			functionMask="FFFF"
			description="MHGK - Afrox" />
		<x-ref
			tradingPartner="MHGP"
			mhg="AMED"
			functionMask="FFFF"
			description="MHGP - BPSA " />
		<x-ref
			tradingPartner="MHGO"
			mhg="AMED"
			functionMask="FFFF"
			description="MHGO - Fishmed" />
		<x-ref
			tradingPartner="MHGN"
			mhg="AMED"
			functionMask="FFFF"
			description="MHGN - GoldenArrow" />
		<x-ref
			tradingPartner="MHGI"
			mhg="AMED"
			functionMask="FFFF"
			description="MHGI - Pick N Pay " />
		<x-ref
			tradingPartner="MHGL"
			mhg="AMED"
			functionMask="FFFF"
			description="MHGL - Sappi" />
		<x-ref
			tradingPartner="MHGT"
			mhg="GEMS"
			functionMask="FFFF"
			description="MHGT - GEMS" />
		<x-ref
			tradingPartner="MHGV"
			mhg="NEWMED"
			functionMask="FFFF"
			description="MHGV - Transmed" />
		<x-ref
			tradingPartner="MHGU"
			mhg="IMPERIAL"
			functionMask="FFFF"
			description="MHGU - Imperial" />
		<x-ref
			tradingPartner="MHG7"
			mhg="MEDIPOS"
			functionMask="FFFF"
			description="MHG7 - Medipos" />
		<x-ref
			tradingPartner="MHGQ"
			mhg="SAMWU"
			functionMask="FFFF"
			description="MHGQ - Samwu" />
		
	</destination-x-ref>

	<!-- Log File Parameters -->
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
		logDirectory="log/accesslog">
		<claimsLogger
			poolId="generic"
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-prod:5100/JBAUDIT"
			logTable="EMD"
			DbUserName="traffic"
			DbPassword="pJ9fXZ3d"
			minpoolsize="1"
			maxpoolsize="2"
			timeout="600000">
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM" />
		</claimsLogger>
	</logger>

</Enviroments>
