<Enviroments>
	
	<server
		__system_out="default"
		cmdPasswd="1q2w3e"
		diagPort="20201"
		distributedCacheEnabled="true"
		distributedCacheEntryTimeout="120"
		distributedCacheIP="cptlagw01.za.mhgad.com"
		distributedCachePort="11211"
		logConfigFile="log4j.xml"
		name="DHS MAIN NON QPBM"
		port="20200"
		tradingPartner="Mediswitch"
		trxAbortSizeLimit="256000"
		trxSizeLimit="128000"
	/>
	<env
		name="AMED"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="apl-amed.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9307"
			useSoTimeOut="false"
		/>
	</env>
		
	<env
		name="IMPERIAL"
		useDistributedCache="true"
	>
		
		<pool
			autotimeout="120000"
			connections="10"
			hostname="apl-imperial.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9314"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="MEDIPOS"
		useDistributedCache="true"
	>
		
		<pool
			autotimeout="120000"
			connections="10"
			hostname="apl-medipos.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9315"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="NEWMED"
	>
		
		<pool
			autotimeout="120000"
			connections="10"
			hostname="apl-newmed.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9308"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="REDRIB"
	>
		
		<pool
			autotimeout="120000"
			connections="10"
			hostname="apl-redrib.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9311"
			useSoTimeOut="false"
		/>
	</env>
	
	<env
		mhgAccount="NEWMED"
		name="TRANSMED"
		useDistributedCache="true"
	>
		
		<pool
			autotimeout="120000"
			connections="10"
			hostname="apl-newmed.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9308"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="WOOLTRU"
		useDistributedCache="true"
	>
		
		<pool
			autotimeout="120000"
			connections="10"
			hostname="apl-amed.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9307"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="PILIR"
		name="PILIR"
		useDistributedCache="true"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="apl-pilir.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9304"
			useSoTimeOut="true"
		/>		
	</env>
	<transaction
		class="InterfaceTransactions.Generic.GenTransaction"
	/>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
		20202
	</snmp-port>
	<tailWatchServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20203"
	/>
	<diagTailWatchServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20204"
	/>
	<inputDataServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20205"
	/>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<transaction-x-ref	>
		
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			mhg="ELCHECK"
			tradingPartner="1"
		/>
		<x-ref
			description="Realtime Pharmacy Medicine claims"
			functionNo="000A"
			mhg="REALCLM"
			tradingPartner="2"
		/>
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3"
		/>
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4"
		/>
		<x-ref
			description="Ping"
			functionNo="0008"
			isPingOrHandshake="true"
			mhg="PING"
			tradingPartner="127"
		/>
		<x-ref
			description="Realtime doctor"
			functionNo="0010"
			mhg="REALCLM"
			tradingPartner="5"
		/>
	</transaction-x-ref>
	<destination-x-ref	>
		
						
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MAMR0003"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MBMR0004"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MFMR0004"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MPNP0020"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MSMR0008"
		/>
		
		<x-ref
			description="MHG: IMPERIAL Pharmacy"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIRP0001"
		/>
		<x-ref
			description="MHG: IMPERIAL Realtime"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGR0002"
		/>
		<x-ref
			description="MHG: IMPERIAL SwitchOn"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGS0001"
		/>
		<x-ref
			description="MHG: IMPERIAL Realer"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGR0003"
		/>
		<x-ref
			description="MHG: IMPERIAL Realer Specialiste"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGR0004"
		/>
		<x-ref
			description="MHG: IMPERIAL Medical"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGM0001"
		/>
		<x-ref
			description="MHG: IMPERIAL Mediclinic"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGM0002"
		/>
		
		<x-ref
			description="MHG: IMPERIAL Hospital"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGH0001"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGM0003"
		/>
		<x-ref
			description="MHG: MEDIPOS Hospital"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMHO0007"
		/>
		
		<x-ref
			description="MHG: MEDIPOS Mediclinic"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMME0013"
		/>
		<x-ref
			description="MHG: MEDIPOS Realtime"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMRM0006"
		/>
		<x-ref
			description="MHG: MEDIPOS Realtime"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMRP0003"
		/>
		<x-ref
			description="MHG: MEDIPOS Realer"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMRM0007"
		/>
		<x-ref
			description="MHG: MEDIPOS Switchon"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMSM0006"
		/>
		<x-ref
			description="MHG: MEDIPOS Realer Specialists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMRR0010"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMMR0004"
		/>
		<x-ref
			description="RRDT0001 - Redrib"
			functionMask="FFFF"
			mhg="REDRIB"
			tradingPartner="rrdt0001"
		/>
		<x-ref
			description="Remedi - Real Time - "
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="rrph0001"
		/>
		<x-ref
			description="MHG: REMEDI REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="MRRM0001"
		/>
		<x-ref
			description="MHG: REMEDI SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="MRSM0001"
		/>
		<x-ref
			description="MHG: REMEDI REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="MRRR0013"
		/>
		<x-ref
			description="MHG: REMEDI PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="MRPR0001"
		/>
		<x-ref
			description="MHG: REMEDI REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="MRRM0003"
		/>
		<x-ref
			description="Omnihealth - Real Time - "
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="opha0028"
		/>
		<x-ref
			description=" Transmed"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="tpha0039"
		/>
		<x-ref
			description="MRDE0004 - Methealth"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="mrde0004"
		/>
		<x-ref
			description="MHG: METROPOLITAN REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MMRM0001"
		/>
		<x-ref
			description="MHG: METROPOLITAN SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MMSM0002"
		/>
		<x-ref
			description="MHG: METROPOLITAN REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MMRR0009"
		/>
		<x-ref
			description="MHG: METROPOLITAN PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MMPR0002"
		/>
		<x-ref
			description="MHG: METROPOLITAN REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MMRM0005"
		/>
		<x-ref
			description="MHG: TRANSMED REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MTRR0001"
		/>
		<x-ref
			description="MHG: TRANSMED PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MTPR0002"
		/>
		<x-ref
			description="MHG: TRANSMED REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MTRM0004"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MMMR0005"
		/>
		
		<x-ref
			description="MHG: TRANSMED REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="MTRM0001"
		/>
		<x-ref
			description="MHG: TRANSMED SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="MTSM0001"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="MTMR0014"
		/>
		<x-ref
			description="nrde0004 - WOOLTRU"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="nrde0004"
		/>
		<x-ref
			description="MHG: WOOLTRU REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="MWRM0001"
		/>
		<x-ref
			description="MHG: WOOLTRU SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="MWSM0001"
		/>
		<x-ref
			description="MHG: WOOLTRU PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="MWPR0003"
		/>
		<x-ref
			description="MHG: WOOLTRU REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="MWRM0002"
		/>
		<x-ref
			description="MHG: WOOLTRU REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="MWRR0001"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="MWMR0002"
		/>
		<x-ref
			description="MHG: IMPERIAL GROUP PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGP0001"
		/>
		<x-ref
			description="MHG: IMPERIAL Realtime"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGR0002"
		/>
		<x-ref
			description="MHG: MEDIPOS PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMPR0005"
		/>
		<x-ref
			description="MHG: MEDIPOS Realtime"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMRM0006"
		/>
		<x-ref
			description="MHG: SAPS Wellness Switchon Medical claims"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="MSWS0001"
		/>
		<x-ref
			description="MHG: SAPS Wellness Pathology Realer claims"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="MSWP0001"
		/>
		<x-ref
			description="MHG: SAPS Wellness Realer claims"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="MSWR0001"
		/>
		<x-ref
			description="MHG: SAPS Wellness Realer Radio Physio claims"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="MSWR0003"
		/>
		<x-ref
			description="MHG: SAPS Wellness Mediclinic Realer claims"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="MSWM0008"
		/>
		<x-ref
			description="MHG: SAPS Wellness Medical claims"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="MSWM0009"
		/>
		<x-ref
			description="MHG: SAPS Wellness Mediclinic claims"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="MSWM0007"
		/>
		
		<x-ref
			description="MHG: SAPS Wellness Hospital claims"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="MSWH0001"
		/>
	</destination-x-ref>
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="pJ9fXZ3d"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-prod:5100/JBAUDIT"
			DbUserName="traffic"
			logTable="DHSMain"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM"
			/>
		</claimsLogger>
	</logger>
</Enviroments>

