<?xml version="1.0"?>
<!--
startDisabled: Primary must start is a disabled state
waitForSyncToFinishTimeout: max time in ms to wait for backup to
finish synchronization autoEnable: if true then connector will
automatically be enabled when the SYNC_STOP event is received
autoDisable: if true then connector will disable itself as soon as it
switches to the backup
-->
<Enviroments>
	<!-- Global Server Parameters -->
	<server sendTrxDetailsToStatusMonitor="true" trxSizeLimit="48000"
		trxAbortSizeLimit="64000" cmdPasswd="1q2w3e" tradingPartner="Medipost"
		name="Medipost Test" active="true" autoDisable="false" port="20835"
		diagPort="20836" logConfigFile="log4j.xml" />

	<env name="BP" mhgAccount="AMED">
		<pool id="COBOL" hostname="cptlapp90.za.mhgad.com" port="9106"
		connections="20" autotimeout="120000" poolMaxWaitTime="28000" />
	</env>

	<env name="ENGEN" mhgAccount="AMED">
		<pool id="COBOL" hostname="cptlapp90.za.mhgad.com" port="9106"
		connections="20" autotimeout="120000" poolMaxWaitTime="28000" />
	</env>

	<env name="GEMS" mhgAccount="GEMS">
		<pool id="COBOL" hostname="cptlapp90.za.mhgad.com" port="9110"
		connections="25" autotimeout="120000" poolMaxWaitTime="28000" />
	</env>

	<env name="IMPERIAL" mhgAccount="IMPERIAL">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp90.za.mhgad.com"
		port="9105" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="MEDIPOS" mhgAccount="MEDIPOS">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp90.za.mhgad.com"
		port="9108" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="METROPOLITAN" mhgAccount="NEWMED">
		<pool id="COBOL" hostname="cptlapp90.za.mhgad.com" port="9107"
		connections="25" autotimeout="120000" poolMaxWaitTime="28000" />
	</env>

	<env name="NIMAS" mhgAccount="NIMAS">
		<pool id="COBOL" hostname="cptlapp90.za.mhgad.com" port="9113"
		connections="25" autotimeout="120000" poolMaxWaitTime="28000" />
	</env>

	<env name="POLMED" mhgAccount="POLMED">
		<pool id="COBOL" hostname="cptlapp90.za.mhgad.com" port="9109"
		connections="25" autotimeout="120000" poolMaxWaitTime="28000" />
	</env>

	<env name="TRANSMED" mhgAccount="NEWMED">
		<pool id="COBOL" hostname="cptlapp90.za.mhgad.com" port="9107"
		connections="25" autotimeout="120000" poolMaxWaitTime="40000" />
	</env>

	<env name="WOOLTRU" mhgAccount="AMED">
		<pool id="COBOL" hostname="cptlapp90.za.mhgad.com" port="9106"
		connections="20" autotimeout="120000" poolMaxWaitTime="28000" />
	</env>

	<env name="SAMWU">
		<pool id="COBOL" hostname="cptlapp90.za.mhgad.com" port="9115"
		connections="20" autotimeout="120000" poolMaxWaitTime="28000" />
	</env>

	<transaction    class="InterfaceTransactions.Generic.GenTransactionPlainTextInput" />
	<transaction-header class="InterfaceTransactions.Generic.GenHeaders" />

	<pool-definitions-file name="pool.xml" />

	<snmp-port mibFile="mibs.xml">20837</snmp-port>

	<synchronous-transactions>true</synchronous-transactions>

	<tailWatchServer id="Attune Primary" tcpipPort="20838"
	multicast-host-ip="" multicast-port="-1" />
	<diagTailWatchServer id="Attune Primary" tcpipPort="20839"
	multicast-host-ip="" multicast-port="-1" />

	<transaction-x-ref>
		<x-ref tradingPartner="1" mhg="ELCHECK" functionNo="0001"
		description="Elegibility check" />
		<x-ref tradingPartner="2" mhg="REALCLM" functionNo="0002"
		description="Realtime doctor Medicine claims" />
		<x-ref tradingPartner="4" mhg="REALCLM" functionNo="0004"
		description="Realtime doctor claims" />
		<x-ref tradingPartner="127" mhg="PING" functionNo="0008"
		description="Ping" />

	</transaction-x-ref>

	<destination-x-ref>
		<!-- Development Env's -->
		<x-ref tradingPartner=  "T02" mhg="TRANSMED" 			functionMask="FFFF" description="Transmed"/>
		<x-ref tradingPartner=  "T03" mhg="WOOLTRU"  			functionMask="FFFF" description="Woolthru"/>
		<x-ref tradingPartner=  "T05" mhg="ENGEN"    			functionMask="FFFF" description="Engen"/>
		<x-ref tradingPartner=  "T11" mhg="METROPOLITAN" 	functionMask="FFFF" description="Metropolitan"/>
		<x-ref tradingPartner=  "T12" mhg="BP"   					functionMask="FFFF" description="BP"/>
		<x-ref tradingPartner=  "T15" mhg="SAMWU"   			functionMask="FFFF" description="Samwu"/>
		<x-ref tradingPartner=  "T18" mhg="POLMED"  			functionMask="FFFF" description="Polmed"/>
		<x-ref tradingPartner=  "T19" mhg="GEMS"  				functionMask="FFFF" description="Gems"/>
		<x-ref tradingPartner=  "T20" mhg="NIMAS"  				functionMask="FFFF" description="Nimas"/>
		<x-ref tradingPartner=  "T21" mhg="IMPERIAL" 			functionMask="FFFF"	description="Imperial" />
		<x-ref tradingPartner=  "T22" mhg="MEDIPOS" 			functionMask="FFFF"	description="Medipos" />
	</destination-x-ref>

	<!-- Log File Parameters  -->
	<logger classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
		logDirectory="log/accesslog-test">
		<claimsLogger
			poolId="generic"
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbUrl="jdbc:sybase:Tds:cptlsyb80.za.mhgad.com:7500/JBAUDIT"
			logTable="Medipost"
			DbUserName="traffic"
			DbPassword="IR0b0t"
			minpoolsize="1"
			maxpoolsize="2"
			timeout="600000">
			<logTransactions desc="comma seperated list of transactions to log"	value="REALCLM" />
		</claimsLogger>
	</logger>

</Enviroments>
