<Enviroments>
	
	<env
		name="AMED"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9107"
			useSoTimeOut="false"
		/>
	</env>
	<server
		__system_out="default"
		cmdPasswd="1q2w3e"
		diagPort="20101"
		distributedCacheEnabled="true"
		distributedCacheEntryTimeout="120"
		distributedCacheIP="cptlagw01.za.mhgad.com"
		distributedCachePort="11211"
		logConfigFile="log4j.xml"
		name="DHS MAIN Server"
		port="20100"
		tradingPartner="Mediswitch"
		trxAbortSizeLimit="256000"
		trxSizeLimit="128000"
	/>
	<env
		name="BP"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9107"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
			<localConnectorsToManipulateOnSync			>
				
				<localConnectorToManipulateOnSync
					desc="Test"
					remoteEnv="BP"
					remotePoolId="COBOLBACKUP"
				/>
			</localConnectorsToManipulateOnSync>
			<remoteConnectorOperations			>
				
				<remoteConnectorOperation
					action="STATUS"
					desc="will enable conn if active"
					diagport="20101"
					host="dralsin01.za.mhgad.com"
					remoteEnv="BP"
					remotePoolId="COBOL"
				/>
			</remoteConnectorOperations>
			<secondaryPool
				autoDisable="false"
				autoDisableOnSyncStart="true"
				autoEnable="true"
				autoEnableOnSyncEnd="true"
				autotimeout="90000"
				connections="3"
				connectorImplementationClassID="COBOL"
				dropClientOnError="false"
				hostname="dralsin01.za.mhgad.com"
				id="COBOLBACKUP"
				minTrxTime="15000"
				poolMaxWaitTime="28000"
				port="9306"
				startDisabled="true"
				useSoTimeOut="false"
				waitForSyncToFinishTimeout="10000"
			>
				
				<remoteConnectorOperations				>
					
					<remoteConnectorOperation
						action="STATUS"
						desc="will enable conn if active"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="BP"
						remotePoolId="COBOL"
					/>
					<remoteConnectorOperation
						action="DISABLE"
						desc="will disable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="BP"
						remotePoolId="COBOLBACKUP"
					/>
					<remoteConnectorOperation
						action="ENABLE"
						desc="will enable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="BP"
						remotePoolId="COBOL"
					/>
				</remoteConnectorOperations>
			</secondaryPool>
		</pool>
	</env>
	<env
		name="ENGEN"
	>
		
		<pool
			autotimeout="120000"
			connections="10"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9107"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="FISHMED"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9107"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
			<localConnectorsToManipulateOnSync			>
				
				<localConnectorToManipulateOnSync
					desc="Test"
					remoteEnv="FISHMED"
					remotePoolId="COBOLBACKUP"
				/>
			</localConnectorsToManipulateOnSync>
			<remoteConnectorOperations			>
				
				<remoteConnectorOperation
					action="STATUS"
					desc="will enable conn if active"
					diagport="20101"
					host="dralsin01.za.mhgad.com"
					remoteEnv="FISHMED"
					remotePoolId="COBOL"
				/>
			</remoteConnectorOperations>
			<secondaryPool
				autoDisable="false"
				autoDisableOnSyncStart="true"
				autoEnable="true"
				autoEnableOnSyncEnd="true"
				autotimeout="90000"
				connections="3"
				connectorImplementationClassID="COBOL"
				dropClientOnError="false"
				hostname="dralsin01.za.mhgad.com"
				id="COBOLBACKUP"
				minTrxTime="15000"
				poolMaxWaitTime="28000"
				port="9306"
				startDisabled="true"
				useSoTimeOut="false"
				waitForSyncToFinishTimeout="10000"
			>
				
				<remoteConnectorOperations				>
					
					<remoteConnectorOperation
						action="STATUS"
						desc="will enable conn if active"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="FISHMED"
						remotePoolId="COBOL"
					/>
					<remoteConnectorOperation
						action="DISABLE"
						desc="will disable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="FISHMED"
						remotePoolId="COBOLBACKUP"
					/>
					<remoteConnectorOperation
						action="ENABLE"
						desc="will enable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="FISHMED"
						remotePoolId="COBOL"
					/>
				</remoteConnectorOperations>
			</secondaryPool>
		</pool>
	</env>
	<env
		name="GOLDEN"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9107"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
			<localConnectorsToManipulateOnSync			>
				
				<localConnectorToManipulateOnSync
					desc="Test"
					remoteEnv="GOLDEN"
					remotePoolId="COBOLBACKUP"
				/>
			</localConnectorsToManipulateOnSync>
			<remoteConnectorOperations			>
				
				<remoteConnectorOperation
					action="STATUS"
					desc="will enable conn if active"
					diagport="20101"
					host="dralsin01.za.mhgad.com"
					remoteEnv="GOLDEN"
					remotePoolId="COBOL"
				/>
			</remoteConnectorOperations>
			<secondaryPool
				autoDisable="false"
				autoDisableOnSyncStart="true"
				autoEnable="true"
				autoEnableOnSyncEnd="true"
				autotimeout="90000"
				connections="3"
				connectorImplementationClassID="COBOL"
				dropClientOnError="false"
				hostname="dralsin01.za.mhgad.com"
				id="COBOLBACKUP"
				minTrxTime="15000"
				poolMaxWaitTime="28000"
				port="9306"
				startDisabled="true"
				useSoTimeOut="false"
				waitForSyncToFinishTimeout="10000"
			>
				
				<remoteConnectorOperations				>
					
					<remoteConnectorOperation
						action="STATUS"
						desc="will enable conn if active"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="GOLDEN"
						remotePoolId="COBOL"
					/>
					<remoteConnectorOperation
						action="DISABLE"
						desc="will disable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="GOLDEN"
						remotePoolId="COBOLBACKUP"
					/>
					<remoteConnectorOperation
						action="ENABLE"
						desc="will enable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="GOLDEN"
						remotePoolId="COBOL"
					/>
				</remoteConnectorOperations>
			</secondaryPool>
		</pool>
	</env>
	<env
		name="IMPERIAL"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9114"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
			<localConnectorsToManipulateOnSync			>
				
				<localConnectorToManipulateOnSync
					desc="Test"
					remoteEnv="IMPERIAL"
					remotePoolId="COBOLBACKUP"
				/>
			</localConnectorsToManipulateOnSync>
			<remoteConnectorOperations			>
				
				<remoteConnectorOperation
					action="STATUS"
					desc="will enable conn if active"
					diagport="20101"
					host="dralsin01.za.mhgad.com"
					remoteEnv="IMPERIAL"
					remotePoolId="COBOL"
				/>
			</remoteConnectorOperations>
			<secondaryPool
				autoDisable="false"
				autoDisableOnSyncStart="true"
				autoEnable="true"
				autoEnableOnSyncEnd="true"
				autotimeout="90000"
				connections="10"
				connectorImplementationClassID="COBOL"
				dropClientOnError="false"
				hostname="dralsin01.za.mhgad.com"
				id="COBOLBACKUP"
				minTrxTime="15000"
				poolMaxWaitTime="28000"
				port="9308"
				startDisabled="true"
				useSoTimeOut="false"
				waitForSyncToFinishTimeout="10000"
			>
				
				<remoteConnectorOperations				>
					
					<remoteConnectorOperation
						action="STATUS"
						desc="will enable conn if active"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="IMPERIAL"
						remotePoolId="COBOL"
					/>
					<remoteConnectorOperation
						action="DISABLE"
						desc="will disable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="IMPERIAL"
						remotePoolId="COBOLBACKUP"
					/>
					<remoteConnectorOperation
						action="ENABLE"
						desc="will enable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="IMPERIAL"
						remotePoolId="COBOL"
					/>
				</remoteConnectorOperations>
			</secondaryPool>
		</pool>
	</env>
	<env
		name="MEDIPOS"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9115"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
			<localConnectorsToManipulateOnSync			>
				
				<localConnectorToManipulateOnSync
					desc="Test"
					remoteEnv="MEDIPOS"
					remotePoolId="COBOLBACKUP"
				/>
			</localConnectorsToManipulateOnSync>
			<remoteConnectorOperations			>
				
				<remoteConnectorOperation
					action="STATUS"
					desc="will enable conn if active"
					diagport="20101"
					host="dralsin01.za.mhgad.com"
					remoteEnv="MEDIPOS"
					remotePoolId="COBOL"
				/>
			</remoteConnectorOperations>
			<secondaryPool
				autoDisable="false"
				autoDisableOnSyncStart="true"
				autoEnable="true"
				autoEnableOnSyncEnd="true"
				autotimeout="90000"
				connections="3"
				connectorImplementationClassID="COBOL"
				dropClientOnError="false"
				hostname="dralsin01.za.mhgad.com"
				id="COBOLBACKUP"
				minTrxTime="15000"
				poolMaxWaitTime="28000"
				port="9314"
				startDisabled="true"
				useSoTimeOut="false"
				waitForSyncToFinishTimeout="10000"
			>
				
				<remoteConnectorOperations				>
					
					<remoteConnectorOperation
						action="STATUS"
						desc="will enable conn if active"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="MEDIPOS"
						remotePoolId="COBOL"
					/>
					<remoteConnectorOperation
						action="DISABLE"
						desc="will disable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="MEDIPOS"
						remotePoolId="COBOLBACKUP"
					/>
					<remoteConnectorOperation
						action="ENABLE"
						desc="will enable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="MEDIPOS"
						remotePoolId="COBOL"
					/>
				</remoteConnectorOperations>
			</secondaryPool>
		</pool>
	</env>
	<env
		name="NEWMED"
	>
		
		<pool
			autotimeout="120000"
			connections="10"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9108"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="REDRIB"
	>
		
		<pool
			autotimeout="120000"
			connections="10"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9111"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="SAMWU"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9105"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
			<localConnectorsToManipulateOnSync			>
				
				<localConnectorToManipulateOnSync
					desc="Test"
					remoteEnv="SAMWU"
					remotePoolId="COBOLBACKUP"
				/>
			</localConnectorsToManipulateOnSync>
			<remoteConnectorOperations			>
				
				<remoteConnectorOperation
					action="STATUS"
					desc="will enable conn if active"
					diagport="20101"
					host="dralsin01.za.mhgad.com"
					remoteEnv="SAMWU"
					remotePoolId="COBOL"
				/>
			</remoteConnectorOperations>
			<secondaryPool
				autoDisable="false"
				autoDisableOnSyncStart="true"
				autoEnable="true"
				autoEnableOnSyncEnd="true"
				autotimeout="90000"
				connections="3"
				connectorImplementationClassID="COBOL"
				dropClientOnError="false"
				hostname="dralsin01.za.mhgad.com"
				id="COBOLBACKUP"
				minTrxTime="15000"
				poolMaxWaitTime="28000"
				port="9312"
				startDisabled="true"
				useSoTimeOut="false"
				waitForSyncToFinishTimeout="10000"
			>
				
				<remoteConnectorOperations				>
					
					<remoteConnectorOperation
						action="STATUS"
						desc="will enable conn if active"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="SAMWU"
						remotePoolId="COBOL"
					/>
					<remoteConnectorOperation
						action="DISABLE"
						desc="will disable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="SAMWU"
						remotePoolId="COBOLBACKUP"
					/>
					<remoteConnectorOperation
						action="ENABLE"
						desc="will enable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="SAMWU"
						remotePoolId="COBOL"
					/>
				</remoteConnectorOperations>
			</secondaryPool>
		</pool>
	</env>
	<env
		mhgAccount="NEWMED"
		name="TRANSMED"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9108"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
			<localConnectorsToManipulateOnSync			>
				
				<localConnectorToManipulateOnSync
					desc="Test"
					remoteEnv="TRANSMED"
					remotePoolId="COBOLBACKUP"
				/>
			</localConnectorsToManipulateOnSync>
			<remoteConnectorOperations			>
				
				<remoteConnectorOperation
					action="STATUS"
					desc="will enable conn if active"
					diagport="20101"
					host="dralsin01.za.mhgad.com"
					remoteEnv="TRANSMED"
					remotePoolId="COBOL"
				/>
			</remoteConnectorOperations>
			<secondaryPool
				autoDisable="false"
				autoDisableOnSyncStart="true"
				autoEnable="true"
				autoEnableOnSyncEnd="true"
				autotimeout="90000"
				connections="3"
				connectorImplementationClassID="COBOL"
				dropClientOnError="false"
				hostname="dralsin01.za.mhgad.com"
				id="COBOLBACKUP"
				minTrxTime="15000"
				poolMaxWaitTime="28000"
				port="9307"
				startDisabled="true"
				useSoTimeOut="false"
				waitForSyncToFinishTimeout="10000"
			>
				
				<remoteConnectorOperations				>
					
					<remoteConnectorOperation
						action="STATUS"
						desc="will enable conn if active"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="TRANSMED"
						remotePoolId="COBOL"
					/>
					<remoteConnectorOperation
						action="DISABLE"
						desc="will disable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="TRANSMED"
						remotePoolId="COBOLBACKUP"
					/>
					<remoteConnectorOperation
						action="ENABLE"
						desc="will enable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="TRANSMED"
						remotePoolId="COBOL"
					/>
				</remoteConnectorOperations>
			</secondaryPool>
		</pool>
	</env>
	<env
		name="WOOLTRU"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9107"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
			<localConnectorsToManipulateOnSync			>
				
				<localConnectorToManipulateOnSync
					desc="Test"
					remoteEnv="WOOLTRU"
					remotePoolId="COBOLBACKUP"
				/>
			</localConnectorsToManipulateOnSync>
			<remoteConnectorOperations			>
				
				<remoteConnectorOperation
					action="STATUS"
					desc="will enable conn if active"
					diagport="20101"
					host="dralsin01.za.mhgad.com"
					remoteEnv="WOOLTRU"
					remotePoolId="COBOL"
				/>
			</remoteConnectorOperations>
			<secondaryPool
				autoDisable="false"
				autoDisableOnSyncStart="true"
				autoEnable="true"
				autoEnableOnSyncEnd="true"
				autotimeout="90000"
				connections="3"
				connectorImplementationClassID="COBOL"
				dropClientOnError="false"
				hostname="dralsin01.za.mhgad.com"
				id="COBOLBACKUP"
				minTrxTime="15000"
				poolMaxWaitTime="28000"
				port="9306"
				startDisabled="true"
				useSoTimeOut="false"
				waitForSyncToFinishTimeout="10000"
			>
				
				<remoteConnectorOperations				>
					
					<remoteConnectorOperation
						action="STATUS"
						desc="will enable conn if active"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="WOOLTRU"
						remotePoolId="COBOL"
					/>
					<remoteConnectorOperation
						action="DISABLE"
						desc="will disable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="WOOLTRU"
						remotePoolId="COBOLBACKUP"
					/>
					<remoteConnectorOperation
						action="ENABLE"
						desc="will enable conn if trx processed"
						diagport="20101"
						host="dralsin01.za.mhgad.com"
						remoteEnv="WOOLTRU"
						remotePoolId="COBOL"
					/>
				</remoteConnectorOperations>
			</secondaryPool>
		</pool>
	</env>
	<transaction
		class="InterfaceTransactions.Generic.GenTransaction"
	/>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
		20102
	</snmp-port>
	<tailWatchServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20103"
	/>
	<diagTailWatchServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20104"
	/>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<transaction-x-ref	>
		
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			mhg="ELCHECK"
			tradingPartner="1"
		/>
		<x-ref
			description="Realtime Pharmacy Medicine claims"
			functionNo="000A"
			mhg="REALCLM"
			tradingPartner="2"
		/>
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3"
		/>
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4"
		/>
		<x-ref
			description="Ping"
			functionNo="0008"
			isPingOrHandshake="true"
			mhg="PING"
			tradingPartner="127"
		/>
		<x-ref
			description="Realtime doctor"
			functionNo="0010"
			mhg="REALCLM"
			tradingPartner="5"
		/>
	</transaction-x-ref>
	<destination-x-ref	>
		
			<x-ref
			description="PING TEST"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MNPG0004"
		/>
		
		<x-ref
			description="MRDE0004 - Methealth"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="mrde0004"
		/>
		<x-ref
			description="NRDE0003 - Bankmed"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="nrde0003"
		/>
		<x-ref
			description="WOOLTRU (Pharmacy Claim)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="METR0003"
		/>
		<x-ref
			description="FISHMED"
			functionMask="FFFF"
			mhg="FISHMED"
			tradingPartner="METR0004"
		/>
		<x-ref
			description="GOLDEN ARROW EMPLOYEES"
			functionMask="FFFF"
			mhg="GOLDEN"
			tradingPartner="METR0005"
		/>
		<x-ref
			description="METROPOLITAN"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="METR0008"
		/>
		<x-ref
			description="REMEDI"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="METR0009"
		/>
		<x-ref
			description="RED RIBBON"
			functionMask="FFFF"
			mhg="REDRIB"
			tradingPartner="METR0010"
		/>
		<x-ref
			description="SAMWU"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="METR0011"
		/>
		<x-ref
			description="TRANSMED"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="METR0014"
		/>
		<x-ref
			description="Remedi - Real Time - "
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="rrph0001"
		/>
		<x-ref
			description="Omnihealth - Real Time - "
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="opha0028"
		/>
		<x-ref
			description=" Transmed"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="tpha0039"
		/>
		<x-ref
			description="RRDT0001 - Redrib"
			functionMask="FFFF"
			mhg="REDRIB"
			tradingPartner="rrdt0001"
		/>
		<x-ref
			description="fish0002 - FISHMED"
			functionMask="FFFF"
			mhg="FISHMED"
			tradingPartner="fish0002"
		/>
		<x-ref
			description="nrde0004 - WOOLTRU"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="nrde0004"
		/>
		<x-ref
			description="Engen - Real Time - MENG0001 = ENGEN"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="MENG0001"
		/>
		<x-ref
			description="MHG: AFROX REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MARM0001"
		/>
		<x-ref
			description="MHG: AFROX SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MASM0001"
		/>
		<x-ref
			description="MHG: BANKMED REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MBRM0001"
		/>
		<x-ref
			description="MHG: BANKMED SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MBSM0001"
		/>
		<x-ref
			description="MHG: BP SOUTHERN AFRICA REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="MBSA0002"
		/>
		<x-ref
			description="MHG: BP SOUTHERN AFRICA SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="MBSA0003"
		/>
		<x-ref
			description="MHG: BP SOUTHERN AFRICA SWITCHON (Pharmacy Claim)"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="MBSA0005"
		/>
		<x-ref
			description="MHG: FOSCHINI REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MFOS0002"
		/>
		<x-ref
			description="MHG: FOSCHINI SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MFSM0002"
		/>
		<x-ref
			description="MHG: PICK N PAY REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MPNP0002"
		/>
		<x-ref
			description="MHG: PICK N PAY SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MPNP0003"
		/>
		<x-ref
			description="MHG: SAPPI REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MSRM0001"
		/>
		<x-ref
			description="MHG: SAPPI SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MSSM0003"
		/>
		<x-ref
			description="MHG: METROPOLITAN REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MMRM0001"
		/>
		<x-ref
			description="MHG: METROPOLITAN SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MMSM0002"
		/>
		<x-ref
			description="MHG: ENGEN REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="MERM0001"
		/>
		<x-ref
			description="MHG: ENGEN SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="MESM0001"
		/>
		<x-ref
			description="MHG: REMEDI REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="MRRM0001"
		/>
		<x-ref
			description="MHG: REMEDI SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="MRSM0001"
		/>
		<x-ref
			description="MHG: TRANSMED REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="MTRM0001"
		/>
		<x-ref
			description="MHG: TRANSMED SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="MTSM0001"
		/>
		<x-ref
			description="MHG: WOOLTRU REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="MWRM0001"
		/>
		<x-ref
			description="MHG: WOOLTRU SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="MWSM0001"
		/>
		<x-ref
			description="Bankmed Docters claim"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MBRM0004"
		/>
		<x-ref
			description="Bankmed Pathology claim"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MBPR0002"
		/>
		<x-ref
			description="Bankmed Radiology, Physio claim"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MBRR0003"
		/>
		<x-ref
			description="MHG: AFROX REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MARM0003"
		/>
		<x-ref
			description="MHG: AFROX PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MAPR0002"
		/>
		<x-ref
			description="MHG: AFROX REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MARR0001"
		/>
		<x-ref
			description="MHG: ENGEN PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="MEPR0001"
		/>
		<x-ref
			description="MHG: ENGEN REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="MERM0003"
		/>
		<x-ref
			description="MHG: ENGEN REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="MERR0003"
		/>
		<x-ref
			description="MHG: BP SOUTHERN AFRICA PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="MBSA0006"
		/>
		<x-ref
			description="MHG: BP SOUTHERN REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="MBSR0001"
		/>
		<x-ref
			description="MHG: BP SOUTHERN AFRICA REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="MBSA0007"
		/>
		<x-ref
			description="MHG: FOSCHINI PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MFPR0001"
		/>
		<x-ref
			description="MHG: FOSCHINI REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MFRM0001"
		/>
		<x-ref
			description="MHG: FOSCHINI REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MFRR0001"
		/>
		<x-ref
			description="MHG: REMEDI REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="MRRR0013"
		/>
		<x-ref
			description="MHG: REMEDI PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="MRPR0001"
		/>
		<x-ref
			description="MHG: REMEDI REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="MRRM0003"
		/>
		<x-ref
			description="MHG: SAPPI REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MSRR0001"
		/>
		<x-ref
			description="MMHG: SAPPI PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MSPR0005"
		/>
		<x-ref
			description="MHG: SAPPI REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MSRM0006"
		/>
		<x-ref
			description="MHG: PICK N PAY PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MPNP0017"
		/>
		<x-ref
			description="MHG: PICK N PAY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MPNP0018"
		/>
		<x-ref
			description="MHG: PICK N PAY REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MPNP0019"
		/>
		<x-ref
			description="MHG: WOOLTRU PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="MWPR0003"
		/>
		<x-ref
			description="MHG: WOOLTRU REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="MWRM0002"
		/>
		<x-ref
			description="MHG: WOOLTRU REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="MWRR0001"
		/>
		<x-ref
			description="MHG: METROPOLITAN REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MMRR0009"
		/>
		<x-ref
			description="MHG: METROPOLITAN PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MMPR0002"
		/>
		<x-ref
			description="MHG: METROPOLITAN REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MMRM0005"
		/>
		<x-ref
			description="MHG: TRANSMED REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MTRR0001"
		/>
		<x-ref
			description="MHG: TRANSMED PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MTPR0002"
		/>
		<x-ref
			description="MHG: TRANSMED REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MTRM0004"
		/>
		<x-ref
			description="MHG: IMPERIAL Pharmacy"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIRP0001"
		/>
		<x-ref
			description="MHG: IMPERIAL SwitchOn"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGS0001"
		/>
		<x-ref
			description="MHG: IMPERIAL Realer"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGR0003"
		/>
		<x-ref
			description="MHG: IMPERIAL Realer Specialiste"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGR0004"
		/>
		<x-ref
			description="MHG: IMPERIAL Medical"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGM0001"
		/>
		<x-ref
			description="MHG: IMPERIAL Mediclinic"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGM0002"
		/>
		<x-ref
			description="MHG: IMPERIAL Netcare"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGN0001"
		/>
		<x-ref
			description="MHG: IMPERIAL Hospital"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGH0001"
		/>
		<x-ref
			description="MHG: MEDIPOS Hospital"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMHO0007"
		/>
		<x-ref
			description="MHG: MEDIPOS Netcare"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMNE0005"
		/>
		<x-ref
			description="MHG: MEDIPOS Mediclinic"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMME0013"
		/>
		<x-ref
			description="MHG: MEDIPOS Realtime"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMRP0003"
		/>
		<x-ref
			description="MHG: MEDIPOS Realer"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMRM0007"
		/>
		<x-ref
			description="MHG: MEDIPOS Switchon"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMSM0006"
		/>
		<x-ref
			description="MHG: MEDIPOS Realer Specialists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMRR0010"
		/>
		<x-ref
			description="MHG: SAMWU Realtime"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="SAMW0001"
		/>
		<x-ref
			description="MHG: Mediclinic Hospital to MHG"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="METR0054"
		/>
		<x-ref
			description="MHG: Netcare Hospital to MHG"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="METR0055"
		/>
		<x-ref
			description="MHG: Hospital to MHG"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="METR0056"
		/>
		<x-ref
			description="MHG: Real Time Medical (Doctors) to MHG"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="MSRM0002"
		/>
		<x-ref
			description="MHG: SwitchOn Real Time claims to MHG"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="SSME0006"
		/>
		<x-ref
			description="MHG: Doctors batch claims to MHG"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="SMED0010"
		/>
		<x-ref
			description="MHG: Real Time Realer claims"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="MSRM0010"
		/>
		<x-ref
			description="MHG: Pathology Real Time Realer"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="MSPR0007"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MAMR0003"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MBMR0004"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="MBSA0008"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="MEMR0004"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MFMR0004"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="MIGM0003"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="MMMR0004"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MPNP0020"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="AMED"
			tradingPartner="MSMR0008"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="MWMR0002"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="MTMR0014"
		/>
		<x-ref
			description="MHG: MEDICLINIC Doctor"
			functionMask="FFFF"
			mhg="NEWMED"
			tradingPartner="MMMR0005"
		/>
	</destination-x-ref>
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="pJ9fXZ3d"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-prod:5100/JBAUDIT"
			DbUserName="traffic"
			logTable="DHSMain"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM"
			/>
		</claimsLogger>
	</logger>
</Enviroments>

