<Enviroments>

	<server
		active="true"
		autoDisable="false"
		cmdPasswd="1q2w3e"
		diagPort="24001"
		logConfigFile="log4j.xml"
		name="MKReal Server"
		port="24000"
		sendTrxDetailsToStatusMonitor="true"
		tradingPartner="MKReal"
		trxAbortSizeLimit="84000"
		trxSizeLimit="64000" />

		
		<env
		name="GEMS">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-gems.za.mhgad.com"
			port="9310"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="60000" />
	</env>

	
	<env
		name="TRANSMED"
		mhgAccount="NEWMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-newmed.za.mhgad.com"
			port="9308"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>

	<env
		name="WOOLTRU"
		mhgAccount="AMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-amed.za.mhgad.com"
			port="9307"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>
		<env
		name="IMPERIAL"
		mhgAccount="IMPERIAL">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-imperial.za.mhgad.com"
			port="9314"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>

	<env
		name="MEDIPOS"
		mhgAccount="MEDIPOS">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			hostname="apl-medipos.za.mhgad.com"
			port="9315"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="300000" />
	</env>
		
	<transaction
		class="InterfaceTransactions.Generic.GenTransactionWellformedXML" />
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders" />
	<pool-definitions-file
		name="pool.xml" />
	<snmp-port
		mibFile="mibs.xml">
		24002
	</snmp-port>
	<synchronous-transactions>
		true
	</synchronous-transactions>
	<tailWatchServer
		id="MKReal"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20888" />
	<diagTailWatchServer
		id="MKReal"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20889" />
	<transaction-x-ref>

		<x-ref
			description="Elegibility check"
			functionNo="0001"
			mhg="ELCHECK"
			tradingPartner="1" />
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3" />
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4" />
		<x-ref
			description="Ping"
			functionNo="0008"
			mhg="PING"
			tradingPartner="127" />
	</transaction-x-ref>
	<destination-x-ref>
		<!-- New destination codes -->

		<x-ref
			description="WOOLTRU: Dentists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE001" />
		<x-ref
			description="WOOLTRU: Pathologists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE002" />
		<x-ref
			description="WOOLTRU: Specialists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE003" />
		<x-ref
			description="WOOLTRU:Optometrists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE004" />
		<x-ref
			description="WOOLTRU:Radiologists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE005" />
		<x-ref
			description="WOOLTRU: Oncologists "
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE006" />
		<x-ref
			description="WOOLTRU: Physiotherapists"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE007" />
		<x-ref
			description="WOOLTRU: Other"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE008" />
		<x-ref
			description="WOOLTRU: Doctors (GP)"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="PE009" />
		
		<x-ref
			description="GEMS: Dentists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT001" />
		<x-ref
			description="GEMS: Pathologists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT002" />

		<x-ref
			description="GEMS: Specialists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT003" />
		<x-ref
			description="GEMS:Optometrists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT004" />
		<x-ref
			description="GEMS:Radiologists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT005" />
		<x-ref
			description="GEMS: Oncologists "
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT006" />
		<x-ref
			description="GEMS: Physiotherapists"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT007" />
		<x-ref
			description="GEMS: Other"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT008" />
		<x-ref
			description="GEMS: Doctors (GP)"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="PT009" />
		<x-ref
			description="IMPERIALMED: Dentists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU001" />
		<x-ref
			description="IMPERIALMED: Pathologists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU002" />
		<x-ref
			description="IMPERIALMED: Specialists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU003" />
		<x-ref
			description="IMPERIALMED:Optometrists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU004" />
		<x-ref
			description="IMPERIALMED:Radiologists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU005" />
		<x-ref
			description="IMPERIALMED: Oncologists "
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU006" />
		<x-ref
			description="IMPERIALMED: Physiotherapists"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU007" />
		<x-ref
			description="IMPERIALMED: Other"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU008" />
		<x-ref
			description="IMPERIALMED: Doctors (GP)"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="PU009" />
		<x-ref
			description="Medipos: Dentists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7001" />
		<x-ref
			description="Medipos: Pathologists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7002" />
		<x-ref
			description="Medipos: Specialists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7003" />
		<x-ref
			description="Medipos:Optometrists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7004" />
		<x-ref
			description="Medipos:Radiologists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7005" />
		<x-ref
			description="Medipos: Oncologists "
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7006" />
		<x-ref
			description="Medipos: Physiotherapists"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7007" />
		<x-ref
			description="Medipos: Other"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7008" />
		<x-ref
			description="Medipos: Doctors (GP)"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="P7009" />

		<x-ref
			description="TRANSMED: Dentists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV001" />
		<x-ref
			description="TRANSMED: Pathologists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV002" />
		<x-ref
			description="TRANSMED: Specialists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV003" />
		<x-ref
			description="TRANSMED:Optometrists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV004" />
		<x-ref
			description="TRANSMED:Radiologists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV005" />
		<x-ref
			description="TRANSMED: Oncologists "
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV006" />
		<x-ref
			description="TRANSMED: Physiotherapists"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV007" />
		<x-ref
			description="TRANSMED: Other"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV008" />
		<x-ref
			description="TRANSMED: Doctors (GP)"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="PV009" />

		
	</destination-x-ref>
	
	
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
		logDirectory="log/accesslog">
		<claimsLogger
			poolId="generic"
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-prod:5100/JBAUDIT"
			logTable="MKReal"
			DbUserName="traffic"
			DbPassword="pJ9fXZ3d"
			minpoolsize="1"
			maxpoolsize="2"
			timeout="600000">
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="*" />
		</claimsLogger>
	</logger>
	
	

</Enviroments>

