<Enviroments>
	
	<server
		__system_out="default"
		cmdPasswd="1q2w3e"
		diagPort="20701"
		distributedCacheEnabled="true"
		distributedCacheEntryTimeout="120"
		distributedCacheIP="cptlagw01.za.mhgad.com"
		distributedCachePort="11211"
		logConfigFile="log4j.xml"
		name="DHS POLMED Server"
		port="20700"
		sendTrxDetailsToStatusMonitor="true"
		tradingPartner="Mediswitch"
		trxAbortSizeLimit="256000"
		trxSizeLimit="128000"
	/>
	<env
		mhgAccount="NEWMED"
		name="METROPOLITAN"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="5"
			dropClientOnError="false"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9108"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
			<localConnectorsToManipulateOnSync			>
				
				<localConnectorToManipulateOnSync
					desc="Test"
					remoteEnv="METROPOLITAN"
					remotePoolId="COBOLBACKUP"
				/>
			</localConnectorsToManipulateOnSync>
			<remoteConnectorOperations			>
				
				<remoteConnectorOperation
					action="STATUS"
					desc="will enable conn if active"
					diagport="20701"
					host="dralsin01.za.mhgad.com"
					remoteEnv="METROPOLITAN"
					remotePoolId="COBOL"
				/>
			</remoteConnectorOperations>
			<secondaryPool
				autoDisable="false"
				autoDisableOnSyncStart="true"
				autoEnable="true"
				autoEnableOnSyncEnd="true"
				autotimeout="90000"
				connections="3"
				connectorImplementationClassID="COBOL"
				dropClientOnError="true"
				hostname="dralsin01.za.mhgad.com"
				id="COBOLBACKUP"
				minTrxTime="15000"
				poolMaxWaitTime="40000"
				port="9307"
				startDisabled="true"
				useSoTimeOut="false"
				waitForSyncToFinishTimeout="10000"
			>
				
				<remoteConnectorOperations				>
					
					<remoteConnectorOperation
						action="STATUS"
						desc="will enable conn if active"
						diagport="20701"
						host="dralsin01.za.mhgad.com"
						remoteEnv="METROPOLITAN"
						remotePoolId="COBOL"
					/>
					<remoteConnectorOperation
						action="DISABLE"
						desc="will disable conn if trx processed"
						diagport="20701"
						host="dralsin01.za.mhgad.com"
						remoteEnv="METROPOLITAN"
						remotePoolId="COBOLBACKUP"
					/>
					<remoteConnectorOperation
						action="ENABLE"
						desc="will enable conn if trx processed"
						diagport="20701"
						host="dralsin01.za.mhgad.com"
						remoteEnv="METROPOLITAN"
						remotePoolId="COBOL"
					/>
				</remoteConnectorOperations>
			</secondaryPool>
		</pool>
	</env>
	<env
		mhgAccount="POLMED"
		name="POLMED"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="12"
			dropClientOnError="false"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9109"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
			
			<localConnectorsToManipulateOnSync			>
				
				<localConnectorToManipulateOnSync
					desc="Test"
					remoteEnv="POLMED"
					remotePoolId="COBOLBACKUP"
				/>
			</localConnectorsToManipulateOnSync>
			<remoteConnectorOperations			>
				
				<remoteConnectorOperation
					action="STATUS"
					desc="will enable conn if active"
					diagport="20701"
					host="dralsin01.za.mhgad.com"
					remoteEnv="POLMED"
					remotePoolId="COBOL"
				/>
			</remoteConnectorOperations>
			<secondaryPool
				autoDisable="false"
				autoDisableOnSyncStart="true"
				autoEnable="true"
				autoEnableOnSyncEnd="true"
				autotimeout="90000"
				connections="10"
				connectorImplementationClassID="COBOL"
				dropClientOnError="false"
				hostname="dralsin01.za.mhgad.com"
				id="COBOLBACKUP"
				minTrxTime="15000"
				poolMaxWaitTime="28000"
				port="9310"
				startDisabled="true"
				useSoTimeOut="false"
				waitForSyncToFinishTimeout="10000"
			>
				
				<remoteConnectorOperations				>
					
					<remoteConnectorOperation
						action="STATUS"
						desc="will enable conn if active"
						diagport="20701"
						host="dralsin01.za.mhgad.com"
						remoteEnv="POLMED"
						remotePoolId="COBOL"
					/>
					<remoteConnectorOperation
						action="DISABLE"
						desc="will disable conn if trx processed"
						diagport="20701"
						host="dralsin01.za.mhgad.com"
						remoteEnv="POLMED"
						remotePoolId="COBOLBACKUP"
					/>
					<remoteConnectorOperation
						action="ENABLE"
						desc="will enable conn if trx processed"
						diagport="20701"
						host="dralsin01.za.mhgad.com"
						remoteEnv="POLMED"
						remotePoolId="COBOL"
					/>
				</remoteConnectorOperations>
			</secondaryPool>
		</pool>
	</env>
	<env
		name="POLMED_DOC"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlxml01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9109"
			useSoTimeOut="false"
		/>
	</env>
	<transaction
		class="InterfaceTransactions.Generic.GenTransaction"
	/>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
		20702
	</snmp-port>
	<tailWatchServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20703"
	/>
	<diagTailWatchServer
		id="Mediswitch"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20704"
	/>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<transaction-x-ref	>
		
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			mhg="ELCHECK"
			tradingPartner="1"
		/>
		<x-ref
			description="Realtime Pharmacy Medicine claims"
			functionNo="000A"
			mhg="REALCLM"
			tradingPartner="2"
		/>
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3"
		/>
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4"
		/>
		<x-ref
			description="Ping"
			functionNo="0008"
			isPingOrHandshake="true"
			mhg="PING"
			tradingPartner="127"
		/>
		<x-ref
			description="Realtime doctor"
			functionNo="0010"
			mhg="REALCLM"
			tradingPartner="5"
		/>
	</transaction-x-ref>
	<destination-x-ref	>
		
		<x-ref
			description="Polmed - Real Time - "
			functionMask="FFFF"
			mhg="POLMED_DOC"
			tradingPartner="prph0003"
		/>
		<x-ref
			description="POLMED"
			functionMask="FFFF"
			mhg="POLMED"
			tradingPartner="METR0007"
		/>
		<x-ref
			description="METROPOLITAN"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="METR0008"
		/>
		<x-ref
			description="MHG: POLMED REALTIME (MEDICAL)"
			functionMask="FFFF"
			mhg="POLMED"
			tradingPartner="MPRM0003"
		/>
		<x-ref
			description="MHG: POLMED SWITCHON (MEDICAL)"
			functionMask="FFFF"
			mhg="POLMED"
			tradingPartner="MPSM0004"
		/>
		<x-ref
			description="MHG: POLMED PATHOLOGY REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="POLMED"
			tradingPartner="MSOB0003"
		/>
		<x-ref
			description="MHG: POLMED REALER (MEDICAL)"
			functionMask="FFFF"
			mhg="POLMED"
			tradingPartner="MSOB0004"
		/>
		<x-ref
			description="MHG: POLMED REALER RADIO PHYSIO (MEDICAL)"
			functionMask="FFFF"
			mhg="POLMED"
			tradingPartner="MSOB0005"
		/>
		<x-ref
			description="MHG: POLMED MEDICLINIC (MEDICAL)"
			functionMask="FFFF"
			mhg="POLMED"
			tradingPartner="MPMR0003"
		/>
	</destination-x-ref>
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="pJ9fXZ3d"
			DbUrl="jdbc:sybase:Tds:cptlsyb30.za.mhgad.com:5100/JBAUDIT"
			DbUserName="traffic"
			logTable="DHSPolmed"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM"
			/>
		</claimsLogger>
	</logger>
</Enviroments>

