<Enviroments>

	<server
		active="true"
		autoDisable="false"
		cmdPasswd="1q2w3e"
		distributedCacheEnabled="true"
		distributedCacheEntryTimeout="120"
		distributedCacheIP="drals1n01.za.mhgad.com"
		distributedCachePort="11211"
		diagPort="30901"
		logConfigFile="log4j.xml"
		name="MyCareReceivedClaims Prod Server"
		port="30900"
		sendTrxDetailsToStatusMonitor="true"
		tradingPartner="MyCareReceivedClaims"
		trxAbortSizeLimit="256000"
		trxSizeLimit="256000" />


	<env
		mhgAccount="GEMS"
		name="GEMS_PHARMACY"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="false"
			autoDisableOnSyncStart="false"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="23000"
			connections="37"
			dropClientOnError="false"
			hostname="dralsin01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="20000"
			port="9315"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="20000"
		>
		</pool>
	</env>
		

	<env
		mhgAccount="GEMS"
		name="GEMS_PHARMACY_2"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="false"
			autoDisableOnSyncStart="false"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="23000"
			connections="25"
			dropClientOnError="false"
			hostname="dralsin01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="20000"
			port="9316"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="20000"
		>
		</pool>
	</env>
		
	

	<env
		mhgAccount="GEMS"
		name="GEMS_REVERSALS"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="false"
			autoDisableOnSyncStart="false"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="23000"
			connections="15"
			dropClientOnError="false"
			hostname="dralsin01.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="20000"
			port="9315"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="20000">			
			</pool>
	</env>

<!-- 
	<env
		mhgAccount="GEMS"
		name="GEMS_NON_PHARMACY"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="false"
			autoDisableOnSyncStart="false"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="150000"
			connections="15"
			dropClientOnError="false"
			hostname="apl-gems.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="150000"
			port="9310"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
		
	</env>
-->

	<transaction
		class="InterfaceTransactions.Generic.GenTransactionWellformedXML" />
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders" />
	<pool-definitions-file
		name="pool.xml" />
	<snmp-port
		mibFile="mibs.xml">
		30902
	</snmp-port>
	<synchronous-transactions>
		true
	</synchronous-transactions>
	<tailWatchServer
		id="MyCareReceivedClaims"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="30903" />
	<diagTailWatchServer
		id="MyCareReceivedClaims"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="30904" />
	<transaction-x-ref>
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			isPingOrHandshake="true"
			mhg="ELCHECK"
			tradingPartner="1" />
		<x-ref
			description="Realtime Pharmacy Medicine claims"
			functionNo="000A"
			mhg="REALCLM"
			tradingPartner="2" />
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3" />
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4" />
		<x-ref
			description="Ping"
			functionNo="0008"
			isPingOrHandshake="true"
			mhg="PING"
			tradingPartner="127" />
		<x-ref
			description="Realtime doctor"
			functionNo="0010"
			mhg="REALCLM"
			tradingPartner="5" />

	  <x-ref
			description="Realtime doctor"
			functionNo="0011"
			mhg="REALPHM"
			tradingPartner="6" />
			


	</transaction-x-ref>
	<destination-x-ref>

		<x-ref
			description="GEMS Medicine Claims"
			functionMask="FFFF"
			mhg="GEMS_PHARMACY"
			tradingPartner="PT012" />

		<x-ref
			description="GEMS Medicine Claims"
			functionMask="FFFF"
			mhg="GEMS_PHARMACY_2"
			tradingPartner="PT014" />

		<x-ref
			description="GEMS Medicine Claims"
			functionMask="FFFF"
			mhg="GEMS_REVERSALS"
			tradingPartner="PT099" />

		<x-ref
			description="GEMS Non-Pharmacy"
			functionMask="FFFF"
			mhg="GEMS_NON_PHARMACY"
			tradingPartner="PT013" />


	</destination-x-ref>
		
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
		logDirectory="log/accesslog-gems">
		<claimsLogger
			poolId="generic"
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbUrl="jdbc:sybase:Tds:dralsyb03.za.mhgad.com:7100/JBAUDIT"
			logTable="MyCareClaims"
			DbUserName="traffic"
			DbPassword="pJ9fXZ3d"
			minpoolsize="1"
			maxpoolsize="2"
			timeout="600000">
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="*" />
		</claimsLogger>
	</logger>

</Enviroments>

