<?xml version="1.0"?>
<!--
startDisabled:				Primary must start is a disabled state
waitForSyncToFinishTimeout:	max time in ms to wait for backup to finish synchronization
autoEnable:					if true then connector will automatically be enabled when the SYNC_STOP event is received
autoDisable:					if true then connector will disable itself as soon as it switches to the backup

-->
<Enviroments>
	<!-- Global Server Parameters -->
	<server sendTrxDetailsToStatusMonitor="true" trxSizeLimit="64000" trxAbortSizeLimit="84000" cmdPasswd="1q2w3e" 
		tradingPartner="HealthBridge" name="HealthBridge Test Server" active="true" autoDisable="false" port="20885" 
		diagPort="20886" logConfigFile="log4j.xml" />

	<!-- Test Connections -->

	<env name="BP" mhgAccount="AMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9106" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="BANKMED" mhgAccount="AMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9106" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="ENGEN" mhgAccount="AMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9106" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="FISHING_INDUSTRY" mhgAccount="AMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9106" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="FOSCHINI" mhgAccount="AMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9106" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="GEMS" >
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9110" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="GOLDEN_ARROW" mhgAccount="AMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9106" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="METROPOLITAN" mhgAccount="NEWMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9107" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="NIMAS" >
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9113" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="PICK_N_PAY" mhgAccount="AMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9106" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>	

	<env name="REMEDI" mhgAccount="AMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9106" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="SAPPI" mhgAccount="AMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9106" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="SAMWU" mhgAccount="NEWMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9115" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="TRANSMED" mhgAccount="NEWMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9107" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="WOOLTRU" mhgAccount="AMED">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9106" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="IMPERIAL" mhgAccount="IMPERIAL">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9105" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<env name="MEDIPOS" mhgAccount="MEDIPOS">
		<pool id="COBOL" useSoTimeOut="false" hostname="cptlapp70.za.mhgad.com" port="9108" connections="5" autotimeout="120000" poolMaxWaitTime="28000"/>
	</env>

	<transaction        class="InterfaceTransactions.Generic.GenTransactionWellformedXML" />
	<transaction-header class="InterfaceTransactions.Generic.GenHeaders" />

	<pool-definitions-file name="pool.xml" />

	<snmp-port mibFile="mibs.xml">20887</snmp-port>

	<synchronous-transactions>true</synchronous-transactions>

	<tailWatchServer id="HealthBridge" tcpipPort="20888" multicast-host-ip="" multicast-port="-1" />
	<diagTailWatchServer id="HealthBridge" tcpipPort="20889" multicast-host-ip="" multicast-port="-1" />

	<transaction-x-ref>
		<x-ref tradingPartner=  "1" mhg="ELCHECK" functionNo="0001" description="Elegibility check"/>
		<x-ref tradingPartner=  "3" mhg="REALCLM" functionNo="0002" description="Realtime doctor Medicine claims"/>
		<x-ref tradingPartner=  "4" mhg="REALCLM" functionNo="0004" description="Realtime doctor claims"/>
		<x-ref tradingPartner="127" mhg="PING"    functionNo="0008" description="Ping" />
	</transaction-x-ref>

	<destination-x-ref>
		<!-- Production Env's -->
		<x-ref tradingPartner=  "TB1A" mhg="METROPOLITAN"		functionMask="FFFF" description="Premier"/>
		<x-ref tradingPartner=  "TB1B" mhg="METROPOLITAN"		functionMask="FFFF" description="Classic"/>
		<x-ref tradingPartner=  "TB2A" mhg="NIMAS"					functionMask="FFFF" description="SUPREME"/>
		<x-ref tradingPartner=  "TB2B" mhg="NIMAS"					functionMask="FFFF" description="MILLENNIUM"/>
		<x-ref tradingPartner=  "TB2C" mhg="NIMAS"					functionMask="FFFF" description="CLASSIC"/>
		<x-ref tradingPartner=  "TB2D" mhg="NIMAS"					functionMask="FFFF" description="PRIMARY"/>		
		<x-ref tradingPartner=  "TB8A" mhg="PROSANO"				functionMask="FFFF" description="Prosano ProVision"/>
		<x-ref tradingPartner=  "TB8B" mhg="PROSANO"				functionMask="FFFF" description="Prosano ProClassic"/>
		<x-ref tradingPartner=  "TB8C" mhg="PROSANO"				functionMask="FFFF" description="Prosano ProVider"/>
		<x-ref tradingPartner=  "TB8D" mhg="PROSANO"				functionMask="FFFF" description="Prosano ProCedure"/>
		<x-ref tradingPartner=  "TB8E" mhg="PROSANO"				functionMask="FFFF" description="ProSano ProElite"/>
		<x-ref tradingPartner=  "TB8Z" mhg="PROSANO"				functionMask="FFFF" description="Prosano ProVision"/>
		<x-ref tradingPartner=  "TBA1" mhg="BANKMED"				functionMask="FFFF" description="Bankmed Basic"/>
		<x-ref tradingPartner=  "TBA2" mhg="BANKMED"				functionMask="FFFF" description="Bankmed Comprehensive"/>
		<x-ref tradingPartner=  "TBA3" mhg="BANKMED"				functionMask="FFFF" description="Bankmed Plus"/>
		<x-ref tradingPartner=  "TBA4" mhg="BANKMED"				functionMask="FFFF" description="Bankmed Core Saver"/>
		<x-ref tradingPartner=  "TBA5" mhg="BANKMED"				functionMask="FFFF" description="Bankmed Traditional"/>
		<x-ref tradingPartner=  "TBAA" mhg="BANKMED"				functionMask="FFFF" description="Equilibrium Plus"/>
		<x-ref tradingPartner=  "TBAP" mhg="BANKMED"				functionMask="FFFF" description="Prime Health Plan"/>
		<x-ref tradingPartner=  "TBEA" mhg="WOOLTRU"				functionMask="FFFF" description="CORE OPTION"/>
		<x-ref tradingPartner=  "TBEB" mhg="WOOLTRU"				functionMask="FFFF" description="PLUS OPTION"/>
		<x-ref tradingPartner=  "TBEC" mhg="WOOLTRU"				functionMask="FFFF" description="EXTENDED OPTION"/>
		<x-ref tradingPartner=  "TBEN" mhg="WOOLTRU"				functionMask="FFFF" description="PLUS NETWORK"/>
		<x-ref tradingPartner=  "TBFA" mhg="FOSCHINI"				functionMask="FFFF" description="Foschini Plan A"/>
		<x-ref tradingPartner=  "TBFB" mhg="FOSCHINI"				functionMask="FFFF" description="Foschini Plan B"/>
		<x-ref tradingPartner=  "TBG"  mhg="ENGEN"					functionMask="FFFF" description="Engen"/>
		<x-ref tradingPartner=  "TBIA" mhg="PICK_N_PAY"			functionMask="FFFF" description="Pick n Pay Medical Scheme"/>
		<x-ref tradingPartner=  "TBK"  mhg="AFROX"					functionMask="FFFF" description="Afrox"/>
		<x-ref tradingPartner=  "TBKA" mhg="AFROX"					functionMask="FFFF" description="Diamond Plan"/>
		<x-ref tradingPartner=  "TBKB" mhg="AFROX"					functionMask="FFFF" description="BASE PLAN"/>
		<x-ref tradingPartner=  "TBLA" mhg="SAPPI"					functionMask="FFFF" description="SAPPI MEDICAL AID SCHEME"/>
		<x-ref tradingPartner=  "TBNA" mhg="GOLDEN_ARROW"		functionMask="FFFF" description="Primary Option"/>
		<x-ref tradingPartner=  "TBNB" mhg="GOLDEN_ARROW"		functionMask="FFFF" description="Standard Option"/>
		<x-ref tradingPartner=  "TBNC" mhg="GOLDEN_ARROW"		functionMask="FFFF" description="Advanced Option"/>
		<x-ref tradingPartner=  "TBOA" mhg="FISHING_INDUSTRY"	functionMask="FFFF" description="Primary Option"/>
		<x-ref tradingPartner=  "TBOB" mhg="FISHING_INDUSTRY"	functionMask="FFFF" description="Standard Option"/>
		<x-ref tradingPartner=  "TBP"  mhg="BP"							functionMask="FFFF" description="BP Medical Aid Society"/>
		<x-ref tradingPartner=  "TBS"  mhg="REMEDI"					functionMask="FFFF" description="Remedi"/>
		<x-ref tradingPartner=  "TBSA" mhg="REMEDI"					functionMask="FFFF" description="Standard Option"/>
		<x-ref tradingPartner=  "TBSB" mhg="REMEDI"					functionMask="FFFF" description="Comprehensive Option"/>
		<x-ref tradingPartner=  "TBSC" mhg="REMEDI"					functionMask="FFFF" description="Classic Option"/>
		<x-ref tradingPartner=  "TBTA" mhg="GEMS"						functionMask="FFFF" description="SAPPHIRE"/>
		<x-ref tradingPartner=  "TBTB" mhg="GEMS"						functionMask="FFFF" description="BERYL"/>
		<x-ref tradingPartner=  "TBTC" mhg="GEMS"						functionMask="FFFF" description="RUBY"/>
		<x-ref tradingPartner=  "TBTD" mhg="GEMS"						functionMask="FFFF" description="EMERALD"/>
		<x-ref tradingPartner=  "TBTE" mhg="GEMS"						functionMask="FFFF" description="ONYX"/>
		<x-ref tradingPartner=  "TBV5" mhg="TRANSMED"				functionMask="FFFF" description="GUARDIAN"/>
		<x-ref tradingPartner=  "TBVL" mhg="TRANSMED"				functionMask="FFFF" description="State Plus Network"/>
		<x-ref tradingPartner=  "TBVN" mhg="TRANSMED"				functionMask="FFFF" description="State Plus Own Choice"/>
		<x-ref tradingPartner=  "TBVS" mhg="TRANSMED"				functionMask="FFFF" description="ABSENTEE MEMBER STATUS (ACTIVE)"/>
		<x-ref tradingPartner=  "TBVT" mhg="TRANSMED"				functionMask="FFFF" description="Private Cover Plus Savings Account"/>
		<x-ref tradingPartner=  "TBU"  mhg="IMPERIAL"				functionMask="FFFF" description="IMPERIAL"/>
		<x-ref tradingPartner=  "TB7"  mhg="MEDIPOS"				functionMask="FFFF" description="MEDIPOS"/>
		<x-ref tradingPartner=  "TBQ"  mhg="SAMWU"					functionMask="FFFF" description="SAMWU"/>

	</destination-x-ref>

	<!-- Log File Parameters  -->
	<logger classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
		logDirectory="log/accesslog-test">
		<claimsLogger
			poolId="generic"
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbUrl="jdbc:sybase:Tds:cptlsyb92.za.mhgad.com:7500/JBAUDIT"
			logTable="Healthbridge"
			DbUserName="traffic"
			DbPassword="IR0b0t"
			minpoolsize="1"
			maxpoolsize="2"
			timeout="600000">
			<logTransactions desc="comma seperated list of transactions to log"	value="*" />
		</claimsLogger>
	</logger>

</Enviroments>
