<?xml version="1.0"?>
<Enviroments>

	<!-- Global Server Parameters -->
	<server sendTrxDetailsToStatusMonitor="true" tradingPartner="SolutioSweeper"
		name="Solutio Sweeper Traf" port="10100" diagPort="10101"
		logConfigFile="log4j.xml" __system_out="sweeperTraf.system.out"
		internalMessages="true" />

	<!-- List of Environments that this server can talk to -->
	<env name="MHRS">
		<pool useSoTimeOut="false" dropClientOnError="false" id="COBOL"
			hostname="196.35.1.82" port="20920" connections="1" autotimeout="120000"
			poolMaxWaitTime="30000" />
	</env>

	<env name="MHRSCLMS">
		<pool useSoTimeOut="false" dropClientOnError="false" id="COBOL"
			hostname="196.35.1.82" port="20924" connections="1" autotimeout="120000"
			poolMaxWaitTime="30000" />
	</env>

	<env name="MHRSMEDS">
		<pool useSoTimeOut="false" dropClientOnError="false" id="COBOL"
			hostname="196.35.1.82" port="20926" connections="1" autotimeout="120000"
			poolMaxWaitTime="30000" />
	</env>

	<!-- Log File Parameters  -->
	<transaction
		class="InterfaceTransactions.DefaultImplementation.DefaultTransaction" />
	<transaction-header
		class="InterfaceTransactions.DefaultImplementation.DefaultHeader" />

	<pool-definitions-file name="pool.xml" />

	<snmp-port mibFile="mibs.xml">10102</snmp-port>

	<synchronous-transactions>true</synchronous-transactions>

	<tailWatchServer id="Sweeper" tcpipPort="10103"
		multicast-host-ip="" multicast-port="-1" />
	<diagTailWatchServer id="Sweeper" tcpipPort="20104"
		multicast-host-ip="" multicast-port="-1" />

</Enviroments>

