<Enviroments>

	<server
		active="true"
		autoDisable="false"
		cmdPasswd="1q2w3e"
		diagPort="30921"
		logConfigFile="log4j.xml"
		name="MyCare Standin ACPT Server"
		port="30920"
		sendTrxDetailsToStatusMonitor="true"
		tradingPartner="MyCare"
		trxAbortSizeLimit="256000"
		trxSizeLimit="128000" 
		distributedCacheEnabled="true"
		distributedCacheEntryTimeout="120"
		distributedCacheIP="cptlagw90.za.mhgad.com"
		distributedCachePort="11211"
		
		
		/>
	
	
	<env
		mhgAccount="GEMS"
		name="GEMS_Pharmacy"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="false"
			autoDisableOnSyncStart="false"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="23000"
			connections="37"
			dropClientOnError="false"
			hostname="cptlapp71.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="15000"
			port="9515"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="15000"
		>
		</pool>
	</env>
	
	<env
		mhgAccount="GEMS"
		name="GEMS_Pharmacy_2"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="false"
			autoDisableOnSyncStart="false"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="23000"
			connections="25"
			dropClientOnError="false"
			hostname="cptlapp95.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="15000"
			port="9131"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="15000"
		>
		</pool>
	</env>
	
	<env
		mhgAccount="GEMS"
		name="GEMS_PHARM_REV"
		useDistributedCache="true"
	>
		
		<pool
			autoDisable="false"
			autoDisableOnSyncStart="false"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="150000"
			connections="25"
			dropClientOnError="false"
			hostname="cptlapp71.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="120000"
			port="9515"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		>
		</pool>
	</env>
	
	

	<transaction
		class="InterfaceTransactions.Generic.GenTransactionWellformedXML" />
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders" />
	<pool-definitions-file
		name="pool.xml" />
	<snmp-port
		mibFile="mibs.xml">
		30922
	</snmp-port>
	<synchronous-transactions>
		true
	</synchronous-transactions>
	<tailWatchServer
		id="MyCareReceivedClaims"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="30923" />
	<diagTailWatchServer
		id="MyCareReceivedClaims"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="30924" />
	<transaction-x-ref>
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			isPingOrHandshake="true"
			mhg="ELCHECK"
			tradingPartner="1" />
		<x-ref
			description="Realtime Pharmacy Medicine claims"
			functionNo="000A"
			mhg="REALCLM"
			tradingPartner="2" />
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3" />
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4" />
		<x-ref
			description="Ping"
			functionNo="0008"
			isPingOrHandshake="true"
			mhg="PING"
			tradingPartner="127" />
		<x-ref
			description="Realtime doctor"
			functionNo="0010"
			mhg="REALCLM"
			tradingPartner="5" />

		<x-ref
			description="Realtime doctor"
			functionNo="0011"
			mhg="REALPHM"
			tradingPartner="6" />


	</transaction-x-ref>
	<destination-x-ref>
		<x-ref
			description="GEMS Pharmacy"
			functionMask="FFFF"
			mhg="GEMS_Pharmacy"
			tradingPartner="PT012" />
		<x-ref
			description="GEMS Pharmacy"
			functionMask="FFFF"
			mhg="GEMS_Pharmacy_2"
			tradingPartner="PT014" />
	
		<x-ref
			description="GEMS PHARM REVERSAL"
			functionMask="FFFF"
			mhg="GEMS_PHARM_REV"
			tradingPartner="PT099" />
		

	</destination-x-ref>
	<!--<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000">

		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="pJ9fXZ3d"
			 DbUrl="jdbc:sybase:Tds:dralsyb03.za.mhgad.com:7100/JBAUDIT"
			
			DbUserName="traffic"
			logTable="MyCareClaims"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000">

			<logTransactions
				desc="comma seperated list of transactions to log"
				value="*" />
		</claimsLogger>
	</logger> -->
</Enviroments>

