<Enviroments>
	
	<server
		active="true"
		autoDisable="false"
		cmdPasswd="1q2w3e"
		diagPort="20886"
		logConfigFile="log4j.xml"
		name="HealthBridge Test Server"
		port="20885"
		sendTrxDetailsToStatusMonitor="true"
		tradingPartner="HealthBridge"
		trxAbortSizeLimit="84000"
		trxSizeLimit="64000"
	/>
	<env
		mhgAccount="AMED"
		name="BP"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="BANKMED"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="ENGEN"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="FISHING_INDUSTRY"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="FOSCHINI"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="GEMS"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9110"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="GOLDEN_ARROW"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="NEWMED"
		name="METROPOLITAN"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9107"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="NIMAS"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9113"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="PICK_N_PAY"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		name="POLMED"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9109"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="REMEDI"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="SAPPI"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="NEWMED"
		name="SAMWU"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9115"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="NEWMED"
		name="TRANSMED"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9107"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="AMED"
		name="WOOLTRU"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9106"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="IMPERIAL"
		name="IMPERIAL"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9105"
			useSoTimeOut="false"
		/>
	</env>
	<env
		mhgAccount="MEDIPOS"
		name="MEDIPOS"
	>
		
		<pool
			autotimeout="120000"
			connections="5"
			hostname="cptlapp90.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9108"
			useSoTimeOut="false"
		/>
	</env>
	<transaction
		class="InterfaceTransactions.Generic.GenTransactionWellformedXML"
	/>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
		20887
	</snmp-port>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<tailWatchServer
		id="HealthBridge"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20888"
	/>
	<diagTailWatchServer
		id="HealthBridge"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="20889"
	/>
	<transaction-x-ref	>
		
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			mhg="ELCHECK"
			tradingPartner="1"
		/>
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3"
		/>
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4"
		/>
		<x-ref
			description="Ping"
			functionNo="0008"
			mhg="PING"
			tradingPartner="127"
		/>
	</transaction-x-ref>
	<destination-x-ref	>
		
		<x-ref
			description="Premier"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="TB1A"
		/>
		<x-ref
			description="Classic"
			functionMask="FFFF"
			mhg="METROPOLITAN"
			tradingPartner="TB1B"
		/>
		<x-ref
			description="SUPREME"
			functionMask="FFFF"
			mhg="NIMAS"
			tradingPartner="TB2A"
		/>
		<x-ref
			description="MILLENNIUM"
			functionMask="FFFF"
			mhg="NIMAS"
			tradingPartner="TB2B"
		/>
		<x-ref
			description="CLASSIC"
			functionMask="FFFF"
			mhg="NIMAS"
			tradingPartner="TB2C"
		/>
		<x-ref
			description="PRIMARY"
			functionMask="FFFF"
			mhg="NIMAS"
			tradingPartner="TB2D"
		/>
		<x-ref
			description="LOWER PLAN"
			functionMask="FFFF"
			mhg="POLMED"
			tradingPartner="TB5A"
		/>
		<x-ref
			description="HIGHER PLAN"
			functionMask="FFFF"
			mhg="POLMED"
			tradingPartner="TB5B"
		/>
		<x-ref
			description="Prosano ProVision"
			functionMask="FFFF"
			mhg="PROSANO"
			tradingPartner="TB8A"
		/>
		<x-ref
			description="Prosano ProClassic"
			functionMask="FFFF"
			mhg="PROSANO"
			tradingPartner="TB8B"
		/>
		<x-ref
			description="Prosano ProVider"
			functionMask="FFFF"
			mhg="PROSANO"
			tradingPartner="TB8C"
		/>
		<x-ref
			description="Prosano ProCedure"
			functionMask="FFFF"
			mhg="PROSANO"
			tradingPartner="TB8D"
		/>
		<x-ref
			description="ProSano ProElite"
			functionMask="FFFF"
			mhg="PROSANO"
			tradingPartner="TB8E"
		/>
		<x-ref
			description="Prosano ProVision"
			functionMask="FFFF"
			mhg="PROSANO"
			tradingPartner="TB8Z"
		/>
		<x-ref
			description="Bankmed Basic"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBA1"
		/>
		<x-ref
			description="Bankmed Comprehensive"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBA2"
		/>
		<x-ref
			description="Bankmed Plus"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBA3"
		/>
		<x-ref
			description="Bankmed Core Saver"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBA4"
		/>
		<x-ref
			description="Bankmed Traditional"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBA5"
		/>
		<x-ref
			description="Equilibrium Plus"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBAA"
		/>
		<x-ref
			description="Prime Health Plan"
			functionMask="FFFF"
			mhg="BANKMED"
			tradingPartner="TBAP"
		/>
		<x-ref
			description="CORE OPTION"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="TBEA"
		/>
		<x-ref
			description="PLUS OPTION"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="TBEB"
		/>
		<x-ref
			description="PLUS NETWORK"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="TBEN"
		/>
		<x-ref
			description="EXTENDED OPTION"
			functionMask="FFFF"
			mhg="WOOLTRU"
			tradingPartner="TBEC"
		/>
		<x-ref
			description="Engen"
			functionMask="FFFF"
			mhg="ENGEN"
			tradingPartner="TBG"
		/>
		<x-ref
			description="Foschini Plan A"
			functionMask="FFFF"
			mhg="FOSCHINI"
			tradingPartner="TBFA"
		/>
		<x-ref
			description="Foschini Plan B"
			functionMask="FFFF"
			mhg="FOSCHINI"
			tradingPartner="TBFB"
		/>
		<x-ref
			description="Pick n Pay Medical Scheme"
			functionMask="FFFF"
			mhg="PICK_N_PAY"
			tradingPartner="TBIA"
		/>
		<x-ref
			description="Afrox"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="TBK"
		/>
		<x-ref
			description="Diamond Plan"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="TBKA"
		/>
		<x-ref
			description="BASE PLAN"
			functionMask="FFFF"
			mhg="AFROX"
			tradingPartner="TBKB"
		/>
		<x-ref
			description="SAPPI MEDICAL AID SCHEME"
			functionMask="FFFF"
			mhg="SAPPI"
			tradingPartner="TBLA"
		/>
		<x-ref
			description="BP Medical Aid Society"
			functionMask="FFFF"
			mhg="BP"
			tradingPartner="TBP"
		/>
		<x-ref
			description="Primary Option"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="TBNA"
		/>
		<x-ref
			description="Standard Option"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="TBNB"
		/>
		<x-ref
			description="Advanced Option"
			functionMask="FFFF"
			mhg="GOLDEN_ARROW"
			tradingPartner="TBNC"
		/>
		<x-ref
			description="Primary Option"
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="TBOA"
		/>
		<x-ref
			description="Standard Option"
			functionMask="FFFF"
			mhg="FISHING_INDUSTRY"
			tradingPartner="TBOB"
		/>
		<x-ref
			description="Remedi"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="TBS"
		/>
		<x-ref
			description="Comprehensive Option"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="TBSB"
		/>
		<x-ref
			description="Standard Option"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="TBSA"
		/>
		<x-ref
			description="SAPPHIRE"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="TBTA"
		/>
		<x-ref
			description="Classic Option"
			functionMask="FFFF"
			mhg="REMEDI"
			tradingPartner="TBSC"
		/>
		<x-ref
			description="BERYL"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="TBTB"
		/>
		<x-ref
			description="RUBY"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="TBTC"
		/>
		<x-ref
			description="EMERALD"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="TBTD"
		/>
		<x-ref
			description="ONYX"
			functionMask="FFFF"
			mhg="GEMS"
			tradingPartner="TBTE"
		/>
		<x-ref
			description="GUARDIAN"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="TBV5"
		/>
		<x-ref
			description="State Plus Network"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="TBVL"
		/>
		<x-ref
			description="State Plus Own Choice"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="TBVN"
		/>
		<x-ref
			description="ABSENTEE MEMBER STATUS (ACTIVE)"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="TBVS"
		/>
		<x-ref
			description="Private Cover Plus Savings Account"
			functionMask="FFFF"
			mhg="TRANSMED"
			tradingPartner="TBVT"
		/>
		<x-ref
			description="IMPERIAL"
			functionMask="FFFF"
			mhg="IMPERIAL"
			tradingPartner="TBU"
		/>
		<x-ref
			description="MEDIPOS"
			functionMask="FFFF"
			mhg="MEDIPOS"
			tradingPartner="TB7"
		/>
		<x-ref
			description="SAMWU"
			functionMask="FFFF"
			mhg="SAMWU"
			tradingPartner="TBQ"
		/>
		<x-ref
			description="TEMPORARY: Shaun reddy to confirm missing code reason."
			functionMask="FFFF"
			mhg="POLMED"
			tradingPartner="HB5A"
		/>
	</destination-x-ref>
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="IR0b0t"
			DbUrl="jdbc:sybase:Tds:cptlsyb92.za.mhgad.com:7500/JBAUDIT"
			DbUserName="traffic"
			logTable="Healthbridge"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="*"
			/>
		</claimsLogger>
	</logger>
</Enviroments>

