<Enviroments>
	
	<time-zone_
		help="optional"
		reason="fix jdk1.4 bug on Solaris"
	>
		GMT-2
	</time-zone_>
	<server
		__system_out="default"
		autoTestConnectorsOnStartup="false"
		diagPort="28015"
		logConfigFile="log4j.xml"
		name="HealthWCape"
		port="28014"
		tradingPartner="HealthWCape"
		trxAbortSizeLimit="64000"
		trxSizeLimit="48000"
	/>
	
	<env
		mhgAccount="PILIR"
		name="PILIR"
	>
		
		<pool
			autoDisable="true"
			autoDisableOnSyncStart="true"
			autoEnable="true"
			autoEnableOnSyncEnd="true"
			autotimeout="120000"
			connections="10"
			dropClientOnError="false"
			hostname="lbs-appall-acp1.za.mhgad.com"
			id="COBOL"
			poolMaxWaitTime="28000"
			port="9110"
			startDisabled="false"
			stickyStandin="false"
			useSoTimeOut="false"
			waitForSyncToFinishTimeout="40000"
		/>
	</env>
	
	<transaction
		class="InterfaceTransactions.Generic.GenTransaction"
	/>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<pool-definitions-file
		name="pool.xml"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
		28016
	</snmp-port>
	<tailWatchServer
		id="HealthWCape"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="28018"
	/>
	<diagTailWatchServer
		id="HealthWCape"
		multicast-host-ip=""
		multicast-port="-1"
		tcpipPort="28019"
	/>
	<synchronous-transactions	>
		true
	</synchronous-transactions>
	<transaction-x-ref	>
		
		<x-ref
			description="Elegibility check"
			functionNo="0001"
			mhg="ELCHECK"
			tradingPartner="1"
		/>
		<x-ref
			description="Realtime Pharmacy Medicine claims"
			functionNo="000A"
			mhg="REALCLM"
			tradingPartner="2"
		/>
		<x-ref
			description="Realtime doctor Medicine claims"
			functionNo="0002"
			mhg="REALCLM"
			tradingPartner="3"
		/>
		<x-ref
			description="Realtime doctor claims"
			functionNo="0004"
			mhg="REALCLM"
			tradingPartner="4"
		/>
		<x-ref
			description="Ping"
			functionNo="0008"
			isPingOrHandshake="true"
			mhg="PING"
			tradingPartner="127"
		/>
		<x-ref
			description="Realtime doctor"
			functionNo="0010"
			mhg="REALCLM"
			tradingPartner="5"
		/>
	</transaction-x-ref>
	<destination-x-ref	>
		
		
		<x-ref
			description="PILIR: DoH COVID19 Eastern Cape"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVEC"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Free State"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVFS"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Gauteng"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVGP"
		/>
		<x-ref
			description="PILIR: DoH COVID19 KwaZulu-Natal"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVKZ"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Limpopo"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVLP"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Mpumalanga "
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVMP"
		/>
		<x-ref
			description="PILIR: DoH COVID19 North West"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVNW"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Northern Cape"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVNC"
		/>
		<x-ref
			description="PILIR: DoH COVID19 Western Cape"
			functionMask="FFFF"
			mhg="PILIR"
			tradingPartner="DOHCOVWC"
		/>
					
		
	</destination-x-ref>
	<logger
		classname="InterfaceTransactions.Diagnostics.GenericLogger"
		logDirectory="log/accesslog"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
	>
		
		<claimsLogger
			DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
			DbPassword="IR0b0t"
			DbUrl="jdbc:sybase:Tds:sybdb-admin-jbaudit-acpt:7500/JBAUDIT"
			DbUserName="traffic"
			logTable="HealthWCape"
			maxpoolsize="2"
			minpoolsize="1"
			poolId="generic"
			timeout="600000"
		>
			
			<logTransactions
				desc="comma seperated list of transactions to log"
				value="REALCLM,TRGXML01,CHGCLAIM,SOLAUTH"
			/>
		</claimsLogger>
	</logger>
</Enviroments>

