<?xml version="1.0"?>
<Enviroments>
	<!-- Global Server Parameters -->
	<server
		trxSizeLimit="512000"
		trxAbortSizeLimit="512000"
		name="PPN"
		port="20855"
		diagPort="20856"
		logConfigFile="log4j.xml"
		__system_out="default"
	/>

	<!-- List of Environments that this server can talk to -->
	<env name="AMED">
		<pool
			useSoTimeOut="false"
			stickyStandin="false"
			autoDisableOnSyncStart="true"
			autoEnableOnSyncEnd="true"
			dropClientOnError="false"
			startDisabled="false"
			waitForSyncToFinishTimeout="40000"
			autoDisable="true"
			autoEnable="true"
			id="COBOL"
			hostname="cptlapp90.za.mhgad.com"
			port="9106"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="28000"
		/>
		<pool
			id="EJB"
			hostname="cptlacp01.za.mhgad.com"
			port="1099"
			connections="100"
			autotimeout="120000"
			poolMaxWaitTime="10000"
		/>
	</env>

	<env name="POLMED">
		<pool
			id="COBOL"
			useSoTimeOut="false"
			stickyStandin="false"
			autoDisableOnSyncStart="true"
			autoEnableOnSyncEnd="true"
			dropClientOnError="false"
			startDisabled="false"
			waitForSyncToFinishTimeout="40000"
			autoDisable="true"
			autoEnable="true"
			hostname="cptlapp90.za.mhgad.com"
			port="9109"
			connections="10"
			autotimeout="120000"
			poolMaxWaitTime="28000"/>
		<pool
			id="EJB"
			hostname="cptlacp01.za.mhgad.com"
			port="1099"
			connections="100"
			autotimeout="120000"
			poolMaxWaitTime="10000"
		/>
	</env>

	<transaction
		class="InterfaceTransactions.Generic.GenTransactionPlainTextInput"
	/>
	<transaction-header
		class="InterfaceTransactions.Generic.GenHeaders"
	/>
	<snmp-port
		mibFile="mibs.xml"
	>
	20857
	</snmp-port>
	<pool-definitions-file
		name="pool.xml"
		defaultCOBOL_ConnectorClass="InterfaceTransactions.TcpPool.Connectors.Cobol.CobolConnector"
	/>

	<transaction-x-ref>
		<xref
			tradingPartner="1"
			mhg="ELCHECK"
			functionNo="0001"
			description="Elegibility check"
		/>
		<xref
			tradingPartner="2"
			mhg="REALCLM"
			functionNo="000A"
			description="Realtime Pharmacy Medicine claims"
		/>
		<xref
			tradingPartner="3"
			mhg="REALCLM"
			functionNo="0002"
			description="Realtime doctor Medicine claims"
		/>
		<xref
			tradingPartner="4"
			mhg="REALCLM"
			functionNo="0004"
			description="Realtime doctor claims"
		/>
		<xref
			tradingPartner="5"
			mhg="REALCLM"
			functionNo="0010"
			description="Realtime doctor"
		/>
		<xref
			tradingPartner="6"
			mhg="POJAS_SOL_VALIDATE_PATIENT"
			functionNo="FFFF"
			description="POJAS_SOL_VALIDATE_PATIENT"
		/>
		<xref
			tradingPartner="127"
			mhg="PING"
			functionNo="0008"
			isPingOrHandshake="true" description="Ping"
		/>
	</transaction-x-ref>

	<destination-x-ref>
		<xref
			tradingPartner="PA001"
			mhg="AMED"
			functionMask="FFFF"
			description="BANKMED: Dentists"
		/>
		<xref
			tradingPartner="PA002"
			mhg="AMED"
			functionMask="FFFF"
			description="BANKMED: Pathologists"
		/>
		<xref
			tradingPartner="PA003"
			mhg="AMED"
			functionMask="FFFF"
			description="BANKMED: Specialists"
		/>
		<xref
			tradingPartner="PA004"
			mhg="AMED"
			functionMask="FFFF"
			description="BANKMED:Optometrists"
		/>
		<xref
			tradingPartner="PA005"
			mhg="AMED"
			functionMask="FFFF"
			description="BANKMED:Radiologists"
		/>
		<xref
			tradingPartner="PA006"
			mhg="AMED"
			functionMask="FFFF"
			description="BANKMED: Oncologists "
		/>
		<xref
			tradingPartner="PA007"
			mhg="AMED"
			functionMask="FFFF"
			description="BANKMED: Physiotherapists"
		/>
		<xref
			tradingPartner="PA008"
			mhg="AMED"
			functionMask="FFFF"
			description="BANKMED: Other"
		/>
		<xref
			tradingPartner="PA009"
			mhg="AMED"
			functionMask="FFFF"
			description="BANKMED: Doctors (GP)"
		/>
		<xref
			tradingPartner="P5001"
			mhg="POLMED"
			functionMask="FFFF"
			description="POLMED: Dentists"
		/>
		<xref
			tradingPartner="P5002"
			mhg="POLMED"
			functionMask="FFFF"
			description="POLMED: Pathologists"
		/>
		<xref
			tradingPartner="P5003"
			mhg="POLMED"
			functionMask="FFFF"
			description="POLMED: Specialists"
		/>
		<xref
			tradingPartner="P5004"
			mhg="POLMED"
			functionMask="FFFF"
			description="POLMED:Optometrists"
		/>
		<xref
			tradingPartner="P5005"
			mhg="POLMED"
			functionMask="FFFF"
			description="POLMED:Radiologists"
		/>
		<xref
			tradingPartner="P5006"
			mhg="POLMED"
			functionMask="FFFF"
			description="POLMED: Oncologists "
		/>
		<xref
			tradingPartner="P5007"
			mhg="POLMED"
			functionMask="FFFF"
			description="POLMED: Physiotherapists"
		/>
		<xref
			tradingPartner="P5008"
			mhg="POLMED"
			functionMask="FFFF"
			description="POLMED: Other"
		/>
		<xref
			tradingPartner="P5009"
			mhg="POLMED"
			functionMask="FFFF"
			description="POLMED: Doctors (GP)"
		/>
	</destination-x-ref>

	<tailWatchServer
		id="PPNPat"
		tcpipPort="20858"
		multicast-host-ip=""
		multicast-port="-1"
	/>

	<diagTailWatchServer
		id="PPNPat"
		tcpipPort="20859"
		multicast-host-ip=""
		multicast-port="-1"
	/>

	<inputDataServer
		id="PPNPat"
		tcpipPort="20860"
		multicast-host-ip=""
		multicast-port="-1"
	/>

	<logger
		classname="InterfaceTransactions.Diagnostics.SolutioLogger"
		logFileRefreshInterval="Daily"
		processSleepTime="1000"
		logDirectory="log/PPN/accesslog">

		<claimsLogger
				poolId="generic"
				DbDriverName="com.sybase.jdbc3.jdbc.SybDriver"
				DbUrl="jdbc:sybase:Tds:cptlsyb92.za.mhgad.com:7500/JBAUDIT"
				logTable="PPN"
				DbUserName="pojas"
				DbPassword="newmed"
				minpoolsize="1"
				maxpoolsize="2"
				timeout="600000">
				<logTransactions
					desc="comma seperated list of transactions to log"
					value="REALCLM,TRGXML01,CHGCLAIM,PPNAUTH"
				/>
		</claimsLogger>
	</logger>
</Enviroments>
